[2013-05-20 19:09] jmorse opened #94 "Regression tests should have a "no simplify" mode"
I've noticed that at least one test (01_cbmc_Fixedbv8) only works because the assertion is simplified out; the actual implementation of the operation it tests in the SMT backend is broken.

We should be able to run our regression tests in some kind of 'no simplify' mode (i.e. with the --no-simplify option) so that we know all our behaviours are correct in the way we're modeling them, and there isn

[2013-05-25 17:39] jmorse opened #93 "Exception related assertions should be optional"
I.E, some option of the form --no-exception-assertions, or something to turn off the "Unhandled" claims. We might end up needing to disable this in a future TACAS competition or something.

[2013-05-26 12:20] jmorse opened #92 "Track pointer values through integer casts"
Basically, we loose all pointer tracking data after casting the pointer to an integer, which alas happens occasionally (see: CIL).

Why not instead, track pointer values through integers, i.e. "this integer might point at this object". That would vastly simplify the SMT casting to and from of these values, and mean that at symex time we can determine what a pointer ''might'' point at, meaning we c

[2013-05-28 13:19] jmorse opened #91 "Consider propagating assignments"
After wrangling a problem with inlining, it turns out that turning it off in tests like esbmc-cpp/esbmc-algorithm/algorithm109, it can make a difference of at least an hour (with a SSA program size 1/4 of the size). The only thing I can think this is due to is the reduced number of assignments between variables and function argument variables in the course of a function call, although I haven't te

[2013-06-01 10:26] jmorse opened #90 "Stack trace printing in cex is poor"
i.e., it's not clear which function the line number belongs to. Could be a lot better.

[2013-06-27 19:28] jmorse opened #89 "More multi-dimensional-array tests"
Given how often we run into errors with these, there should be many many more tests that feature them.

[2013-07-03 15:43] jmorse opened #88 "Distinguish array and struct 'with''s"
Currently more than a little code is devoted to working out when a 'with' applies to a struct or an array, and making decisions based on that. If we changed array operations to 'store' instead, everyone would be a lot happier.

[2013-07-18 22:12] jmorse opened #87 "Smtlib printing needs tweaking"
Particularly the fact that most solvers don't like '\' characters, at all, and when bitvectors are printed they should never be negative.

[2013-08-22 19:35] jmorse opened #86 "Leaked memory detection won't work in --schedule"
Due to some fixes just applied on the 'mpor' branch to stop it from crashing. This is a minor problem.

[2013-09-06 15:10] jmorse opened #85 "value_sett::object_numbering is bad (in general)."
It's:
- A global
- Static
- Not thread safe
- Retains all pointed-at objects, inflating memory usage

And can totally be eliminated now that cheap-ish expression hashing exists.

[2013-09-11 15:17] jmorse opened #84 "Header inclusion pulls in a lot of the C library, unnecessarily."
That is; if you include stdio.h say, then there are references everywhere for all the IO functions, and so they get pulled into the final program.

Possibly instead the set of functions that are called in should be used to work out how much of the C library to include.

[2013-09-13 01:32] jmorse opened #83 "Consider replacing the int-to-pointer conversion code."
Right now in SMT, when you convert an int to a pointer, it gets converted to a gigantic ITE chain that tests whether the int representation of the pointer is in a particular range. This might be more efficiently represented as a free pointer with some implications applied to it.

This can be benchmarked to death.

[2013-10-13 18:11] jmorse opened #82 "Investigate a 'switch' irep"
Given a vector of guards and expressions, we can avoid encoding a very long if-chain by producing a free variable, then asserting values into the free variable using an implication. I.E in not-even-pseudo-code:

type something = new free variable;
assert guard-a-is-true -> something == value1;
assert guard-b-is-true -> something == value2;
...
assert guard-n-is-true -> something == valuen;

This w

[2013-10-23 03:04] jmorse opened #81 "Generate some memory model regression tests"
We need a set of tests that cover all combinations of dereferencing differently typed objects through differently typed pointers, with different offsets, const and dynamic. Otherwise, the way it works will randomly change.

[2013-11-15 03:53] jmorse opened #80 "Nonexistant bit operators can be deleted."
For example: "bvnxor". Nothing generates this irep. Yet there must be roughly a hundred lines of boilerplate scattered around to accommodate it. (I suspect it's inherited from CBMCs hardware interaction stuff).

[2013-11-17 14:08] jmorse opened #79 "Test for oversized or negative shift operands"
C99's 6.5.7.3 dictates that if the right hand operand of a shift operation is either negative or >= the bitwidth of the operand, then the behaviour is undefined. However, we don't assert for or against this.

This is an issue because boolector will only accept shift operands where the shift amount is a of width log2(lhs_bitwidth), i.e. neither negative nor large enough to shift a number all the wa

[2013-11-17 15:45] jmorse opened #78 "Assertion not printed on memory deref failures"
In some cases, an assertion isn't printed when a dereference fails. This can be replicated in c380f763 in 03_nec13 with boolector. I figure it's because the memory dereference is being sliced out, but the assertion about its correctness isn't, leaving nothing to be printed as the failing instruction.

[2013-11-17 16:17] jmorse opened #77 "Eliminate big-int's to_{u,}long"
In favour of to_{u,}int64. 'long' is too machine dependant for me.

[2013-11-22 00:45] jmorse opened #76 "Implement a dereference cache"
Looking at C++ performance stuff, we do spend some time repeatedly dereferencing 'this', i.e. what the current object is. And for the majority of object code, 'this' doesn't change very often and points at the same object (or set of objects). So, we might benefit from caching expressions built to access members of 'this' or other dereferenced pointers. So long as it isn't renamed to level 2, it ca

[2013-12-03 15:36] jmorse opened #75 "C++ frontend accepts arrays of void"
Example program:

https://gist.github.com/jmorse/c52d7250e4c1b8b91456

This is rejected by g++ and clang++, but accepted by ESBMC. While I don't think detecting 100% of compilation problems is going to happen, this one is particularly painful because the C++ library uses and depends on this (undefined) behaviour.

[2013-12-09 15:50] jmorse opened #74 "Try to eliminate claim duplication"
One (longer term) simplification we could perform is checking that we're not repeatedly issuing the same assertions about something. For example, repeatedly asserting that a pointer (that hasn't been modified) isn't null. This would reduce the number of claims and hopefully the amount of SMT/SSA that gets converted.

[2013-12-23 23:45] jmorse opened #73 "Eliminate C++ components in types during conversion"
Previously I mangled the GOTO conversion code to flatten all 'symbol' types, so that there wasn't a need to resolve type names at symex time. That saved a large amount of memory, because ESBMC didn't have to repeatedly look up and duplicate types during code interpretation.

However this is a pain in the neck when dealing with C++ code, because the entirety of the class definition is baked into th

[2014-01-12 01:55] jmorse opened #72 "Ditch 'invalid object' assignments"
When we fail to dereference something, a read to a 'invalid_object' symbol with some unique numbering occurs, so that the SMT formula is well formed. That means we can encode the expressions to SMT and encounter the relevant assertion failure; or not if the guard is nondeterministically false at that point.

Anyhoo, these invalid object symbols can turn into assignments if they're on the lhs of a

[2014-01-14 14:28] jmorse opened #71 "MacOS 64-bit size_t's bleed through into ESBMC"
Fisch is encountering some 64-bit size_t's when running some ESBMC tests, using the --64 option. This actually shouldn't happen, because by design size_t should remain 32 bits at all time (the underlying pointer munging code for malloc isn't robust enough).

This leads to some malformed SMT that causes Z3 errors. However more peculiar is that it doesn't happen when running without --64. That means

[2014-01-22 19:49] jmorse opened #70 "Benchmark putting alignment assertion in pointer assignment"
The C spec says that even just pointer values that aren't correctly aligned for the type of the variable cause undefined behaviour. In theory we could apply the alignment assertion on each recalculation of a pointer, catching errors earlier and possibly with fewer assertions injected from dereferences.

[2015-04-10 23:02] jmorse opened #69 "Detect whether we can build 32/64 bit C libraries"
Prior to 7989562d, the sv-comp benchmark pthread/sigma_false-unreach-call.i croaked saying that time_t's definition differed between the benchmark and the machine esbmc was compiled on. This seems really really unlikely, because it used to work, and nothing has really changed. Except, uh, autotools.

This is really really fishy, but I can't look at it at this exact moment.

[2015-06-08 11:03] jmorse opened #68 "Constant offset sometimes not detected during dereference"
In esbmc/esbmc#60, with the code in [0], we ultimately decompose the struct-type assignments into byte array operations, because malloc allocates arrays of bytes. This is fine. However, the dereferencing process doesn't appear to correctly identify that the index into the malloc'd 'out' array is constant (when unrolled). This results in a lot of dynamic operations on the array, which is going to b

[2015-06-18 00:00] jmorse opened #67 "pthreadtypes.h redefines __clockid_t inconsistently on different platforms"
This C++ test:

https://gist.github.com/jmorse/85d2d244fc1c913e77a2

Does not compile on ubuntu:

<pre>
~/esbmc ~/2mutex_wait_c++.cpp -I ~esbmc/cpp/includes
ESBMC version 1.25.4 64-bit x86_64 linux
file /home/jmorse/2mutex_wait_c++.cpp: Parsing
Converting
Type-checking /home/jmorse/2mutex_wait_c++.cpp
file pthread.h line 606: found no match for symbol `__clockid_t', candidates are:
  type int
  ty

[2015-06-18 17:46] jmorse opened #66 "Phi functions with identical outcomes should be flattened"
i.e., if an if-then-else has the same expression on either side, we should eliminate it. This isn't an existing simplification.

[2016-01-07 11:43] mikhailramalho opened #65 "Infinite loop (?) on symbolic execution"
OBS: the new llvm frontend is required in order to reproduce this error.

The program in [1] causes esbmc to hang during symbolic execution. Maybe an infinite loop.

Symex trace shows:

[code]

[2016-09-02 08:46] lucasccordeiro opened #64 "C++ front-end is broken since ESBMC v3.0"
If we run ~/esbmc-private/src/esbmc/esbmc double-linked-list.cpp double-linked-list_app.cpp -I ~/esbmc-private/src/cpp/library/, ESBMC reports:
[code]
The C++ front-end seems to be completely broken since ESBMC v3.0. Is it related to some refactoring about structs/unions?

Here are the files:
[code]

[2016-09-09 20:21] lucasccordeiro opened #63 "Segmentation fault (core dumped)"
ESBMC crashes in this particular C++ example:
[code]

[2016-09-23 14:54] lucasccordeiro opened #62 "simplify reachability tree using incremental SMT solving"
Consider the following multi-threaded C program:
[code]
- If we run this program as

$time esbmc test.c --z3

then we get 386 thread interleavings in aprox. 1s.
- If we run this program as:

$time esbmc test.c --smt-during-symex --smt-thread-guard --smt-symex-guard --z3

then we get 173 thread interleavings in aprox. 5s.
- If we run this program as:

$time esbmc test.c --smt-during-symex --smt-sym

[2016-09-27 09:01] lucasccordeiro opened #61 "Try-catch is broken for simple C++ programs"
If we run
$ ~/esbmc-v3.0.2-linux-64/bin/esbmc main.cpp

ESBMC fails to detect the assertion violation in the following program:
**\* Exception thrown of type signed_int at file main.cpp line 4
**\* Caught by catch(signed_int) at file  line
Symex completed in: 0.000s
size of program expression: 12 assignments
Slicing time: 0.000s
Generated 0 VCC(s), 0 remaining after simplification
VERIFICATION SUC

[2016-10-27 09:36] lucasccordeiro opened #60 "terminate called after throwing an instance of 'array_type2t::dyn_sized_array_excp*'"
ESBMC fails for this particular program when we call it as:

esbmc main.c --unwind 10
[code]

[2016-12-11 18:04] mikhailramalho opened #59 "Add support for __ESBMC_array_of(foo) to the frontend"
As discussed in issue esbmc/esbmc#131, we can avoid the loop by using a new reserved function __ESBMC_array_of(foo).

This can be easily done on both frontends (the C++ frontends won't need to be changed).

[2016-12-13 12:26] mikhailramalho opened #58 "Keep minimal context across runs in incremental-bmc"
As discussed in issue esbmc/esbmc#119, we were adding symbols with same name but different types to the context and everything went bananas.

I just remembered that namespacet has actually two contexts. Every search eventually goes through:
[code]
which searches in both contexts.

Currently, the two contexts are used by the frontend to merge contexts from different translation units but we can ext

[2016-12-15 18:58] lucasccordeiro opened #57 "apply incremental SMT to goto_symext::claim"
@jmorse: Is there some way to stop the symbolic execution as soon as we find a property violation during incremental SMT?

Take a look at this code:

[code]

As soon as we get FALSE, I would like to stop the symbolic execution and report the counterexample.

[2016-12-19 01:26] jmorse opened #56 "De-stitching in value_sett drops alignment information"
An sv-comp bodge in value_sett currently extracts a variety of pointer information from chains of concats / byte_extracts / bitcasts by simply ignoring those ireps. However, they change the alignment of the corresponding pointed-at exprs. At the very least the alignment information should be dropped

(This is sv-comp cleanup).

[2016-12-19 01:32] jmorse opened #55 "Over-stitching of pointer accesses when dereferencing"
`dereferencet::construct_from_dyn_offset` receives a _scalar_ variable and a type, and a dynamic offset into the scalar variable from which data will be extracted. Most of the time we're extracting matching types, so an integer from an integer, and this function does very little.

However the test it makes to decide whether types 'match' is base_type_eq, which requires that the types of pointers m

[2016-12-31 15:24] lucasccordeiro opened #54 "terminate called after throwing an instance of 'type2t::symbolic_type_excp*'"
This C file was generated by means of GCC pre-processing.

[gcc_output_esbmc.c.zip](https://github.com/esbmc/esbmc-private/files/679694/gcc_output_esbmc.c.zip)

$esbmc gcc_output_cbmc.c --no-bounds-check --no-pointer-check --no-div-by-zero-check --clang-frontend

[code]

CBMC is able to correctly verify it in less than 5 seconds (if we replace __ESBMC_assume by __CPROVER_assume).

[2017-01-16 20:11] mikhailramalho opened #53 "Possible memory leak on migrate_type"
I'm testing a [program](https://gist.github.com/mikhailramalho/157207de1a182afd1fbbaa90ae051042) that Genarro sent me (it's more than 90KLOC) and ESBMC is using a massive amount of memory during symex.

While CBMC uses around 3GB, ESBMC uses 17GB+ memory. Compiling using the [leak sanitizer](http://clang.llvm.org/docs/LeakSanitizer.html), the GOTO model generation fails because the c2goto binary i

[2017-01-31 19:40] mikhailramalho opened #52 "Improve incremental BMC by generating a single SSA"
Right now, we have stuff like:
[code]

The symex code runs twice for each k (three times for k-induction). It's usually the most expensive step of the verification along with the slicer.

We could instead:
1. Add new flags to the SSA assignments to whether or not it should be converted for the current step (maybe we can extend the ignored flag from bool to an enum: IGNORE, BASE_ONLY, FORW_ONLY and

[2017-02-09 19:53] mikhailramalho opened #51 "Support custom sized bitvectors"
Request from the cseq team.

They're using frama-c to do some interval analysis and define custom bitvectors with arbitrary size. In a number of cases, the verification time is much smaller.

CBMC uses this weird semantic:
__CPROVER_bitvector[10] a;

Obviously, the clang frontend will not allow that, even if we define the __CPROVER_bitvector type.

The easiest solution I could come up is to use so

[2017-02-09 19:56] mikhailramalho opened #50 "Why don't we do value-set analysis for constants?"
Consider the following program:
[code]

ESBMC calls the solver for this program, but if we're using value-set analysis not only for pointers, we could statically solve this problem.

Of course, that will most likely increase the memory usage.

[2017-02-20 16:28] jmorse opened #168 "Expand autoconfiscation reach"
We're now shipping things not just in src, which means we might have to get autoconf to do some magic from the root dir of ESBMC. The simple approach would be to just put a couple of Makefile.ams in the relevant directories and then get configure to call into the 'src' dir. The hard part will be swallowing additional autoconf everywhere :/

[2017-05-28 19:23] lucasccordeiro opened #49 "Configure TRAVIS CI to run ESBMC regression tests"
@feliperodri: can you please talk to Lennon to configure TRAVIS CI in order to run the ESBMC regression for every commit in github? Lennon has already done this for the DSVerifier project.

[2017-05-30 15:16] jmorse opened #48 "pkg-config isn't on ubuntu by default"
I'm experimenting with what people will experience if they install ESBMC on a ubuntu VM by default. The answer is that autoconf acts weird, but I'm not sure it's our fault.

One problem though is that pkg.m4, which provides the ability to look up pkg-config config files, for example for python, doesn't seem to exist on a default ubuntu install unless you ask for it. This is an issue because m4 jus

[2017-06-02 13:46] guhetier opened #2 "False "array bound violated error" of two dimension arrays"
A failing assertion over a value on the second column of a two dimension array
raise the error `array bounds violated` instead of the assertion violation message.

A minimal example follows :

[code]

Error trace :
[code]

[2017-06-02 13:55] guhetier opened #3 "Invalid assertion on two dimension array value with non-determinstic index"
ESBMC detect an invalid assertion violation when :

- the assertion condition is about a value in a two dimension array
- an index get a non-deterministic value, that is forced to a specific value by pruning all values but one

ESBMC seems to process correctly assertions about the value of the non-deterministic index alone, or
about the value in the array with constant indexes.

[code]

Trace :

[

[2017-06-05 16:54] #2 closed, assigned to mikhailramalho

[2017-06-07 16:59] #3 closed, assigned to nobody

[2017-07-01 12:42] jmorse opened #47 "value set xchg values not erased"
As observed with Mikhail right now value_sett::__ESBMC_xchg_ptr@61!0[]  and so forth keep on popping up in the value set tracking, where they should be deleted.

[2017-07-05 11:33] lucasccordeiro opened #46 "No clang <=> ESBMC migration for type BlockPointer"
$esbmc generated_code.c

No clang <=> ESBMC migration for type BlockPointer
BlockPointerType 0x7fe30907ad40 'void (^)(void)'
`-ParenType 0x7fe30906c230 'void (void)' sugar
  `-FunctionProtoType 0x7fe30904d2b0 'void (void)' cdecl
    `-BuiltinType 0x7fe309007120 'void'
CONVERSION ERROR

[generated_code.c.zip](https://github.com/esbmc/esbmc-private/files/1124465/generated_code.c.zip)

[2017-07-07 15:55] mikhailramalho opened #45 "Argument assignment triggers array bounds violated"
Related to issue esbmc/esbmc#192.

Verifying the following program with --incremental-bmc:
[code]

Triggers an array bounds violation on the while (line 3), but only on the version with the function call.

The following SSAs are only generated in the version with the function call:
[code]

[2017-11-01 14:11] jmorse opened #44 "Kill off type_eq files"
Hi,

    "No project is complete until there is nothing left to delete"

-- me, just now.

Take a look at the "type_eq" facility, with `git grep "[^_]type_eq"`. It's used in one place,
`cpp_typecheckt::find_constructor`, and doesn't appear to actually do much except perform type comparisons that blast through symbolic types. This *might* already be provided by the base_type_eq facility.

Would som

[2017-11-13 16:13] jmorse opened #43 "pls2test symex performance wrangling branch"
Hi,

If there's time on Iridis, it'd be great if the tip of the `kill_obj_numbering` branch could be evaluated, specifically 6991aac2 as I might do more work.

That branch originally started as me trying to kill off the silly value set reference number tracking crazy. Once that was done I figured we might be losing performance by having the pointer `value_sett` tracking and `renaming::level2t` map

[2017-11-13 21:20] mikhailramalho opened #42 "Missing __builtin* models?"
Running the following command in the output of all benchmarks:

[code]

(I thought the clang frontend would resolve the calls to the actual functions, but that's not the case, even if we force -fno-builtin).

Well, at least __builtin_memcpy have to be model, or we'll give wrong results.

Not sure about the others.

[2017-11-26 15:02] mikhailramalho opened #41 "Question about the static pointer analysis"
This is related to the k-induction and the nondeterministic assignments.

Out inductive step is always assigning a non deterministic symbol to any pointer that changes value inside a loop,  meaning that there will be always a violation and we can't prove a number of programs.

Thus my question about the static pointer analysis (which is disabled now but the code is still there). Is it possible to

[2017-11-29 12:23] jmorse opened #40 "Check that invalid function pointers trigger assertions"
See title -- we should encode an assertion that a function pointer actually points at only legal targets that can be called. If it points at anything else, that's an error, or would have been an error if a call went there (such as a function with mismatching arguments or a data object).

[2017-12-06 20:49] lucasccordeiro opened #39 "How much do we propagate in terms of constants in ESBMC?"
Dear all,

How much do we propagate in terms of constants in ESBMC?

I have just tried this example and realised that we don't propagate all constants:

[code]

ESBMC: `Generated 10 VCC(s), 10 remaining after simplification (245 assignments)`
CBMC: `Generated 10 VCC(s), 0 remaining after simplification`

[2017-12-31 14:03] pmatos opened #4 "std:bad_cast on csmith"
Hi,

Got a `std:bad_cast` on esbmc running on generated test for compilers.
Attached file. Ran command line:
[code]
[prog.i.gz](https://github.com/esbmc/esbmc/files/1595211/prog.i.gz)

[2018-01-03 16:42] mikhailramalho opened #38 "Exception when trying to calculate the size of array"
Just found this by accident:
https://gist.github.com/mikhailramalho/2a8a1963b2b6d548ca0bacebbe8364a8

ESBMC crashes when trying to convert the address-of operation of &a[0], because the size is a symbol:
[code]

Possible solutions:
1.  Call rename on the type2tc, something that we already do for expr2tc. It'll make esbmc (slightly?) slower. CBMC implements this.

2. The crash happens in the SMT ba

[2018-02-07 14:05] jmorse opened #37 "Do nested arrays/structs even work?"
Hi,

One question that came up recently when talking to Mikhail was whether or not any of our solutions to SMT representations of tuples and arrays work. The problem is thus:

    struct {
      struct {
        struct {
          int foo;
        } bar[16];
        int baz;
      } qux[16];
      int quux;
    } xyzzy[16];

That's a nested set of structs and arrays, three levels deep. SMT does *n

[2018-03-21 10:52] afilieri opened #5 "Boost.Python.ArgumentError in callintercept.py"
Hi,

Thanks for your work on ESBMC.

I was trying to run the python interface example but got an exception on my machine. Here are the details:

[code]

I am using Ubuntu 17.10 64bit. I have installed from the official Ubuntu repo, among the others dependencies:
- libboost-all-dev 1.62.0.1
- libboost-python1.62.0+dfsg-4build3

ESBMC has been configured with the following parameters:
`./configure -

[2018-05-01 13:00] lucasccordeiro opened #36 "Remove the C++ frontend"
Since we started migrating to clang, the old C++ frontend of ESBMC does not seem to work anymore. My suggestion is that we remove this old C++ frontend completely.

[2018-06-01 18:24] DonatoClun opened #6 "problem with the SMTLIB solver interface"
Hi

I think there is a problem with the SMTLIB interactive text interface. In smtlib_conv.cpp there are functions (e.g. mk_ite) that just call themselves, entering an infinite loop.

To notice the problem it is sufficient to output the verification conditions to a file (parameters `--smtlib --output outfile.smt`). The process will not terminate.

Anyway, thank you for releasing the new version of

[2018-06-20 16:23] zitounh opened #7 "Export C to smt2 (Floating point)"
Hi,

I tried to use the latest version of esbmc (esbmc-v5.0.0-linux-static-64.tgz) to export C code with floating point computation to smt2 format.

I tried with thoses options :  --mathsat --unwind 25 --smt-formula-only --floatbv

For the latest version of esbmc --mathsat seems to no longer be handle ?
OUTPUT :
The mathsat solver has not been built into this version of ESBMC, sorry
Aborted

I tri

[2018-07-23 12:51] #6 closed, assigned to nobody

[2018-09-05 20:10] DonatoClun opened #8 "smtlib solver interface not working with arrays"
Hi,
I just noticed that in the current version (5.1.0 compiled from the source files) the smtlib interface does not work when the program to be analysed uses arrays, or when you specify to use integer/real arithmetic (because it internally uses an array).

Parameters: `--smtlib --output test.smt`

Result:
[code]

Best,
Donato

[2018-11-24 22:06] lucasccordeiro opened #35 "[Incorrect false] Missing models for pthread_key_create, pthread_getspecific and pthread_setspecific"
ESBMC does not have the models of the functions `pthread_key_create`, `pthread_getspecific` and `pthread_setspecific`.

I would recommend to change our wrapper script to detect these messages and then provide "unknown" as verification result.

How to reproduce:

./esbmc-wrapper.py -p ../../sv-benchmarks/c/ConcurrencySafety.prp -s kinduction ../../sv-benchmarks/c/pthread-divine/tls_basic_true-unrea

[2018-11-25 13:49] mikhailramalho opened #34 "Crash on the busybox category"
There are 13 crashes in the busybox category:

https://sv-comp.sosy-lab.org/2019/results/results-verified/esbmc-kind.2018-11-22_2154.results.sv-comp19_prop-memsafety.Systems_BusyBox_MemSafety.xml.bz2.merged.xml.bz2.table.html

ESBMC either segfaults or aborts with a message:
[code]

[2019-01-08 09:45] b0207191 opened #9 "question about compling the esbmc"
Hi Sir:
    I am trying to complie esbmc on ubuntu 18.04, and it doesn’t work as following:

checking for clang... /usr/bin/clang
checking if clang > 5.9... yes (7.0)
checking clang include directory... no
configure: error: Cannot find clang; please pass it in --with-clang argument

I think I have installed clang on ubuntu,
/esbmc-master/src# whereis clang
clang: /usr/bin/clang /usr/lib/clang /usr

[2019-01-14 14:50] lucasccordeiro opened #33 "Integrate Z3 string solver in ESBMC"
This issue is to remind us that if we get some spare time, we could integrate Z3 string solver in ESBMC to speed up performance when checking for satisfiability of strings. Further details on https://rise4fun.com/Z3/tutorialcontent/sequences

[2019-01-28 17:20] lucasccordeiro opened #32 "Enable parallel SAT solving in ESBMC via Z3"
Z3 allows parallel SAT solving since Version 4.8.0 using the cube method [1]:

``A parallel mode is available for select theories, including QF_BV.
     By setting parallel.enable=true Z3 will spawn a number of worker threads proportional to the
     number of available CPU cores to apply cube and conquer solving on the goal.``

This issue is to remind us to add an option to ESBMC in order to allo

[2019-04-25 08:36] lucasccordeiro opened #31 "Z3 error 3 encountered invalid argument Aborted (core dumped)"
ESBMC crashes when we call this C program as:

$time esbmc file.c --no-bounds-check --no-pointer-check --no-div-by-zero-check --smt-during-symex --smt-symex-guard --z3 --unwind 1

[code]

Output:

[code]

[2019-09-18 16:17] mikhailramalho opened #30 "Clang headers are being extracted directly to system's temp folder"
Here: `https://github.com/esbmc/esbmc-private/blob/master/src/clang-c-frontend/clang_c_language.cpp#L27`

This might break verification if there's a rogue header there, or if the headers we expand are changed somehow.

It should be a pretty straightforward fix, boost probably have a call to create a temp dir inside the system's temp dir.

[2019-10-20 16:37] lucasccordeiro opened #29 "Incorrect true for data_structures_set_multi_proc_ground-1 when interval analysis is enabled"
ESBMC reports incorrect true if we enable the interval analysis option.

Here is the command:

[code]
Here is the C program:

[code]

Here is the result:

[code]

[2019-11-16 01:06] feliperodri opened #28 "ESBMC fails to reason about array with nondet size"
Consider the following example:

[code]

ESBMC fails the assert statements.

Tested with the following command:
[code]

[2019-11-19 21:15] feliperodri opened #27 "ESBMC fails to verify case with pointer casting"
ESBMC fails to verify the following case:

[code]

Command:
[code]

I also compared with CBMC using the following command and it passes:
[code]

[2019-11-19 23:19] feliperodri opened #26 "Missing implementation of __builtin_va_start function"
The following benchmark uses this function:

- aws_byte_buf_cat_harness

ESBMC reports spurious results due to the lack of implementation for `__builtin_va_start`.

[2019-11-19 23:36] feliperodri opened #25 "Missing implementation of __atomic_load_n and __atomic_store_n functions"
ESBMC reports spurious results due to the lack of implementation for `__atomic_load_n` and `__atomic_store_n`. The following benchmarks are affected by this issue:

- aws_ring_buffer_acquire_harness
- aws_ring_buffer_acquire_up_to_harness
- aws_ring_buffer_buf_belongs_to_pool_harness
- aws_ring_buffer_clean_up_harness
- aws_ring_buffer_init_harness
- aws_ring_buffer_release_harness

[2019-11-20 15:55] lucasccordeiro opened #24 "ESBMC does not consider that malloc can return the same address"
Both CBMC and ESBMC claim that this program is correct. However, `malloc` can return the same address; there exists some discussion in https://www.linuxquestions.org/questions/programming-9/does-two-malloc-statements-return-same-address-344092/.

`$esbmc cmp-freed-ptr.c --incremental-bmc`

[code]

@jmorse: do you have any thoughts about this?

[2019-11-28 19:46] feliperodri opened #23 "Error to report termination on wrapper script"
In the Termination category, we report `false-unreach` instead of `false-termination`.

[2019-11-29 16:13] rafaelsamenezes opened #22 "Clang C Frontend not building on LLVM > 7"
The file `src/clang-c-frontend/build_ast.cpp` can not be built with LLVM 8 or greater. Using Ubuntu 19.04 with pre-built binaries from LLVM release page.

[build_output.txt](https://github.com/esbmc/esbmc-private/files/3905900/build_output.txt)

[2019-11-29 16:30] feliperodri opened #21 "Regression test script needs a better helper"
We must provide details on how to run properly our regression test and how to read its results, logs, etc.

[2019-11-30 00:32] feliperodri opened #336 "Turn esbmc-private into a public repository"
Even though ESBMC is an open-source project, all the development happens on `esbmc-private`, which is a private repository. To the best of my knowledge, this strategy was twofold:

1. To avoid exposing dumb mistake to the community;
2. To prevent display publicly unpublished material;

First, all open-source projects contain mistakes or minor silly problems, and there is no need to put the entire

[2019-11-30 21:37] mikhailramalho opened #20 "Investigate killing goto_statet"
It seems to be a reduced version of `goto_symex_statet`. Maybe we can kill it and just use `goto_symex_statet` everywhere?

[2019-12-01 12:13] rafaelsamenezes opened #19 "Future of our DevOps infrastructure"
Currently, our CI uses Jenkins, but since we are talking about opening ESBMC we may begin a discussion about migrating to another tool. The current options are:

- GitHub Actions. Public/Private
- Gitlab Pipelines. Public/Private.
- Travis. Public
- AWS CI/CD Pipeline. Not free at all, but @feliperodri may help us ;)
- Jenkins. Public/Private

Since we are already using GitHub with no plans of cha

[2019-12-02 21:35] rafaelsamenezes opened #18 "Automatize build and packages dependencies for all supported OS's"
We should have an easier way to prepare our build environment. Currently, it is try/error until it works since the dependencies are not well documented.

I suggest making some scripts similar to what [Boolector](https://github.com/Boolector/boolector) does with it's `contrib` folder. Other alternatives may be integrating it with CMake/Autoconf but bash scripts may be simpler to maintain.

Just to

[2019-12-03 06:17] mikhailramalho commented on #27
Commit 2055c0ebd3 seems to fix the issue.

I compared our get_value_set_rec with CBMC's one and there are only a couple of things missing:
1. Support for the bit operations (addressed by cce5c75).
2. Support for mult. CBMC gives the following example: `(int*)((sel*(ulong)&a)+((sel^0x1)*(ulong)&b))`
3. Support for byte_update. The code seems similar to the byte_extract one.

[2019-12-03 06:24] mikhailramalho opened #17 "Support Boolector 3.1.0"
It was just released a few hours ago and it brings two features we might be interested:

* Support for find_package(Boolector), for when we have cmake support in ESBMC.
* Support for custom abort callback function, for when boolector crashes when we try to get the value of a symbol that is not in the model.
* Support for constant arrays, finally.

And now CaDiCaL is the default SAT solver, maybe w

[2019-12-03 18:10] rafaelsamenezes opened #16 "Remove configure_files dependencies"
We should use only CMAKE to define variables directly into headers

[2019-12-03 18:14] mikhailramalho opened #15 "Reduce c2goto dependencies"
Currently, it depends on the three old frontends, but we only use the clang frontend.

[2019-12-15 20:43] rafaelsamenezes opened #14 "Create install configuration in CMake"
The autoconf has support to generate our release with `make install`, CMake needs it too.

[2019-12-15 20:43] rafaelsamenezes opened #346 "Create install configuration in CMake"
The autoconf has support to generate our release with `make install`, CMake needs it too.

[2019-12-15 20:45] mikhailramalho commented on #168
Autotools will be deprecated in the future.

[2019-12-15 20:45] #168 closed

[2019-12-15 20:45] rafaelsamenezes opened #347 "Actions support"
Jenkins is hard to maintain. Since we support both MacOS and Linux we should use GitHub actions

[2019-12-15 20:47] rafaelsamenezes opened #13 "Add build configurations"
Add a BuildType.cmake module, similar to BuildStatic.

It should contain:
- Release
- Debug
- RelWithDebInfo

[2019-12-15 20:47] rafaelsamenezes opened #348 "Add build configurations"
Add a BuildType.cmake module, similar to BuildStatic.

It should contain:
- Release
- Debug
- RelWithDebInfo

[2019-12-15 20:50] rafaelsamenezes opened #12 "Add missing SMT solvers to macOS build"
- [ ] CVC4
- [ ] Z3
- [ ] Yices 2
- [ ] MathSAT

[2019-12-15 20:50] rafaelsamenezes opened #11 "Disable_SOLVER is being ignored in MacOS"

[2019-12-15 20:50] rafaelsamenezes opened #350 "Disable_SOLVER is being ignored in MacOS"

[2019-12-15 21:10] rafaelsamenezes opened #10 "CMake vars should be put in the cache"
- LLVM_DIR
- Clang_DIR

[2019-12-16 23:17] #336 closed

[2019-12-18 23:26] #347 closed

[2019-12-19 18:10] mikhailramalho commented on #42
List of builtins supported by clang:

- [ ] __builtin_atan2
- [ ] __builtin_atan2f
- [ ] __builtin_atan2l
- [ ] __builtin_abs
- [ ] __builtin_copysign
- [ ] __builtin_copysignf
- [ ] __builtin_copysignf16
- [ ] __builtin_copysignl
- [ ] __builtin_copysignf128
- [ ] __builtin_fabs
- [ ] __builtin_fabsf
- [ ] __builtin_fabsl
- [ ] __builtin_fabsf16
- [ ] __builtin_fabsf128
- [ ] __builtin_fmod
- [ ]

[2019-12-19 18:11] #7 closed, assigned to nobody

[2019-12-19 18:11] #9 closed, assigned to nobody

[2019-12-19 18:22] mikhailramalho commented on #23
Fixed by ccdc112a41.

[2019-12-19 18:22] #23 closed, assigned to nobody

[2019-12-20 15:10] mikhailramalho opened #98 "Update BUILDING instructions after we remove autotools"

[2019-12-20 15:11] mikhailramalho opened #99 "Update release script when we remove autotools"

[2019-12-25 18:06] rafaelsamenezes opened #101 "Tests failing in master"
The esbmc regression has some fault results in Jenkins:

- test_01_cbmc_Malloc26
- test_01_cbmc_String_Abstraction6
- test_03_inf2
- test_11_cars
- test_21_printtokens2
- test_29_exStbHwAcc
- test_sqrt1

[2019-12-26 10:56] rafaelsamenezes commented on #19
Just an update.

We will be using GitHub Actions for all our CI/CD needs.

[2019-12-26 10:56] #19 closed, assigned to nobody

[2019-12-26 10:58] rafaelsamenezes commented on #11
I will close this, if someone can replicate it then please reopen/open the issue.

[2019-12-26 10:58] #11 closed, assigned to nobody

[2019-12-26 13:06] rafaelsamenezes commented on #13
This should already work out-of-box with CMake. Just add:

`-DCMAKE_BUILD_TYPE=Release`
`-DCMAKE_BUILD_TYPE=Debug`
`-DCMAKE_BUILD_TYPE=RelWithDebInfo`
`-DCMAKE_BUILD_TYPE=MinSizeRel`

More info at the CMake docs: https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html

[2019-12-26 13:06] #13 closed, assigned to nobody

[2019-12-26 15:20] mikhailramalho commented on #13
That's not actually what I requested in your first PR.

I wanted a default option for CMAKE_BUILD_TYPE and to limit the options you can select when using ccmake or cmake-gui.

PR #102 implements this behaviour.

[2019-12-29 11:49] rafaelsamenezes commented on #14
Questions:

1. Since we do not generate libesbmc anymore... do we still need to create an lib and include folder with our headers?

2. What exactly goes inside the share folder?

[2019-12-29 15:56] mikhailramalho commented on #10
Addressed by PR #106.

[2019-12-29 15:56] #10 closed, assigned to nobody

[2019-12-29 20:08] rafaelsamenezes opened #107 "CVC4 build in MacOS"
There is an issue with cvc4/cvc4.h getting confused over includes in mac. We have to fix it.

[2019-12-29 20:31] mikhailramalho commented on #107
What's exactly the issue?

On Sun, 29 Dec 2019, 16:08 Rafael Sá, <notifications@github.com> wrote:

[2019-12-29 21:16] rafaelsamenezes commented on #18
Since we are using the CI to build in Ubuntu and Mac, all needed dependecies are registred.

[2019-12-29 21:16] #18 closed, assigned to nobody

[2019-12-30 00:24] mikhailramalho commented on #14
Em dom., 29 de dez. de 2019 às 07:49, Rafael Sá <notifications@github.com>
escreveu:

--

Mikhail Ramalho.

[2019-12-30 01:07] rafaelsamenezes opened #108 "BigInt failing when reassigning it to char*"
When adding tests for BigInt some bugs occurred when reassigning values as strings, I also tested constructors and other assignments types and they were fine. It looks like it's just prepending to the old input.

Am I doing something wrong? If needed, here is the [Full code link](https://pastebin.com/X3dJKpN7) with the helper implementation and all other test cases.

Test cases:
[code]

[2019-12-30 01:19] rafaelsamenezes commented on #107
Here is an [output](https://pastebin.com/fUBxfPyP)

It is using `/usr/local/include/util/floatingpoint.h` when it should use util/floatingpoint.h from cvc4 dir.

[2019-12-30 01:26] mikhailramalho commented on #107
It looks odd:

1. Why are you including `/usr/local/include` in the first place?

2. From the output there is:
[code]
Which looks like some package installed its headers in the wrong place, it should be something like:
[code]

[2019-12-30 01:37] rafaelsamenezes commented on #107
The CVC4 is local. I think that the problem is related to the Boost headers which are located in `/usr/local/include`. However, this is not a problem in Ubuntu.

[2019-12-30 01:42] rafaelsamenezes commented on #14
So, if Python is enabled we should install all headers and libs since we do not have libesbmc anymore?

So... doxygen with man output?

[2019-12-30 01:48] mikhailramalho commented on #14
Em dom., 29 de dez. de 2019 às 21:42, Rafael Sá <notifications@github.com>
escreveu:

--

Mikhail Ramalho.

[2019-12-30 01:49] mikhailramalho commented on #107
What do you mean by CVC4 is local? Do you mean it is installed in
/usr/local?

If that's the case, it should be installed in /usr/local/include/cvc4, not
in /usr/local/include.

Em dom., 29 de dez. de 2019 às 21:37, Rafael Sá <notifications@github.com>
escreveu:

--

Mikhail Ramalho.

[2019-12-30 09:24] rafaelsamenezes commented on #107
/usr/local?

I mean that is inside my home directory and not system-wide.

[2019-12-30 15:04] rafaelsamenezes opened #110 "BigInt does not handle signed comparations"
Compare method is not behaving well for BigInt objects initialized with a negative value.

Example of failure:
[code]

If using only unsigned values, it works:
[code]

[2019-12-30 17:45] rafaelsamenezes commented on #110
Problem was that comparing a negative integer will call [the unsigned version with the absolute value of the RHS](https://github.com/esbmc/esbmc/blob/master/src/big-int/bigint.cpp#L742)

However, if the LHS was negative it would [always return -1](https://github.com/esbmc/esbmc/blob/master/src/big-int/bigint.cpp#L724)

[2019-12-31 12:56] rafaelsamenezes commented on #12
Only CVC4 is missing. Another issue was open to it.

[2019-12-31 12:56] #12 closed, assigned to nobody

[2020-01-01 15:55] #22 closed, assigned to nobody

[2020-01-01 16:01] #30 closed, assigned to nobody

[2020-01-02 19:02] #49 closed, assigned to feliperodri

[2020-01-02 23:12] #108 closed, assigned to nobody

[2020-01-02 23:12] #110 closed, assigned to nobody

[2020-01-02 23:13] #14 closed, assigned to nobody

[2020-01-02 23:38] rafaelsamenezes opened #115 "Fix minor issues in code and begin to use the CI/CD"
Our CI detects some errors but we are not throwing them yet. Before we start, we need a stable version that passes all tests. We have 2 scripts, one for fast-checks which will be used for daily development and one to fully check the code for PRs and pushs into master.

First [fast-checks](https://github.com/esbmc/esbmc/blob/master/.github/workflows/fast-check.yml):
- [x] ~~We need to apply clang-f

[2020-01-07 14:35] rafaelsamenezes opened #119 "ESBMC macos gives error on <math.h>"
When evaluating `<math.h>` ESBMC is throwing an error.

For example, in `regression/floats-regression/ceil` the result was:

[code]

[2020-01-08 18:43] mikhailramalho opened #121 "CMake's ENABLE_<solver> OFF is ignored if ESBMC found the solver"
If ESBMC found the solver (in my case they are located in $HOME), the backend are still compiled even if ENABLE_<solver> is set to OFF.

[2020-01-08 19:10] mikhailramalho opened #123 "atomicity check transformations need to be rewritten as a separate module"
Similar to what was done with the k-induction module.

Atomicity check should be removed from the goto_convert code, and executed as a separate step after the goto functions are created.

[2020-01-08 23:17] mikhailramalho commented on #119
Could you test it with PR#124?

[2020-01-13 19:50] mikhailramalho opened #125 "Enable link time optimization with CMake"
We might get some performance improvements.

[2020-01-14 19:50] #115 closed, assigned to nobody

[2020-01-15 17:44] mikhailramalho commented on #99
As of 056858ced9, Github will generate the release for us now.

[2020-01-15 17:44] #99 closed, assigned to nobody

[2020-01-16 11:35] mikhailramalho commented on #27
Fixed by 2055c0e .

[2020-01-16 11:35] #27 closed, assigned to nobody

[2020-01-16 13:55] #41 closed, assigned to jmorse

[2020-01-16 23:01] pmatos opened #129 "64bit is not the default"
ESBMC 6.1.0.

Even though it says --64 is the default, I get different behaviours when using it.

Take

`fact.c`:
[code]

`fact_props.c`:
[code]

Run:
[code]

Now try with `--64` in the command line.

[2020-01-16 23:04] pmatos opened #130 "What's k in the result?"
Same example as #129

`fact.c`:
[code]

`fact_props.c`:
[code]

Run:
[code]

Found bug in base case, `k=1`? There's no variable `k` in my program? I assume this is related to `k` induction, however, there's no explanation to what this is and it doesn't look like it's a counterexample.

[2020-01-16 23:27] mikhailramalho commented on #129
Thank you for the report!

PR#131 should address it.

[2020-01-16 23:30] mikhailramalho commented on #130
The `k` is the number of loop unwindings needed to find the violation. I agree it is not the most useful message, we'll work on it.

Regarding the counterexample, may I ask to use the sequential k-induction for now?

The parallel version hasn't is pretty outdated and it's being fixed in a separate branch (kind). We will disable it for the next release but re-enable it in the near future.

[2020-01-28 17:26] mikhailramalho commented on #129
Fixed by PR#131.

[2020-01-28 17:26] #129 closed, assigned to nobody

[2020-01-29 11:29] pmatos commented on #130
@mikhailramalho Thanks - closing.

[2020-01-29 11:29] #130 closed, assigned to nobody

[2020-02-04 23:51] mikhailramalho opened #133 "ESBMC can't find bounds access violation in flexible arrays"
[code]
The flexible array `b` in `struct A` has size 3, but we are accessing `(*e).b[3]` and ESBMC doesn't find the violation. There is no violation in `a.b[0]`.

[2020-02-05 00:26] mikhailramalho opened #134 "ESBMC aborts with "Can't construct rvalue reference to array type during dereference" in valid program"
In the following program:
[code]

ESBMC aborts in `*e`, with the following message:
[code]

[2020-02-06 11:26] alecs184 opened #136 "Conversion from clang::PrintingPolicy to bool"
I'm compiling the current ESBMC version cloned from the master with clang:6.0.0:

../../src/clang-c-frontend/clang_c_convert.cpp:2449:73: error: no viable conversion from
      'clang::PrintingPolicy' to 'bool'
      clang::TypeName::getFullyQualifiedName(fd.getType(), *ASTContext, Policy);
                                                                        ^~~~~~
/home/alecs184/clang/include/

[2020-02-06 11:38] lucasccordeiro commented on #136
Hello @alecs184,

It looks like `getFullyQualifiedName` now expects a `Boolean` instead of `PrintingPolicy`.

@mikhailramalho and @rafaelsamenezes: Which version are we currently supporting of Clang?

Thanks,
Lucas

[2020-02-06 11:44] rafaelsamenezes commented on #136
Currently we are supporting Clang version 9 only.

The CI script should help with all dependencies that we use: https://github.com/esbmc/esbmc/blob/master/.github/workflows/release.yml#L17-L19

BTW, [an error ](https://github.com/esbmc/esbmc/blob/master/scripts/cmake/FindLLVM.cmake#L22)should have been thrown for an invalid Clang version during CMake. @alecs184 , may I ask your environment?

[2020-02-06 11:46] alecs184 commented on #136
I read in the release notes that only Clang 6.0.0 is supported.

Shall the release notes be updated?

[2020-02-06 12:34] rafaelsamenezes commented on #136
The [release-notes](https://github.com/esbmc/esbmc/blob/master/scripts/release-notes.txt) is referring to a specific release of ESBMC which can be accessed using tags.

This dependency should be added into the README/Wiki.

[2020-02-06 12:36] lucasccordeiro opened #137 "Add Clang dependency to the README/Wiki."

[2020-02-06 13:50] rafaelsamenezes commented on #136
I will close this issue. If you have any problems with Clang feel free to reopen it.

- The issue https://github.com/esbmc/esbmc/issues/137 will refer to fixing the documentation.

[2020-02-06 13:50] #136 closed, assigned to nobody

[2020-02-17 11:41] fatimahkj opened #141 "Problem testing Openssl library"
Hi,
I tried to test the OpenSSL library with ESBMC. I chose one c file to test a specific function. However, I got an error of file not found even when I include the path of this header file, as shown in the attached picture. Also, I tried to combine all the file using -E. It didn't work.
Please do you have any idea of how to solve it?

![Screenshot from 2020-02-17 11-23-20](https://user-images.gi

[2020-02-17 14:39] fatimahkj commented on #141
I solved the problem.

Thanks any way

[2020-02-18 12:08] mikhailramalho commented on #141
No problems, feel free to ask any question.

[2020-02-18 12:08] #141 closed, assigned to nobody

[2020-02-18 22:22] rafaelsamenezes opened #142 "List of test cases not confirmed from test-comp"
Not Confirmed:
- [ ] loops/trex03-1.yml
- [ ] loops/sum03-1.yml
- [ ] forester-heap/sll-optional-2.yml
- [ ] forester-heap/sll-01-2.yml
- [ ] forester-heap/dll-optional-2.yml
- [ ] ldv-regression/test29-1.yml
- [ ] heap-manipulation/tree-2.yml
- [ ] ntdrivers-simplified/kbfiltr_simpl2.cil-2.yml
- [ ] ntdrivers-simplified/floppy_simpl4.cil-1.yml
- [ ] ntdrivers-simplified/cdaudio_simpl1.cil-1.yml
-

[2020-02-18 23:04] rafaelsamenezes opened #143 "Fetching array elements inside tuples currently unimplemented"
A problem when checking program loops/s3 using boolector from test-comp. The file attached contains the information about the execution.
[esbmc-output.txt](https://github.com/esbmc/esbmc/files/4222113/esbmc-output.txt)

Is this an ESBMC or Boolector problem?

[2020-02-19 01:02] mikhailramalho commented on #143
This is a limitation of our SMT backend.

It shouldn't mess with the cex though, it will just be slightly incomplete.

[2020-02-27 22:27] mikhailramalho commented on #17
Closed by ec70901e.

[2020-02-27 22:27] #17 closed, assigned to nobody

[2020-03-11 15:41] lucasccordeiro opened #144 "Update BUILDING file"
Our BUILDING file (https://github.com/esbmc/esbmc/blob/master/BUILDING) is outdated.

New instructions are available at https://github.com/esbmc/esbmc/blob/master/.github/workflows/build.yml.

[2020-03-31 17:06] lucasccordeiro opened #146 "fine-tune loop bounds"
Currently, only one bound can be specified for all loops present in the program. This issue aims to extend ESBMC to fine-tune loop bounds.

[2020-03-31 17:15] mikhailramalho commented on #146
We used to have an option --unwindset to set bounds per loop.

[2020-04-01 11:56] rafaelsamenezes opened #147 "Clang-c-frontend not building on LLVM 10"
Build details:

[code]

[2020-04-05 17:43] lucasccordeiro commented on #146
@lennonchaves: did you have a chance to look at this issue?

[2020-04-07 11:23] lucasccordeiro commented on #144
@ericksonalves: Did you have a chance to look at this issue?

[2020-04-07 16:42] lucasccordeiro opened #148 "[boolector] boolector_sgte: sorts of 'e0' and 'e1' must match"
Command-line
$ esbmc queue.c

Reduced C program:

[code]

Output:
[code]

[2020-04-09 15:01] Mohannad-Aldughaim opened #150 "Infinite loop code gives verification successful"
Hello,

I found this bug while running a code with infinite loop. Not sure if this is actually a bug or misuse of the the software but it shows that verification is successful. Here is the code with ESBMC output:
[code]
The result from ESBMC :
[code]

[2020-04-09 15:12] mikhailramalho commented on #150
Hi Mohannad, that's indeed the intended behavior: there is no bug in this program. The k-induction is simply stating that there is no path of execution that leads to a property violation (e.g., an assert(0)). The ERROR label is never reachable because `b[i] != i` is always false.

Maybe you're interested in checking if the label ERROR is reachable? You can add the option `--error-label YYY` to esb

[2020-04-10 12:35] lucasccordeiro opened #151 "boolector_write: element bit-width of 'e_array' and bit-width of 'e_value' must be equal"
[code]

$esbmc ex4.c

[code]

[2020-04-10 14:02] lucasccordeiro commented on #150
Hello Mohannad,

Even if you run ESBMC in your C code as:

$esbmc file.c --error-label ERROR --k-induction

The label "ERROR" is unreachable since `b[i] != i` is always false, As pointed out by @mikhailramalho; therefore, the ESBMC k-induction approach is providing the correct answer.

For now, I'll close this ticket; if you have further issues, please let us know.

Best,
Lucas

[2020-04-10 14:02] #150 closed, assigned to nobody

[2020-04-11 10:24] lucasccordeiro commented on #150
Hello Mohannad,

BTW, if you want to check whether the program terminates or not, then you can call ESBMC as:

$esbmc file.c --termination

Best,
Lucas

[2020-04-11 17:14] Mohannad-Aldughaim commented on #150
Thank you Lucas and Mikhail. Its is clear to me now.

[2020-04-11 17:29] lucasccordeiro opened #152 "dereference failure: accessed expired variable pointer `c:pointer.c@129@F@main@incr'"
This C program seems to be correct but ESBMC v6.2 fails to check both assertions.

$esbmc pointer.c

[code]

[code]

@jmorse: do you have any thoughts?

[2020-04-11 19:14] lucasccordeiro opened #153 "How can we check if the start routine of a thread returns?"
In https://github.com/esbmc/esbmc/pull/149, we have one test case (01_pthread53/main.c), where we have to trigger the destructor calls associated with pthread_key_create.

In the pthread_key_create documentation (https://linux.die.net/man/3/pthread_key_create), it says that pthread_key_create() destructor calls are triggered by a call to pthread_exit(). However, if the start routine of a thread re

[2020-04-12 13:39] lucasccordeiro commented on #153
The function `pthread_trampoline` (https://github.com/esbmc/esbmc/blob/master/src/c2goto/library/pthread_lib.c#L68) does the job of executing the key destructors once a thread returns without calling a pthread_exit().

[2020-04-12 13:39] #153 closed, assigned to jmorse

[2020-04-14 18:03] lucasccordeiro opened #154 "Crash with global array of pointers"
[code]

CBMC provides verification successful using the following command-line: cbmc file.c --pointer-check --bounds-check

ESBMC crashes with "Segmentation fault" using the following command-line: esbmc file.c --force-malloc-success

[2020-04-14 18:16] mikhailramalho commented on #154
This is **not** a flexible array. By definition, flexible arrays are always the last member of a struct.

ESBMC even points out what that is:
[code]
An array with one element.

[2020-04-21 19:43] #144 closed, assigned to ericksonalves

[2020-04-24 13:38] rafaelsamenezes opened #157 "Optimize ESBMC build time"
## Summary

ESBMC build system can be further optmized for first-time and incremental builds

Ou `add_libraries` contains a lot of files for each library, we should make it more modular with minor objetcs and interfaces, that would help paralelize the build and incremental builds will be faster.

We have lots of headers with more than than 1k lines and lots of preprocessing macros (irep2_expr cont

[2020-04-25 09:41] rafaelsamenezes commented on #137
Closed by: PR https://github.com/esbmc/esbmc/pull/156

[2020-04-25 09:41] #137 closed, assigned to rafaelsamenezes

[2020-04-25 09:41] rafaelsamenezes commented on #98
Closed by: https://github.com/esbmc/esbmc/pull/156

[2020-04-25 09:41] #98 closed, assigned to nobody

[2020-04-25 09:43] rafaelsamenezes commented on #101
Master branch does not have this issue anymore.

[2020-04-25 09:43] #101 closed, assigned to nobody

[2020-04-26 13:47] fatimahkj opened #158 "Isuue when running esbmc wrapper"
Hi,
I'm trying to run esbmc wrapper (I download it from here: https://gitlab.com/sosy-lab/test-comp/archives-2020/blob/master/2020/esbmc-falsi.zip)
and I used the simple C code in this paper
"ESBMC 6:1: Automated Test Case Generation using Bounded Model Checking"
The code :

int main (){
unsigned int M = __VERIFIER_nondetuint();
int A[M], B[M], C[M];
unsigned int i;
for(i=0; i<M; i++) A[i] = __VER

[2020-04-26 14:34] rafaelsamenezes commented on #158
Hello @fatimahkj, there is one issue:

- Non-deterministic should be in the format: `__VERIFIER_nondet_X()` so just add the missing `_` .

Also, I noticed that you are searching for overflows, which means the property: `CHECK( init(main()), LTL(G ! overflow) )`. When we developed the wrapper we assumed that only `COVER( init(main()), FQL(COVER EDGES(@CALL(__VERIFIER_error))) )` would generate test

[2020-04-26 14:56] fatimahkj commented on #158
Hi Rafael,

I changed the Non-deterministic and warning still there but I got the test case generated.
Many thanks.

[2020-04-26 15:08] #158 closed, assigned to nobody

[2020-05-02 18:46] lucasccordeiro opened #159 "Unexpected side-effect statement"
$esbmc file.c

[code]

Output:

[code]

[2020-05-04 10:56] pmatos opened #160 "Integration with OSS-Fuzz"
You guys should attempt an integration of ESBMC with OSS-Fuzz. It would certainly improve ESBMC stability over time and it should be relatively simple due to the amount of other (already integrated tools) consuming C coded as a fuzzed input.

Ref: https://github.com/google/oss-fuzz

[2020-05-04 10:57] pmatos commented on #160
Also: https://google.github.io/oss-fuzz/getting-started/accepting-new-projects/

[2020-05-04 20:15] thefischsun commented on #160
Hi -

may be an idea, but the doc says they cut jobs that run longer than 25 secs.

-- fisch

On Mon, May 4, 2020 at 12:57 PM Paulo Matos <notifications@github.com>
wrote:

[2020-05-05 06:22] pmatos commented on #160
Right - I missed that bit. I understand 25secs might be an issue with esbmc.
The whole point was trying to get esbmc more reliable. I remember trying to use it last year but it fell apart quite quickly on fuzzed C input. I attempted it locally though, not through OSS-Fuzz.

[2020-05-05 08:33] pmatos opened #161 "A few notes on the README"
Hi,

So I tried compiling following the readme. It's pretty good - thanks.

You are missing a few dependencies that might not be dependencies of esbmc but are deps of the build process. Namely:

* wget
* git
* g++
* unzip

You'll see these problems if you follow the readme using a docker image of ubuntu or similar.

[2020-05-05 08:36] pmatos opened #162 "Segfault on program"
[foo.c.gz](https://github.com/esbmc/esbmc/files/4579689/foo.c.gz)

Run the decompressed version of the attached file with:
[code]

Output:
[code]

[2020-05-05 08:39] pmatos commented on #162
The include folder for csmith attached.
[include.tar.gz](https://github.com/esbmc/esbmc/files/4579703/include.tar.gz)

[2020-05-05 08:40] pmatos commented on #162
I thought about preprocessing and just including the preprocessed file but it doesn't work because esbmc chokes on the preprocessed file.

Try:
[code]

[2020-05-05 08:46] pmatos commented on #160
@thefischsun i went back to an experiment I did last summer.
Get CSmith and run (paths set appropriatelly):
[code]

It takes less than 30secs to find a crash like #162 .
Maybe it would be great, if not fuzzing with OSS-Fuzz to integrate maybe 600secs of this loop into the esbmc CI process.

[2020-05-05 08:47] lucasccordeiro commented on #161
@ericksonalves: could you please submit a PR to fix this issue?

[2020-05-05 09:11] lucasccordeiro commented on #162
I have just tried to verify this program. Yes, ESBMC chokes on the preprocessed file.

If I try to compile it with Clang (no ESBMC at all), then it produces: `20 errors generated.`

[2020-05-05 09:19] rafaelsamenezes commented on #161
@ericksonalves could you check if `build-essential` contains the referred packages?

[2020-05-05 10:10] thefischsun commented on #162
Yeah, csmith is a nasty little bugger :-) Not sure why clang barfs - perhaps there are dialect variants. The csmith guys took quite some effort of being absolutely standards compliant and not generating any programs that contain undefined behavior, so ESBMC should never find an error in them.

I think it is worthwhile to use this as part of the release process, not necessarily as part of the norma

[2020-05-05 17:58] rafaelsamenezes opened #164 "Generate macos release"
## Summary

We can use Actions to generate the macos release automatically containing Z3 and Boolector.

## Tasks

- Add the static build release using cpack in the [release action](https://github.com/esbmc/esbmc/blob/master/.github/workflows/release.yml). You can use the ubuntu version as a guide together with the [build action](https://github.com/esbmc/esbmc/blob/master/.github/workflows/build.y

[2020-05-05 18:57] #161 closed, assigned to ericksonalves

[2020-05-05 20:57] rafaelsamenezes commented on #164
Closed via: https://github.com/esbmc/esbmc/commit/00d3f8797778598ac645b8369c4b1442f692f1d0

The CI now:

- Generates a darwin release.
- Uses Release mode when compiling.

[2020-05-05 20:57] #164 closed, assigned to rafaelsamenezes

[2020-05-05 21:06] rafaelsamenezes commented on #160
I think that this should be simple enough.

1. Integrate the csmith command into CMake as a test
2. Add it into the CI

This should be very useful to us when obtaining coverage reports from our tests

[2020-05-05 21:17] mikhailramalho commented on #164
Release or RelWithDebInfo?

A think the default is the latter on Linux.

On Tue, 5 May 2020, 16:57 Rafael Sá Menezes, <notifications@github.com>
wrote:

[2020-05-05 22:59] rafaelsamenezes commented on #162
@lucasccordeiro I was able to compile with clang using the files that @pmatos provided. Could you explain your environment?

Running with a debugger tells that [this assertion](https://github.com/esbmc/esbmc/blob/master/src/pointer-analysis/dereference.cpp#L1733) is failing.

[2020-05-05 23:06] rafaelsamenezes commented on #164
I added `-DCMAKE_BUILD_TYPE=Release` to both

[2020-05-05 23:24] rafaelsamenezes opened #165 "Generate coverage report for ESBMC"
## Summary

We have lots of regressions, unit/fuzzing tests and yet do not know which parts of the code are well tested and which are not. Since ESBMC is now OSS and uses CMake we could use external tools for it. I propose using [codecov](https://github.com/marketplace/codecov/) which is free for OSS.

## Tasks

- Generate the coverage report using CMake, we could integrate [this module](https://g

[2020-05-06 01:21] mikhailramalho commented on #162
It seems to work on linux, until we crash later on:

$ esbmc foo.c --incremental-bmc 2>/dev/null
ESBMC version 6.2.0 64-bit x86_64 linux
file foo.c: Parsing
Converting
Generating GOTO Program
GOTO program creation time: 4.189s
GOTO program processing time: 0.187s

*** Iteration number 1 ***
*** Checking base case
Starting Bounded Model Checking
Not unwinding loop 11 iteration 1 file string.c line

[2020-05-06 01:38] mikhailramalho commented on #164
Could you please change it to RelWithDebInfo?

The binary will be bigger but we'll get better bug reports, e.g., issue #162:

Release:
[code]

RelWithDebInfo:
[code]

[2020-05-06 01:46] mikhailramalho commented on #162
Well, it was faster than I thought. Reduced program:
[code]

[2020-05-06 08:39] pmatos opened #166 "Request to suppport -fms-extensions (clang supported)"
ESBMC doesn't seem to support -fms-extensions, however, clang does. So I assume it shouldn't be hard to get that working in esbmc.

Code that makes use of -fms-extensions (which I feel might actually be supported by one of the latest standards):
[code]

This code in the line `struct schprim_eval;` uses an extension whereby the structure `struct schprim_eval;` is inserted in-place inside the struct

[2020-05-07 14:50] #159 closed, assigned to mikhailramalho

[2020-05-08 15:43] mikhailramalho commented on #166
Hi Paulo,

I just did a quick hack and it should be pretty straightforward to
implement. I'll generate a new version this weekend with this feature and
some bug fixes from Rafael.

Em qua., 6 de mai. de 2020 às 04:39, Paulo Matos <notifications@github.com>
escreveu:

--

Mikhail Ramalho.

[2020-05-09 06:33] rafaelsamenezes opened #169 "Segmentation fault while encoding in Boolector"
Executing esbmc with boolector and the flags `--no-bounds-check --no-pointer-check --no-div-by-zero-check --incremental-bmc --max-k-step 10` gives a Segmentation fault in the following program:

[code]

Using Z3 this fault does not happen.

[2020-05-09 13:04] rafaelsamenezes opened #170 "Deref in argv[0]"
The following program gives an out-of-bounds deref.

[code]

[2020-05-09 18:35] mikhailramalho commented on #169
It seems to be a bug in the tuple node flattener.

While I'm trying to fix it, you can use --tuple-sym-flattener in the cmdline and it should work.

[2020-05-10 20:03] rafaelsamenezes commented on #170
This may be unrelated to argv/argc itself. I got the same error in function `foo` with:

[code]

[2020-05-10 21:50] mikhailramalho commented on #170
I created the branch argc_argv to work on this, I fixed one problem where `argc` needed to be called `argc`. The frontend now models the example program correctly, where `argc` is called `a` instead.

There is still work to do though.

[2020-05-10 23:05] mikhailramalho commented on #166
Implemented in PR #171. There is one limitation though: you need to use two dashes (`--fms-extensions` instead of `-fms-extensions`).

[2020-05-10 23:15] mikhailramalho opened #173 "Update cmd line interface"
We currently use a custom cmd line parser, which is error-prone and very limited (see issue #166).

There are better alternatives out there: https://www.boost.org/doc/libs/1_71_0/doc/html/program_options.html

[2020-05-10 23:20] mikhailramalho opened #174 "Update our message output interface"
We currently have a custom message output interface, but we use iostream almost everywhere, which is bad for several reasons (global states, it is slow, not thread-safe, etc).

There are better alternatives out there: https://fmt.dev/latest/index.html

[2020-05-11 04:04] lucasccordeiro commented on #166
@pmatos: We have just merged this PR https://github.com/esbmc/esbmc/pull/171 into the master branch. May I ask you whether you're now able to verify the code that makes use of `-fms-extensions`?

[2020-05-11 05:37] pmatos commented on #166
Thanks! I will give this a try today and get back to you.

[2020-05-11 10:59] lucasccordeiro commented on #174
@Mohannad-Aldughaim: May I ask you whether you could implement this issue?

[2020-05-11 11:07] Mohannad-Aldughaim commented on #174
Got it. I'll implement it.

[2020-05-11 11:10] lucasccordeiro opened #175 "Update README.md to add instruction of how to contribute to the code base"
Something like:

### Contributing to the code base

Here are some steps to contributing to the code base:

 * Fork the repository
 * Clone the repository git clone git@github.com:YOURNAME/esbmc.git
 * Create a branch from the master branch (default branch)
 * Make your changes (apply clang-format -i file.cpp)
 * Push your changes to your branch
 * Create a Pull Request targeting the master branch

[2020-05-11 11:20] rafaelsamenezes opened #176 "Coding Standard"
We should create some rules to coding since we have some unspoken rules. We have a `clang-format` to take care about formatting. IMO the following rules should be explicit for newer contributions

1. C++17 is the standard
1. Smart pointers only
1. Don't create variables that are used once
1. If operators with only one instruction shouldn't use brackets
1. Use iterator (or range) loops, it will be

[2020-05-11 11:48] #175 closed, assigned to rafaelsamenezes

[2020-05-11 13:56] rafaelsamenezes opened #178 "Deref in VLAs with not symbolic sizes"
[code]

This is related to: https://github.com/esbmc/esbmc/issues/170 but it is not the only problem there.

[2020-05-11 14:43] pmatos commented on #166
This time instead of building esbmc inside a container I decided to build it straight in my archlinux installation. I had all sorts of issues with configuring esbmc, since it kept choking on the Z3 install. I have an install in `/usr` and another (tip of master) in my home installs folder `/home/pmatos/installs/z3-20200510`. Unfortunately, esbmc, keeps trying to use my system installation even tho

[2020-05-11 14:57] lucasccordeiro commented on #166
@rafaelsamenezes: May I ask you to take a look at this issue?

[2020-05-11 16:31] mikhailramalho commented on #176
I'll add that we should avoid global variables at all cost.

[2020-05-11 16:39] mikhailramalho commented on #174
This should be a lot of work: there are 798 uses of cout/cerr in our code base.

I suggest you start by looking at the classes `message_handlert` and `ui_message_handlert`. These interfaces should be the base classes for all class that output messages.

Fmt should be probably implemented in `message_handlert`.

This should also involve the XML dump we need for test-comp, @rafaelsamenezes

[2020-05-11 20:13] rafaelsamenezes opened #180 "Plugins for IDE's and Code Editors"
## Summary

Just add support to execute ESBMC in a C function on your favorite editor. If you intend to do this comment on what editor you are working on. Your PR should update de README providing the plugin/extension link.

[2020-05-11 22:04] rafaelsamenezes commented on #166
@pmatos Could you provide your cmake output and the the file tree of your z3 installation? Also, are you building manually or using the prebuilt relesae from Z3?

Also, I think your fix is wrong:
[code]
Defines the variable `Z3_LIB` and searches for `z3 .so/.a` in the `PATHS`.

When you use
[code]
You are actually defining a variable with the value of `${Z3_DIR}` and searching `Z3_LIB .a/.so` or `

[2020-05-12 03:06] mikhailramalho opened #181 "Replace BigInt, ieee_float and fixedbv"
We should consider replacing the classes with boost::multiprecision:

https://www.boost.org/doc/libs/1_73_0/libs/multiprecision/doc/html/index.html

They provide custom integers and floating-point types already. We would have to write a custom fixed-point backend, but it doesn't look that hard since we already have all operations written in fixedbv.cpp.

By replacing them we can simplify constant_

[2020-05-12 15:52] rafaelsamenezes commented on #162
Adding a check for `union` in [has_bitfield](https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/clang_c_convert.cpp#L2931) solves the problem. @mikhailramalho is there a reason for not considering `union` there or we may just add it?

[2020-05-12 16:00] rafaelsamenezes commented on #181
Instead of replacing wouldn't it be simpler to reimplement BigInt using it? By making it a wrapper we would minimize the fixes needed if the api for multiprecision changes or if we want to use another library.

[2020-05-12 16:21] mikhailramalho commented on #181
That's one approach but replacing BigInt with cpp_int should be straightforward... The biggest work would be implementing the fixedbv backend.

My point here is to remove theses formats (BigInt, ieee_floatt and fixebvt) with something more robust and supported by a wider community; these number formats are only maintained by us and there is always a huge effort when they are bugs to fix.

[2020-05-12 16:23] mikhailramalho commented on #162
I think it was an oversight in the implementation, could you implement it and run the tests?

[2020-05-13 03:06] mikhailramalho opened #183 "Improve our libc and libm models"
A long time ago I started implementing the model of our libc and libm but I never finished it.

Today I found the [newlib](https://sourceware.org/newlib/), a BSD-licensed implementation of libc and libm, which we could use as a reference to implement our models.

For instance, I found a bug in our implementation of fmodf by using the fmodf implementation:
[code]
ESBMC founds the following cex:
[co

[2020-05-13 12:50] rafaelsamenezes commented on #142
I will reopen it with latest benchmarks later

[2020-05-13 12:50] #142 closed, assigned to nobody

[2020-05-13 14:18] pmatos commented on #166
@rafaelsamenezes you're right. I never used cmake so was just blindly changing stuff but a read of the manual confirms what you say. I have restarted the process of compiling esbmc and it worked, I might have add some broken cache or something.

[2020-05-13 14:24] pmatos commented on #166
@mikhailramalho the fix seems to work. It does generate:
[code]
in esbmc output but otherwise it looks like it's working. Thanks. Feel free to close this.

[2020-05-13 15:19] mikhailramalho commented on #166
I actually found a way to force -f and -W flags to clang, so it will work as expected now!
PR #184

[2020-05-13 19:15] #166 closed, assigned to rafaelsamenezes

[2020-05-21 13:12] fatimahkj opened #185 "Modifying the wrapper"
Hi, I'm currently trying to modify the wrapper to export the test cases from ESBMC on my source code. I had a problem when I try to let the wrapper accept any input not only the __VERIFIER nondet

I have this problem, anyone has an idea of how to fix it?
![Screenshot from 2020-05-21 13-53-14](https://user-images.githubusercontent.com/47563480/82562267-cd381780-9b6c-11ea-8c9b-32c34cd008b0.png)

Tha

[2020-05-21 13:48] rafaelsamenezes commented on #185
This looks like a problem of the method `writeTestCase` using '+' instead of os.path.join. There are two ways to solving it.

1. The bad way: check if __testSuiteDir__ terminates with a '/' or the testcase_file begins with a '/'

2. The right way: On ```TestCompGenerator(assumptions).writeTestCase(__testSuiteDir__ + "/" + testcase_file```change it to use [```os.path.join```](https://docs.python.or

[2020-05-21 14:34] fatimahkj commented on #185
Hi Rafael,
Thanks for your quick response.
I fixed my wrapper based on what you said. The good thing that It fixed the previous errors but unfortunately I encountered another error. Its Python error

![image](https://user-images.githubusercontent.com/47563480/82569741-8fd98700-9b78-11ea-9865-f60d9d449490.png)

[2020-05-21 14:37] rafaelsamenezes commented on #185
There is an Indentation error on line 300. Check if its following the right spacing

[2020-05-21 14:39] fatimahkj commented on #185
Yes, I was trying to fix it. I will keep trying.
I will tell you if it works and generates the test cases I need.

Thanks for your help. I really appreciate it.

[2020-05-23 17:39] fatimahkj commented on #185
Hi Rafael,

It works. I had some other issues but finally, I figure them out

Thanks

[2020-05-23 21:06] rafaelsamenezes commented on #185
Great to hear, I will close this for now. If you need any extra help feel free to reopen it.

[2020-05-23 21:06] #185 closed, assigned to nobody

[2020-05-27 13:47] ktachak20 opened #188 "Trouble cloning repository"
Tried cloning the repository but gives error message as follows:
[code]

I wonder what am I doing wrong.

[2020-05-27 13:52] lucasccordeiro commented on #188
Which command-line are you using to clone? Have you tried `git clone git@github.com:YOURNAME/esbmc.git`?

[2020-05-27 14:44] rafaelsamenezes commented on #188
Are you on Windows? Cloning does not work in there because of the ">>" in the file. I am not sure if renaming it would solve, @mikhailramalho do you have access to a Windows machine to test this?

[2020-05-27 14:46] mikhailramalho commented on #188
Hi, are you using windows? Some of the directories in our repo have names that are not supported by Windows.

The workaround is to do a git sparse checkout and not cloning `regression/esbmc-cpp`.

[2020-05-29 11:26] #162 closed, assigned to rafaelsamenezes

[2020-05-29 12:03] rafaelsamenezes commented on #181
BTW, should we extend this replacement to other libraries that boost also implements? Good candidates may be XML manipulation and Graph generation.

[2020-05-29 13:59] rafaelsamenezes opened #190 "Make ESBMC export TEST-SUITE"
TEST-SUITE is a directory of files according to the [format](https://gitlab.com/sosy-lab/software/test-format/blob/master/doc/Format.md) for exchangeable test-suites

[2020-05-29 14:48] mikhailramalho commented on #181
XML sounds like a great idea. We already use it to generate the SV-COMP witnesses, but it should be expanded for other cases, like Test-Comp specification.

Where do you plan to use the graph lib?

[2020-05-29 21:04] #178 closed, assigned to rafaelsamenezes

[2020-05-29 22:19] rafaelsamenezes commented on #170
@mikhailramalho What is left to do in `argc_argv` branch? BTW, when rebasing this with master it broke the fix from https://github.com/esbmc/esbmc/pull/179

VLA-fix solved the issue for argv[0] but the bug still exists when iterating over argv e.g `for(int i = 0; i < argc; i++) argv[i];`

[2020-05-29 23:49] mikhailramalho commented on #170
First, we need the understand why this is crashing now.

The argc/argv is still crashing in 64 bits because we assume in ESBMC that va_list is a `char*` (which it is in 32 bits), but clang returns the actual x86_64 ABI compliant struct and we don't support that.

More info:
https://stackoverflow.com/questions/4958384/what-is-the-format-of-the-x86-64-va-list-structure

[2020-05-30 06:53] ktachak20 commented on #188
Cloning on linux fixed the issue. I was using windows earlier. Thanks!

[2020-05-30 06:53] #188 closed, assigned to nobody

[2020-05-30 10:35] lucasccordeiro commented on #188
Super! I have seen that you are developing a tool to extract SMT equations from C programs.

You could use the k-induction proof rule of ESBMC to produce intricate SMT equations; they are hard to be solved by state-of-the-art SMT solvers.

[2020-06-03 14:36] ktachak20 opened #192 "ninja install fails with result 'build stopped: subcommand failed'"
Tried building esbmc but fails with errors. The error output is given below:
[code]

I am on a virtual machine with ubuntu 18.04. The following is the build command I used:
[code]

Earlier I had a 'Memory Exhausted' Error but I increased the swap space which solved the problem. Now this problem occurs. I have been trying for two days. Any help would be appreciated.

As an aside question, will it b

[2020-06-03 15:05] mikhailramalho commented on #192
Hi @ktachak20,

Yeah, our python API has some bugs... Are you planning to use it? ESBMC will compile just fine without it.

Building static and enabling python are independent options, you can set both, neither and anything in-between.

[2020-06-04 13:31] ktachak20 commented on #192
Hi @mikhailramalho,
Thank you for answering. Actually I have built ESBMC before. These errors are from when I was building with python support. I thought it would be more convenient to use the python api as I am more comfortable with python.

Should I close this? Thanks anyway.

[2020-06-04 19:56] mikhailramalho commented on #192
No worries, I'll close it. We are dropping the python support for now, as no one in our team seems to be maintaining it anymore.

[2020-06-04 19:56] #192 closed, assigned to mikhailramalho, rafaelsamenezes

[2020-06-05 14:18] rafaelsamenezes opened #194 "ESBMC version should be detected by the latest tag"
Currently, the version is set manually:

[code]

This should be detected automatically using the latest tag or if the repo was not cloned with a default value.

[2020-06-06 17:58] feliperodri opened #196 "All comments in C-style"
Adopt C-style comments and update the entire codebase.

[2020-06-06 18:52] rafaelsamenezes commented on #196
Could you provide an example?

Ideally you should adapt [clang-format](https://github.com/esbmc/esbmc/blob/master/.clang-format) file and run:

[code]

Note that you should use clang-format on version 9 and this script will only work for `bash`

[2020-06-08 14:39] rafaelsamenezes opened #197 "Windows Support"
Update: This is being worked on the `windows-build` branch

We should be able to support Windows which could help bring new users. This does not need any knowledge of how ESBMC works so it shouldn't be hard.

Requirements:
- Build ESBMC in Windows 10 with Boolector and/or Z3.
- Integrate it into the CI.

Notes:
- If CI fails when using Windows headers, then mark it to continue-on-error and open an

[2020-06-08 18:40] rafaelsamenezes opened #198 "C++ Support"
What remains to be done? Shall we make a set of tasks with a milestone/project?

[2020-06-08 22:43] mikhailramalho commented on #198
I'm not sure what remains to be done there. The last time I touched that code was 2017.

I do remember having a version where only constructors and virtual-tables were missing, I think I sent it to @feliperodri last year. The code I sent is very old though, and probably won't easily merge to ESBMC.

I guess the first task would be to try to rebase the `clang-c-frontend` branch, then merge it to ma

[2020-06-09 19:17] rafaelsamenezes commented on #174
I am unsure if testcomp should be used with the message_handlert. IMO we should remove this XML handler from the code and add a options similar to witness generation.

Testcomp is not only an XML it is a set of files.

[2020-06-10 07:40] lucasccordeiro commented on #198
@mikhailramalho: Could you please confirm that the branch that contains the clang c++ frontend is this one https://github.com/esbmc/esbmc/tree/clang-c-frontend?

@feliperodri: did you manage to make some progress on this C++ frontend?

[2020-06-10 12:11] lucasccordeiro commented on #170
@mikhailramalho: thanks for this info. Which part of our clang frontend is argc/argv actually handled?

@rafaelsamenezes: I think it is worth taking a look at this issue. It will allow us to introduce nondet variables to the program input and then check which input has actually triggered a given security vulnerability.

[2020-06-10 12:17] lucasccordeiro commented on #119
I'm unable to reproduce this issue using the current version of our master f782770c92126f2800b857aca540412fc191e265.

[code]

[2020-06-10 12:17] #119 closed, assigned to nobody

[2020-06-10 12:18] lucasccordeiro commented on #119
BTW, I have MacOS Mojave v.10.14.6

[2020-06-10 12:28] lucasccordeiro commented on #154
Once CI is okay, we should close this issue via https://github.com/esbmc/esbmc/pull/201.

[2020-06-10 12:32] lucasccordeiro commented on #119
The test case is also enabled as CORE in https://github.com/esbmc/esbmc/blob/master/regression/floats-regression/ceil/test.desc.

[2020-06-10 15:19] Mohannad-Aldughaim commented on #174
I started implementing this issue. I made a testing project to test each print before i use it in the project and also to test it with cmake. Though i encountered some issues which I have questions about:

1- Should the usage of data types such as std::string changed to fmt::format or remain as they are?(fmt supports std::ostream by including <fmt/ostream.h>)

2- Should the library be included (#i

[2020-06-10 16:09] lucasccordeiro commented on #154
Closed via https://github.com/esbmc/esbmc/pull/201.

[2020-06-10 16:09] #154 closed, assigned to mikhailramalho

[2020-06-10 16:20] lucasccordeiro commented on #148
I have just open a PR to fix this issue: https://github.com/esbmc/esbmc/pull/202

[2020-06-10 17:11] mikhailramalho commented on #170
The handling is spread all over esbmc: the structs are created in the frontend, converted at the goto level and the behaviour is modeled at the symex.

[2020-06-11 05:49] feliperodri commented on #198
@rafaelsamenezes I think we should create a set of tasks with a milestone/project. We should break the tasks as small as possible.

@lucasccordeiro I didn't make progress on the C++ frontend.

This is the last detailed information that @mikhailramalho sent me about the C++ frontend.

----------------------------

_E-mail from Mikhail Gadelha (16 Sep 2019)_

Right now, we have two versions of the C

[2020-06-11 13:21] Mohannad-Aldughaim commented on #174
@mikhailramalho may i ask you if you could answer these questions?

[2020-06-11 17:53] mikhailramalho commented on #198
Some things have changed since I sent this email, in particular:

- All the name resolution should not be a problem anymore since we moved to use clang's Unified Symbol Resolution.
- The custom size for bit-vectors should be implemented when clang is released with _ExtInt.

As I said before: the first task is to rebase the `clang-c-frontend`, and include the basic c++ test in `regression/llvm`. Th

[2020-06-11 22:44] mikhailramalho commented on #148
The following patch fixes the issue:
[code]

However, there is a bigger issue here: the use of `gen_ulong` throughout ESBMC. I'll open another issue for it.

[2020-06-11 23:13] mikhailramalho opened #204 "Add type assertions when creating irep2s"
We are currently generating a number of `irep`/`irep2` expr's where the operands have different types. The SMT solvers don't like it, and even the C standard tries to avoid it by introducing type promotions.

The problem causes bugs like #148, where `get_ulong` is used to generate constants and will generate conflicting types in a number of operations depending on the arch (32 bits vs 64 bits).

W

[2020-06-12 00:10] mikhailramalho commented on #204
I've created the branch `irep2-assertions` with assertions to arithmetic and relational operations, we should add some more:
- true and false branches of a ternary-if should have the same type, the condition should be boolean.
- exponent and significand of `ieee_floatt` should be equal to the ones stored in the type. I'm not sure about `fixedbvt`.
- The number of members in a `constant_datatype_da

[2020-06-13 19:12] lucasccordeiro commented on #148
Closed via https://github.com/esbmc/esbmc/pull/202.

[2020-06-13 19:12] #148 closed, assigned to mikhailramalho

[2020-06-13 19:33] vanderson-rocha opened #205 "Error compiling with CVC4"
When compiling with the -DCVC4_DIR flag, the following error occurs:

CMake Error at scr/solvers/cvc4/CMakeLists.txt: 12 (find_package):
Could not find a package configuration file provided by "CVC4" with any of the following names:
CVC4Config.cmake
cvc4-config.cmake

The error also occurs even without flag use

SO: Ubuntu 18.04 64Bits
Following instructions from: https://github.com/esbmc/esbmc/bl

[2020-06-13 20:31] mikhailramalho commented on #174
1. We should use the `messaget` interface, everything there is `std::string`. No need to use `ostream`.

2. It should only be included in `ui_message.cpp`, every status/debug/warning/error should go through the `messaget` interface.

3. What does the documentation says about these two methods? We should go with the one with less overhead.

[2020-06-14 10:49] rafaelsamenezes commented on #205
Since the latest CVC4 patch we are using it from Git to generate cmake modules. I will update the BUILDING file with the newer instructions.

Meanwhile, you can try:

[code]

[2020-06-14 23:14] mikhailramalho commented on #198
I've created the `clang-cpp-frontend`, which is the code in `clang-c-frontend` rebased on our current master.

We are able to verify several small C++ programs, but only if we are not dealing with objects. Function templates work fine, so programs like:
[code]
can be correctly verified.

I just realized that it will be a huge pain to review a full frontend, so my suggestion is:
1. Add test cases t

[2020-06-15 00:37] mikhailramalho commented on #198
Looks like the reason why esbmc is stuck is related to the cmake build; it is also happening in the old C frontend.

I found at least one missing dependency there: the cpp flex/bison parser depends on the ansi-c one, and there is no clear relation between them.

I also noticed that there is not clear inclusion of the generated parser in the build, some references mention variables `${FLEX_LIBRARIE

[2020-06-15 03:45] mikhailramalho commented on #107
Fixed.

[2020-06-15 03:45] #107 closed, assigned to nobody

[2020-06-15 04:39] mikhailramalho commented on #152
The problem here is that `main` is finished but before `pthread_end_main_hook` is called, `t1` is being scheduled and it correctly asserts that we are referencing a dead variable.

I think the fix should be force calling `pthread_end_main_hook` whenever we reach the end of `main` and kill every interleaving in that branch. Don't ask me how to implement this though.

[2020-06-15 10:36] rafaelsamenezes opened #207 "CMake broke the old frontend"
Looks like the reason why esbmc is stuck is related to the cmake build; it is also happening in the old C frontend.

I found at least one missing dependency there: the cpp flex/bison parser depends on the ansi-c one, and there is no clear relation between them.

I also noticed that there is not clear inclusion of the generated parser in the build, some references mention variables `${FLEX_LIBRARIE

[2020-06-15 10:39] rafaelsamenezes opened #208 "Activate regression suite in clang-cpp-frontend"
Add test cases to the features supported in the current `clang-cpp-frontend` branch and merge it to master.

_Originally posted by @mikhailramalho in https://github.com/esbmc/esbmc/issues/198#issuecomment-643835378_

[2020-06-15 10:40] #205 closed, assigned to rafaelsamenezes

[2020-06-15 13:25] rafaelsamenezes commented on #207
Looking at the old Makefiles I couldn't found that dependency for `cpp`, but I did found it for `ansi-c`. In `ansi-c` that dependency exists and is used. So it shouldn't broke the old frontend. However, since I am not very familiar with autoconf I will put this on hold for now.

[2020-06-15 19:13] rafaelsamenezes opened #212 "Multiline regex support for testing_tool"
Some XML test.desc contains multiline regex, the testing_tool should be able to evaluate them

[2020-06-15 19:14] rafaelsamenezes opened #213 "Detect if test.desc is a XML file"
Right now the approach is to check for the first line of the file. Which is not ideal since we are forcing XML files to have the same header.

[2020-06-15 19:17] #208 closed, assigned to nobody

[2020-06-15 19:33] rafaelsamenezes opened #214 "Release must come with CPP headers abstractions"
In summary: we should add the `./src/cpp/library` folder into the release.

[2020-06-16 04:14] mikhailramalho commented on #213
Since we are discussing the xml spec, should we even still keep it?

I mean, it does generate pretty reports but since we have the CI now, I don't see a point in keeping it.

[2020-06-16 10:19] rafaelsamenezes commented on #213
Since the testing tool is parsing them completely, I don't see why to replace tons of test descriptions. Besides, we should support a nicer test report in the future.

[2020-06-16 12:52] mikhailramalho commented on #197
There at least two scripts used during compilation that will need to be rewritten, the flail.sh and buildstring.sh.

[2020-06-16 13:12] mikhailramalho commented on #196
Should we close this? We discussed it offline and there seems to be no gain in doing it.

[2020-06-16 14:59] rafaelsamenezes commented on #197
Also, [clang-c-language](https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/clang_c_language.cpp#L38) should use `boost::filesystem` to join the path

[2020-06-16 16:49] feliperodri commented on #196
Yes, let's close it.

[2020-06-16 16:49] #196 closed, assigned to nobody

[2020-06-16 19:33] vanderson-rocha opened #217 "Question about --parse-tree-only flag"
Hello people.
When I use the --parse-tree or --parse-tree-only flags, several FunctionDecl appear, as in the section below, and after the code parse.
Am I right? If so, i would like to know what reason this section appears. Thanks for any feedback.

**ESBMC version 6.2.0 64-bit x86_64 linux
file /var/www/html/out/myesbmc5ee901fc7e3727.31341829.c: Parsing
TranslationUnitDecl 0x4e5de88 <<invalid slo

[2020-06-17 10:35] rafaelsamenezes commented on #214
Since the new frontend does not have this requirement I will close this.

[2020-06-17 10:35] #214 closed, assigned to nobody

[2020-06-17 12:39] rafaelsamenezes commented on #197
Actually, they should work fine in [WSL](https://docs.microsoft.com/pt-br/windows/wsl/about).

[2020-06-17 13:12] mikhailramalho commented on #217
These are the internally defined clang types + esbmc intrinsics. The list of esbmc intrinsics can be found here: https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/clang_c_language.cpp#L258

[2020-06-17 16:58] mikhailramalho commented on #213
It a matter of removing an old format (XML) and standardizing our codebase.
If everything was using the same format, you wouldn't need to change our
testing tool to support it.

Em ter., 16 de jun. de 2020 às 06:19, Rafael Sá Menezes <
notifications@github.com> escreveu:

--

Mikhail Ramalho.

[2020-06-17 20:12] rafaelsamenezes commented on #198
You mean the `scanner` and `parser`? They are used into [ansic_with_register](https://github.com/esbmc/esbmc/blob/master/src/ansi-c/CMakeLists.txt#L11)

It is called.

It seems that a `gets`call during `YYINPUT` in the scannerr is hanging forever

[2020-06-18 13:16] rafaelsamenezes commented on #213
I agree with this. But if a change is to be made, it should be to adapt the plain text ones. A standard using XML/JSON is better.

[2020-06-19 09:12] vlstill opened #219 "ESBMC 6.3 hangs on minimal C++ example"
Using the pre-build binary of ESBMC 6.3, I have tried to use it for analysis of C++. However, EBSMC hangs just after the "file ?? Parsing" message is printed:

[code]

From `strace` it appearch ESBMC is accidently waiting for STDIN. Indeed, when I pipe `/dev/null` to ESBMC, it ends (but does not work):

[code]

`test.cpp`:

[code]

The same program renamed to `test.c` works correctly. The same pro

[2020-06-19 14:29] mikhailramalho commented on #219
Thanks for the report @vlstill, we are aware of it but it's being a tough one to fix. @rafaelsamenezes is currently working on it.

[2020-06-19 14:30] #217 closed, assigned to nobody

[2020-06-20 15:18] mikhailramalho commented on #219
Fixed by c557236cc.

It will be available in the next version of ESBMC.

[2020-06-20 15:18] #219 closed, assigned to mikhailramalho, rafaelsamenezes

[2020-06-20 15:18] mikhailramalho commented on #207
Fixed by c557236cc.

[2020-06-20 15:18] #207 closed, assigned to nobody

[2020-06-20 15:58] vlstill commented on #219
Thank you very much for a quick solution to this problem.

[2020-06-22 03:47] rafaelsamenezes opened #221 "Solve super-linter Issues"
The super-linter action is throwing error and they should be fixed.

[2020-06-22 03:48] rafaelsamenezes opened #222 "Solve CMake linter issues"
cmakelint action is throwing error. They should be fixed

[2020-06-22 03:50] rafaelsamenezes opened #223 "Sanitizer errors"
Currently, all clang sanitizers give errors when using ESBMC. They should be fixed:

- UndefinedBehaviourSanitizer
- AddressSanitizer
- ThreadSanitizer
- LeakSanitizer
- MemorySanitizer

[2020-06-22 03:50] rafaelsamenezes opened #224 "Define clang-tidy best flags"
We should define which clang-tidy flags are best used for esbmc.

[2020-06-22 11:58] #165 closed, assigned to nobody

[2020-06-23 20:23] lucasccordeiro commented on #152
This PR https://github.com/esbmc/esbmc/pull/226 should fix this issue.

[2020-06-24 21:11] rafaelsamenezes opened #228 "floats-regression/nan test case failing in macOS"
[code]

[2020-06-24 21:33] mikhailramalho commented on #228
What changed? It was working before.

On Wed, 24 Jun 2020, 17:11 Rafael Sá Menezes, <notifications@github.com>
wrote:

[2020-06-25 13:09] rafaelsamenezes commented on #228
I am not sure which commit gave the problem. For now, I will block merges that it does not pass all CI tests.

[2020-06-25 18:10] mikhailramalho commented on #228
We need to fix this or revert the PR.

A PR should not be merged if it breaks the regression.

[2020-06-25 18:57] rafaelsamenezes commented on #228
I agree, so it is blocked for now. So it will not happen again unless someone commits directly to master

Sure. I do not have any clue on how to detect which commit broke this test case, so I do not think reverting is a good option. About fixing it, that's why I opened this issue.

[2020-06-30 15:29] mikhailramalho commented on #228
Any update here?

[2020-07-03 11:24] rafaelsamenezes commented on #228
Yes,

The latest master commit broke one more test case: https://github.com/esbmc/esbmc/commit/3b89013e7b0f1256635ba11f57bec9fa3e7f66d7

The one before it was ok: https://github.com/esbmc/esbmc/commit/f021f4fe041c71c00a321a1665a04f5715a1b6d1

I can think of two reasons why:

1. The action is unstable for external reasons. If this is the case I am unsure of how to proceed.

2. The macOS headers are

[2020-07-03 12:58] fatimahkj opened #235 "Ubdate ESBMC"
Hi everyone,

I already compiled ESBMC and it works fine. Now, I need to update it. From the build directory, I run ninja and this is what I gote.

![Screenshot from 2020-07-02 17-39-41](https://user-images.githubusercontent.com/47563480/86471197-db18b500-bd34-11ea-9c3b-1d9f4b94a400.png)

Any idea of whats the problem might be? and how can I fix it?
I run the dependencies command
sudo apt-get upda

[2020-07-03 14:20] lucasccordeiro commented on #228
Both test cases work fine on my MacOS (Mojave v10.14.6)

* esbmc/github_213

$esbmc main.c --no-div-by-zero-check --force-malloc-success --context-bound 7 --state-hashing -Dldv_assume=__ESBMC_assume --floatbv --unlimited-k-steps --z3 --incremental-bmc --32 --no-pointer-check --no-bounds-check --error-label ERROR --32 > github_213.txt
[github_213.txt](https://github.com/esbmc/esbmc/files/4870094/gi

[2020-07-03 14:23] mikhailramalho commented on #235
It's not an error, ESBMC was built just fine (that's why you get the "no work to do" from ninja).

LLVM opens some library dynamic to avoid linking, that's why you are getting this message. Don't worry about it.

[2020-07-03 14:23] #235 closed, assigned to nobody

[2020-07-03 19:07] vanderson-rocha opened #238 "Question about symbols"
Guys, could you explain what would be a symbol of level0, level1 and level2? What would node_num be in a symbol?

Tks.

[2020-07-07 07:58] lucasccordeiro opened #241 "Shall we add support for Clang 10.0 in ESBMC?"
Shall we add support for Clang 10.0 in ESBMC?

It is already available at https://releases.llvm.org/download.html.

[2020-07-07 13:43] mikhailramalho commented on #241
Is there any specific feature you need from version 10?

If there isn't, I suggest we wait for version 11, which should have support for ExtInt (partially implemented in branch ExtInt.

[2020-08-16 23:43] pmatos opened #247 "Segfault when analyzing library without entry point"
While trying to analyze file from github.com/racket/racket, I run in `racket/racket/src`:
[code]

Even if this is user-error, esbmc shouldn't crash. Using esbmc 6.4.0

[2020-08-17 00:02] pmatos opened #248 "Segfault when analyzing code through entry point with k-induction"
K-Induction seems to a cause a segfault in the following program (reduced):
(`numarith.c`)
[code]

[code]

Using esbmc 6.4.0.

[2020-08-17 20:18] pmatos commented on #247
I should have added an example source file - my apologies. Will add that soon.

[2020-08-19 13:13] pmatos commented on #248
Thanks for the quick fix. I will give it a go again later and get back to you.

[2020-08-21 13:38] pmatos commented on #248
This seems to be fixed but the same example file generates a double free corruption. Opening separate error.

[2020-08-21 13:43] pmatos commented on #248
It's not completely clear why esbmc ends with:
[code]
on the above example though.

[2020-08-21 13:51] pmatos opened #252 "Double free corruption bug"
Related to #248

[code]

[code]

I am not making these things up. The original pre-processed file I have been trying to verify is attached where I tried verifying `unsafe_fx_mod`.
[numarith.i.gz](https://github.com/esbmc/esbmc/files/5109146/numarith.i.gz)

[2020-08-21 14:47] mikhailramalho commented on #252
Thanks for the report, Paulo, I'll check it today.

Em sex., 21 de ago. de 2020 às 09:51, Paulo Matos <notifications@github.com>
escreveu:

--

Mikhail Ramalho.

[2020-08-21 15:02] lucasccordeiro commented on #248
ESBMC was unable to falsify (via the `base case`) or prove (via the `forward condition` or `inductive step`) the target property.

You could use the option `--unlimited-k-steps` to check whether ESBMC can falsify or prove this target property.

Further information about the `base case`, `forward condition`, and `inductive step` can be found at:

https://ssvlab.github.io/lucasccordeiro/papers/sttt2

[2020-08-21 17:27] mikhailramalho commented on #248
We are not actually running inductive step here, only the base case and forward condition.

Currently, our k-induction does not support recursion, so the inductive step is disabled. Even if you use `--unlimited-k-steps` esbmc won't be able to verify the program, because the forward condition step can't fully unroll the infinite loop/recursion in the program.

[2020-08-22 15:30] mikhailramalho commented on #252
Fixed in PR #249

[2020-08-25 05:14] pmatos commented on #223
Is there a report on the runtime errors given by esbmc? I assume you are somehow compiling with sanitizers and then executing the test suite?

[2020-08-25 05:16] pmatos commented on #223
Here's an example of what I do in Racket:
https://github.com/racket/racket/blob/master/.github/workflows/ci-ubsan.yml

After running the test suite with the sanitizers enabled, I grep for runtime errors and save it as an artifact for later investigation: https://github.com/racket/racket/blob/80ad628eef61857943eacc545914f440ce27c8ac/.github/workflows/ci-ubsan.yml#L87

[2020-08-25 07:30] lucasccordeiro commented on #223
@rafaelsamenezes: May I ask you to answer Paulo's questions?

[2020-08-25 10:28] rafaelsamenezes commented on #223
Just the output of the testcases

Yes, in [Travis](https://github.com/esbmc/esbmc/blob/master/.travis.sh#L114-L118) we compile and run with each sanitizer

It is very similar. We should be able to do something similar with the `ctest` output.

[2020-08-25 14:21] pmatos commented on #223
Thanks @rafaelsamenezes
I am quite surprised that you have both Travis and Actions workflows. Why not consolidate with one service? Is there a technological reason or just lack or hands to do the work?

Also, in the first post you mention all of the sanitizers find errors but I cannot see any errors for the undefined behaviour sanitizer, for example on: https://travis-ci.com/github/esbmc/esbmc/job

[2020-08-25 16:04] rafaelsamenezes commented on #223
There are some [limits](https://docs.github.com/en/actions/getting-started-with-github-actions/about-github-actions#usage-limits). As we already run many actions for linting, release and compiling, I thought that adding the sanitizers would get too many jobs at once.

You are right, the timeout should be increased. Another alternative is to modularize more the regression suites

[2020-08-25 17:27] mikhailramalho commented on #252
Fixed by PR #249

[2020-08-25 17:27] #252 closed, assigned to nobody

[2020-08-25 17:28] mikhailramalho commented on #248
Fixed by PR #249

[2020-08-25 17:28] #248 closed, assigned to mikhailramalho

[2020-08-26 06:20] pmatos commented on #223
Thanks for the clarification @rafaelsamenezes .

So none of the limits should affect ESBMC. Actually ESBMC CI is quite small compared to other projects like Racket or Rust. When a job doesn't have available slots which is the most common limit to hit, its queued pending execution on a free slot for the project.

I don't think I understood from your message if there are warnings from the undefined

[2020-09-12 09:32] rafaelsamenezes commented on #223
Sorry for the delay @pmatos, I missed the notification

I see no problem in putting in Actions then. I would only maintain the macOS since it uses an older version of xcode and can enable us to generate a more compatible release.

No errors, only timeouts. I meant that since there was a timeout we couldn't be sure if an error happened

[2020-09-13 11:48] rafaelsamenezes commented on #28
PR https://github.com/esbmc/esbmc/pull/127 solves this?

[2020-09-13 12:00] rafaelsamenezes commented on #5
Since [v6.2](https://github.com/esbmc/esbmc/tree/v6.2) we removed of using esbmc as a python module. I will close this for now.

[2020-09-13 12:00] #5 closed, assigned to nobody

[2020-09-13 12:14] rafaelsamenezes commented on #48
I think this should be closed since esbmc is using CMake now

[2020-09-13 12:14] #48 closed, assigned to nobody

[2020-09-14 11:10] rafaelsamenezes opened #267 "Use Travis to generate macOS release."
GitHub actions use the latest version of XCode, we should target older releases.

[2020-09-14 12:25] #160 closed, assigned to nobody

[2020-09-14 12:41] rafaelsamenezes opened #268 "Improve coverage with fuzzing and randomness"
## Summary

Since PR https://github.com/esbmc/esbmc/pull/266 we have support to generate fuzz targets using Csmith. We can and should apply some combination techniques for both esbmc and csmith parameters used. Not only this could be helpful in improving the coverage but could expose some bugs that are not easy to test.

## Steps

1. Add a module to generate ESBMC flags through some technique (fuz

[2020-09-15 13:15] #15 closed, assigned to nobody

[2020-09-15 13:27] mikhailramalho commented on #28
Nope, we need to implement the support for flexible arrays in the pointer analysis.

[2020-09-15 13:40] mikhailramalho commented on #238
Sorry for the delay, I missed this message.

It's easier to explain by using the SSA indexes:
* `#`: different variable valuations at different points in the program.
* `@`: different pieces of variable storage, i.e., instances of the same lexical variable, but that have different locations in memory. The obvious example is when the same function is called twice, and it uses a variable `i`; two di

[2020-09-15 13:40] #238 closed, assigned to mikhailramalho

[2020-09-18 12:41] lucasccordeiro opened #270 "main expected to have no or two or three arguments"
When we run ESBMC in this program:

[code]

We get:

[code]

@mikhailramalho: Is there some issue in our clang frontend?

[2020-09-18 13:27] mikhailramalho commented on #270
It's related to some old typecheck rules that came from the CBMC frontend (we should get rid of them all BTW, clang already does all the typechecking needed).

Anyway, this patch fixes the issue:
[code]

[2020-09-18 13:54] lucasccordeiro commented on #270
Thanks, @mikhailramalho

This PR should fix the problem: https://github.com/esbmc/esbmc/pull/271

[2020-09-18 18:31] lucasccordeiro opened #273 "Intuitive error message for "same object violation""
One of the ESBMC users suggested improving the meaning of the error message "same object violation".

In Section 3.5.6, I explain this "property": https://ssvlab.github.io/lucasccordeiro/papers/tse2012.pdf.

Here is the code fragment provided by the user:

[code]

Here is the error message provided by ESBMC when we run `esbmc file.c --force-malloc-success`.

[code]

@mikhailramalho, @thefischsun,

[2020-09-18 18:46] lucasccordeiro commented on #273
Here is one suggestion after discussing with @rafaelsamenezes:

[code]

[2020-09-18 19:05] rafaelsamenezes commented on #270
Closed via https://github.com/esbmc/esbmc/pull/271

[2020-09-18 19:05] #270 closed, assigned to mikhailramalho

[2020-09-18 20:16] vanderson-rocha opened #274 "No creation esbmc file"
Hi team. I am following the step by step presented in https://github.com/esbmc/esbmc/blob/master/BUILDING.md, but in end the esbmc file is not being created. No error is displayed. Any sugestions?

[2020-09-18 20:46] rafaelsamenezes commented on #274
Could you add more info?

1. Which OS.
2. The output of `cmake` command
3. The output of `cmake --build .` command

[2020-09-19 14:03] vanderson-rocha commented on #274
Hi @rafaelsamenezes. Follow:

Which OS.
Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-47-generic x86_64)

The output of cmake command
-- sendfile found, esbmc_parseoptions will use it
-- ESBMC will be built in static mode
-- LIBM: /home/vanderson/mestrado/esbmc/src/c2goto/library/libm/*.c
-- Found Boost: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0/BoostConfig.cmake (found version "1.71.0") found components

[2020-09-19 14:27] rafaelsamenezes commented on #274
No errors there. It should be available at:

`/home/vanderson/mestrado/esbmc/build/src/esbmc/esbmc`

[2020-09-19 16:51] vanderson-rocha commented on #274
@rafaelsamenezes
I found the esbmc file in the folder mentioned. However, shouldn't it be (according to the building documentation) in  release folder?

[2020-09-19 18:09] rafaelsamenezes commented on #274
Only after you install.

If you configured with ninja it should be:

`ninja install`

[2020-09-19 18:44] mikhailramalho commented on #273
Can you compile the code with some sanitizers enabled and show what they say?

What about some other verification tools?

[2020-09-20 07:10] lucasccordeiro commented on #274
@rafaelsamenezes: is our documentation is still consistent with the recent changes?

@vanderson-rocha has raised the point that our documentation gives wrong instructions. Or did I miss something?

[2020-09-20 12:36] rafaelsamenezes commented on #274
Yes. The problem with the docs is that it assumes that the user will have a specific file tree:
- esbmc
- clang9
- ...

And also assumes that the user will build from `esbmc/build`. But if you follow the instructions it shouldn't have any problem.

I am unsure, we need to know if the `ninja install` command solved the issue. If the command is ok and the files are not there then we may have an issu

[2020-09-20 13:37] vanderson-rocha commented on #274
Then @rafaelsamenezes . I don't know if it's a problem on my side, but even when I run ninja install the esbmc file is not created (or replaced when it already exists) in release folder.

[2020-09-20 18:03] lucasccordeiro commented on #273
@mikhailramalho: the clang sanitizer [1] does not seem to detect any error:

[code]

[1] https://clang.llvm.org/docs/AddressSanitizer.html

I have also tried Valgrind as follows:

[code]

So there is no meaningful message here.

I will take a look at other model checkers.

[2020-09-20 18:05] lucasccordeiro commented on #273
CBMC provides:

[code]

[2020-09-20 18:30] lucasccordeiro opened #276 "[boolector] boolector_add: sorts of 'e0' and 'e1' must match"
ESBMC crashes when verifying this C program:

[code]

[code]

[2020-09-20 19:17] lucasccordeiro commented on #276
@mikhailramalho: This issue looks like a problem in our type-checking phase. In particular, our backend does not like this statement: ` c += (l < t);`.

[2020-09-20 19:19] lucasccordeiro commented on #241
We can wait for version 11.

[2020-09-20 19:19] #241 closed, assigned to mikhailramalho, rafaelsamenezes

[2020-09-21 08:20] lucasccordeiro commented on #276
This PR https://github.com/esbmc/esbmc/pull/277 should fix this issue.

[2020-09-21 09:37] rafaelsamenezes commented on #274
It should be in `$PWD/../../release` from where you run CMake. If it is not, could you attach your `CMakeCache.txt` file? It should be inside the folder in which you run CMake

[2020-09-21 12:45] lucasccordeiro commented on #247
@pmatos: May I ask you whether you would still have plans to add an example (source file)?

[2020-09-21 13:17] mikhailramalho commented on #273
Yeah, that is expected, since our check came from cbmc.

Honestly, I never quite understood this same_object property inserted in
pointer relations, are we really sure this is a bug?

[2020-09-21 14:57] pmatos commented on #247
Sorry... I dropped the ball on this one as I have been having quite a bit of work overload. I will take a look later.

[2020-09-21 17:16] mikhailramalho commented on #276
So the patch ended up larger than expected, but it fixes the issues.

I suggest we generate more test cases to test it properly, and that we check it against the sv-comp benchmarks.
[code]

[2020-09-27 15:05] vanderson-rocha commented on #274
@rafaelsamenezes @lucasccordeiro. I found the problem. In the commit presented in https://github.com/esbmc/esbmc/commit/899ed69abaef2e662214749bbbb65ac9cf72ba4a#diff-396d0b75211f5646b2fa730fbdf80a40. there is a change in the paths used in cmake placing the executable in  release folder at same level as the esbmc folder. However when I read the documentation, I understand that release folder should

[2020-09-30 15:23] lucasccordeiro commented on #183
This is a nice idea. Shall we give priority to some specific library?

[2020-09-30 15:51] lucasccordeiro commented on #274
@rafaelsamenezes: @vanderson-rocha has found a typo in the documentation. Could you please fix the location of the release folder?

[2020-09-30 15:52] lucasccordeiro commented on #274
The fix seems to be simple. We just need to remove `..\`. Could you please check it?

[2020-09-30 15:55] rafaelsamenezes commented on #274
Would putting:

solve the issue?

[2020-09-30 15:58] lucasccordeiro commented on #274
@rafaelsamenezes: @vanderson-rocha claims that the release is located at `../release` instead of `../../release`.

[2020-09-30 16:09] vanderson-rocha commented on #274
@rafaelsamenezes , would solve. But, I understand that release folder must be inside the esbmc folder. My opinion.

[2020-10-01 15:26] mikhailramalho opened #283 "Wrong cast in goto_symex_statet::framet::process_stack_size"
Triggered by enabling assertions during regressions: https://github.com/esbmc/esbmc/runs/1191227369?check_suite_focus=true

Programs:
[code]

The issue:
[code]

[2020-10-04 10:54] lucasccordeiro commented on #283
This PR should fix the problem: https://github.com/esbmc/esbmc/pull/284

[2020-10-04 17:53] lucasccordeiro commented on #283
Closed via https://github.com/esbmc/esbmc/pull/284.

[2020-10-04 17:53] #283 closed, assigned to lucasccordeiro, rafaelsamenezes

[2020-10-07 03:53] mikhailramalho opened #287 "Crash when trying to build cex for an array of floats"
Reduced case for boolector, yices, mathsat:
[code]

[2020-10-07 11:56] mikhailramalho commented on #287
Reduced case for Z3:
[code]

[2020-10-07 12:06] mikhailramalho commented on #287
It turns out the CVC4 issue is not related to arrays, but to floating-point encoding. I created another issue for it, issue #288.

[2020-10-07 12:07] mikhailramalho commented on #287
Fixes for Boolector, mathsat and yices are available in branch `fix-float-array-cex`.

[2020-10-07 13:58] mikhailramalho opened #288 "Fix off-by-one error in floating-point encoding (CVC4)"
This case breaks cvc4 but it takes 2+ hours to verify:
[code]

[2020-10-07 18:29] mikhailramalho commented on #287
fixed by PR #289

[2020-10-07 18:29] #287 closed, assigned to nobody

[2020-10-14 16:55] kaled-alshmrany opened #291 "witneses.h"
ESBMC could not reach the input "non-deterministic input" if this input is located in the line-number higher than 13,372. For example, in the program "problem07-lable10.c'' in the benchmarks of Test-Comp 2020, ESBMC could not perform well. This issue happened since the variable responsible for storing the line number in the ESBMC could not approximately store a value higher than approximately 13,3

[2020-10-14 17:18] mikhailramalho commented on #291
I think you're right, the number `215414` is `11 01001001 01110110` (18 bits long), but if we try to fit it into 16 bits, the two MSB are ignored and we end up with `01001001 01110110` or `18806`.

It should be fairly simple to fix it since we have `BigInt`s in ESBMC, that can hold numbers of arbitraty sizes. I'll send a path latter today.

[2020-10-14 17:31] kaled-alshmrany opened #292 "The versions of Boolector"
The Boolector 3.0 version gave better results than the new version Boolector 3.2. I found that when I run the ESBMC with Boolector 3.0 on the category "coverage-error-call.ReachSafety-Arrays" in Test-Comp 2020, it gave better results from the new version of ESBMC with Boolector 3.2. In practical, I run ESBMC (Boolector 3.0) and ESBMC (Boolector 3.2) on the file "skippedu.c". I found that ESBMC (Bo

[2020-10-14 17:38] mikhailramalho commented on #292
Can you provide cmdline you are using to verify the program?

[2020-10-14 18:15] kaled-alshmrany commented on #292
I used the same for both:

./esbmc --no-div-by-zero-check --force-malloc-success --state-hashing --no-align-check --k-step 5 --floatbv --unlimited-k-steps --context-bound 2 ../../sv-benchmarks/c/array-tiling/skippedu.c --32 --witness-output skippedu.c.graphml --falsification --no-pointer-check --no-bounds-check --interval-analysis --no-slice

[2020-10-14 18:21] mikhailramalho commented on #292
Can you try it with Boolector 3.2.1? It takes 0.6s to verify the program for me.

[2020-10-14 18:23] kaled-alshmrany commented on #292
I will try it later today and I will provide you the results because I am now away from my laptop :(

[2020-10-14 19:47] rafaelsamenezes opened #293 "Regression issues with Z3"
Just to keep track of tests that are not working;

From esbmc core:

- [ ] 01_cbmc_Pointer14: Segmentation Fault while building error trace
- [x] 01_cbmc_Malloc18: Segmentation Fault while building error trace
- [ ] 01_cbmc_String_Abstraction6: Unimplemented type'd expression (7) in smt get
- [ ] 01_cbmc_Structs1: Segmentation Fault while building error trace
- [ ] 02_eureka02: Sorts (Array (_ Bit

[2020-10-15 02:19] kaled-alshmrany commented on #292
I have run the C program "skippedu.c" in both versions of ESBMC (6.4 and 6.0). Both of them gave me the result "VERIFICATION FAILED" but when I validated the result by TestCov, it gave me UNKNOWN for the version (ESBMC 6.4 with Boolector 3.2) and TRUE for the version (ESBMC 6.0 with Boolector 3.0).

To give more clarity about the issue, please take a look at this video:
https://www.dropbox.com/s/h

[2020-10-15 02:29] mikhailramalho commented on #292
Can you upload the counter-example or tests that each version of ESBMC generates?

[2020-10-15 02:44] kaled-alshmrany commented on #292
![ESBMC 6 0 with Boolector 3 0](https://user-images.githubusercontent.com/48326737/96070737-7596a180-0ea9-11eb-819b-2a7f04131cce.png)

![ESBMC 6 4 with Boolector 3 2](https://user-images.githubusercontent.com/48326737/96070758-7deedc80-0ea9-11eb-894e-9ba26fae86ca.png)

[2020-10-15 03:00] mikhailramalho commented on #292
Are you using the same esbmc-wrapper script for both tools or are you using the ones bundled with each esbmc version for the competition?

I think the issue is in the esbmc-wrapper script, @rafaelsamenezes could you please check it?

[2020-10-15 03:10] kaled-alshmrany commented on #292
I am using the same esbmc-wrapper script for both versions. One gave TRUE and the other gave UNKNOWN.

[2020-10-15 03:15] mikhailramalho commented on #292
Right, let's wait for some feedback from Rafael. I got the same result with
both esbmc 6.0 and 6.4 using the latest script.

Em qua., 14 de out. de 2020 às 23:11, kaled Alshmrany <
notifications@github.com> escreveu:

--

Mikhail Ramalho.

[2020-10-15 14:31] kaled-alshmrany commented on #292
Also, I have run the C program "skippedu.c" in both versions of ESBMC (6.4 and 6.0) but with Z3 as Rafael suggested.  It gave me UNKNOWN for the version (ESBMC 6.4 with Z3) and TRUE for the version (ESBMC 6.0 with Z3).

Here are the test-cases for them:

![Screen Shot 2020-10-15 at 5 23 01 PM](https://user-images.githubusercontent.com/48326737/96143662-f9817580-0f0b-11eb-92ed-b3c0ff72f031.png)

![

[2020-10-15 14:33] lucasccordeiro commented on #292
@mikhail: Have we modified the counterexample produced by ESBMC?

Em qui., 15 de out. de 2020 às 15:31, kaled Alshmrany <
notifications@github.com> escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2020-10-15 14:36] mikhailramalho commented on #292
Nope, both ESBMC 6.0 and 6.4 produce the same cex for me.

Em qui., 15 de out. de 2020 às 10:33, Lucas Cordeiro <
notifications@github.com> escreveu:

--

Mikhail Ramalho.

[2020-10-15 14:46] lucasccordeiro commented on #292
Okay, I think there is something funny in Kaled's script.

@Kaled: could you investigate this script with Rafael?

Em qui., 15 de out. de 2020 às 15:37, Mikhail R. Gadelha <
notifications@github.com> escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2020-10-15 14:55] mikhailramalho commented on #291
Fixed by PR #294

[2020-10-15 14:57] kaled-alshmrany commented on #292
OK. We will look at it and then provide you the news about it.

[2020-10-15 14:59] lucasccordeiro commented on #292
Thanks, Kaled.

Em qui., 15 de out. de 2020 às 15:58, kaled Alshmrany <
notifications@github.com> escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2020-10-16 13:42] rafaelsamenezes opened #296 "Fix macOS/Linux CI Timeout"
The CI keeps getting timeouts, we need to solve this by:

1. Making testing_tool do all tests in parallel: I don't recommend since ESBMC is a tool that makes heavy usage of the CPU and we have a race condition over memory for some programs.

2. Break in smaller tests suites: The timeout problem is for each suite. We should aim to keep each suite at 1000s at max. This would help both development an

[2020-10-23 07:49] lucasccordeiro commented on #292
@mikhailramalho: Yesterday, I had a short meeting with @kaled-alshmrany. The main problem between ESBMC v6.0 and v6.4 is that ESBMC produces a rather short witness output for v6.4.

May I ask you whether you could check why the current version of ESBMC does not produce the same witness files as v6.0?

Your fix concerning the `BigInt` in the witness output has substantially increased our scores in

[2020-10-23 11:01] kaled-alshmrany commented on #292
Here are the graphml files for both versions. You can note the difference starting from line 82, where assumption not taken in the ESBMC 6.4.

The graphml for ESBMC 6.4.
[skippedu.c_graphml.txt](https://github.com/esbmc/esbmc/files/5429007/skippedu.c_graphml.txt)

The graphml for ESBMC 6.0.
[skippedu.c.graphml.txt](https://github.com/esbmc/esbmc/files/5429031/skippedu.c.graphml.txt)

Many thanks
K

[2020-10-23 11:50] lucasccordeiro commented on #292
@mikhailramalho: for some unknown reason, the following expressions do not appear in the graphml produced by ESBMC v6.4:

[code]

[2020-10-23 13:01] mikhailramalho commented on #292
Indeed, we are should not print these assignments because they are not present in the original program and are thus being ignored.

Even worse, due to how we encode assignments in our memory model, these 4 assignments represent 1 assignment in the original program (as you can see in the value of the startline tag). This happens because we update each byte separately, and since this is an array of

[2020-10-23 14:24] lucasccordeiro commented on #292
Hi Mikhail,

Rafael can reconstruct this counterexample in the FuSeBMC wrapper.

@rafael: could you please confirm it?

We just need to get these four assignments in the graphml file.

Best,
Lucas

Sent from my iPhone

[2020-10-23 14:48] lucasccordeiro commented on #292
I think the best solution is to implement the reconstruction of the byte extract inside ESBMC instead of the wrapper.

Sent from my iPhone

[2020-10-23 17:05] rafaelsamenezes commented on #292
So we need to do 2 things:

1. Fix the byte_extract_value not going into the witness file. AFAIK the issue is that the byte_extract_value is not marked as a constant. https://github.com/esbmc/esbmc/blob/master/src/util/irep2_utils.h#L86
2. As @lucasccordeiro suggested convert the byte_extract before in both Witness and cex. I am not sure where is the best place to do this. Maybe here: https://gith

[2020-10-23 17:40] mikhailramalho commented on #292
The issue here is that the `byte_*` operations are not being simplified, e.g., `byte_extract_little_endian((unsigned int)-2147483648, 0)` means extract the byte `0` from the `unsigned int -2147483648`, assuming a little-endian bit format.

This is a constant operation because we have the information to generate a constant, but we never ported the code that actually does the simplification, i.e., h

[2020-10-23 17:55] rafaelsamenezes commented on #292
You mean the witness that is going to be used by cpachecker or to generate the testcase?

It shouldn't be a problem for the testcase. The LHS is discarded when generating iy.

[2020-10-23 18:02] mikhailramalho commented on #292
No, I meant that it will look like 4 assignments to the array, instead of 1.

This array is inside a loop, so maybe the witness's validator/test generator will assume that the loop looped 4 times? And what about when there is no loop but there are 4 assignments to a variable/array element?

[2020-10-23 21:23] rafaelsamenezes commented on #292
For witness, I don't know. For testcase it shouldn't matter, we only check if the the line on the source contains nondet_*, the operation is performed when generating it. The current solution is not the best, since as we can see from Kaled example it generated a test case with far more values than needed. For skippedu it should contain `1 + SIZE` elements.

[2020-10-26 10:57] lucasccordeiro opened #300 "Can't construct rvalue reference to array type during dereference (It isn't allowed by C anyway)"
$esbmc test.c --function foo

[code]

[code]

[2020-10-26 17:11] kaled-alshmrany opened #301 "ESBMC faced a problem, "Boolector error encountered""
I have run ESBMC on the program "Loops/string-2.c" in Test-Comp benchmarks and I found this problem "Boolector error encountered [boolector] boolector_slice: 'upper' must not be >= width of 'exp'".

Here is the output:
[output.txt](https://github.com/esbmc/esbmc/files/5440248/output.txt)

Here is the program:
[string-2.i.txt](https://github.com/esbmc/esbmc/files/5440285/string-2.i.txt)

[2020-11-24 13:24] lucasccordeiro commented on #300
After discussing with @mikhailramalho, here are some "pointers" to investigate this issue:

1) at the beginning of goto conversion ``goto_convert_functions.cpp``, we have some ``thrash_types`` methods that might be incorrect.
2) we should also check something later on ``migrate.cpp``, when we created the union.

[2020-11-24 23:47] Jeffrey-0617 opened #302 "ESBMC 6.4.0 installed by ESBMC-Darwin.sh is stuck with an assignment statement while generating counterexample"
I tried to use ESBMC 6.4.0 installed by [ESBMC-Darwin.sh](http://esbmc.org/) to execute my program, but it is stuck with an assignment statement which is "aux1[j] = aux2[j];" while generating counterexample.

However, I installed the ESBMC 6.4.0 by following [BUILDING.md](https://github.com/esbmc/esbmc/blob/master/BUILDING.md) and used this to execute the same program, it works well with the assig

[2020-11-25 09:31] lucasccordeiro commented on #302
@Jeffrey-0617: May I ask you to upload here your C program that exposes this issue?

[2020-11-25 10:08] Jeffrey-0617 commented on #302
Here is the code, please change the txt file format to C program(.c).
[code.txt](https://github.com/esbmc/esbmc/files/5595884/code.txt)

Here is the screenshot of the behavior. ESBMC installed by ESBMC-Darwin.sh is on the left and is stuck, and ESBMC installed by BUILDING.md is on the right, which has generated the counterexample.

<img width="1136" alt="behavior information" src="https://user-ima

[2020-11-25 14:16] mikhailramalho commented on #302
Hi Jeffrey,

Indeed it is a bug on our last release. We'll make a new release with the
fix by the end of the next week.

Thanks for the report.

Em qua., 25 de nov. de 2020 às 06:09, Jeffrey-0617 <notifications@github.com>
escreveu:

--

Mikhail Ramalho.

[2020-11-26 19:08] kaled-alshmrany commented on #300
I have some programs in Test-Comp 21 that ESBMC got the same issue explained above. Here is two of them:

1- https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/kbfiltr.i.cil-2.c
2-https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/parport.i.cil-1.c

[2020-11-26 19:43] kaled-alshmrany commented on #300
@mikhailramalho Could please take a look at it because this will affect badly to our current results in Test-Comp21 for the category (ReachSafety-ControlFlow)

[2020-11-27 09:44] lucasccordeiro commented on #300
@mikhailramalho has just created a branch to start working on this issue: https://github.com/esbmc/esbmc/tree/fix-union-flattener.

[2020-11-27 09:49] lucasccordeiro commented on #300
BTW, in the early versions of our SMT backend, I have tried to add support for unions.

In this paper https://ssvlab.github.io/lucasccordeiro/papers/tse2012.pdf, I describe the union encoding:

[code]

I think we had found limitations of this encoding and decided to remove it.

[2020-11-27 17:25] lucasccordeiro commented on #302
Hi Mengze,

I was unable to reproduce this problem using the version in our master branch. I have just added your program as a regression test to our suite (b2e092d937f3c88e42501ca9c38153a1993d81af).

As @mikhailramalho mentioned, we will make a new release soon, which will then fix this issue.

Best,
Lucas

[2020-11-27 17:25] #302 closed, assigned to nobody

[2020-11-28 10:39] lucasccordeiro opened #303 "witness validation for SV-COMP 2021"
@ericksonalves

As we talked, could you be responsible for the part of witness validation concerning ESBMC in SV-COMP 2021?

The ESBMC results can be obtained at: https://sv-comp.sosy-lab.org/2021/results/results-verified/iZeCa0gaey.html

The task is to check the generation of our witnesses to identify which elements are missing from our graphml.

In particular, you can check if we are not printin

[2020-11-28 10:41] lucasccordeiro opened #304 "Termination analysis"
ESBMC is providing various incorrect results when analyzing the termination property. In particular, our inductive step is incorrectly producing `VERIFICATION SUCCESSFUL` for various benchmarks.

[2020-11-28 10:44] lucasccordeiro commented on #304
[code]

[2020-11-28 10:45] lucasccordeiro commented on #304
[code]

[2020-11-28 10:46] lucasccordeiro commented on #303
@ericksonalves: we could also check whether this commit https://github.com/esbmc/esbmc/commit/74e3c2b412ba896cde0894b92eedcf6f1427db88 has introduced problems to our witness.

[2020-11-28 10:49] lucasccordeiro opened #305 "incorrect true when checking for data races"
./esbmc-wrapper.py -p ../../sv-benchmarks/c/properties/unreach-call.prp -s kinduction --arch 32 ../../sv-benchmarks/c/goblint-regression/28-race_reach_45-escape_racing.i

[code]

[2020-11-28 10:56] lucasccordeiro opened #306 "incorrect true in the inductive step for linear search"
./esbmc-wrapper.py -p ../../sv-benchmarks/c/properties/unreach-call.prp -s kinduction --arch 32 ../../sv-benchmarks/c/loops/linear_search.c

--------------------------------------------------------------------------------

Verifying with ESBMC
Command: ./esbmc --no-div-by-zero-check --force-malloc-success --state-hashing --no-align-check --k-step 2 --floatbv --unlimited-k-steps --no-por --context-

[2020-11-29 15:04] lucasccordeiro opened #307 "incorrect true in the inductive step for array-examples/data_structures_set_multi_proc_ground-1.i"
[code]

[2020-11-29 15:24] lucasccordeiro opened #308 "incorrect result in the inductive step for list-ext2-properties/simple_search_value-2.i"
[code]

[2020-11-29 15:31] lucasccordeiro opened #309 "incorrect true in the inductive step for loops/sum01_bug02.i"
[code]

[2020-12-06 21:13] mikhailramalho commented on #300
New branch rvalue-fix.

It correctly verifies the following two programs:
[code]
[code]

[2020-12-06 22:42] mikhailramalho commented on #300
Current reduce program from `ntdrivers/kbfiltr.i.cil-2.c` that ESBMC can't verify:
[code]

[2020-12-09 08:07] lucasccordeiro opened #313 "Extend Clang builtin functions in ESBMC"
Clang supports a number of builtin library functions with the same syntax as GCC like `__builtin_nan`, `__builtin_constant_p`, `__builtin_choose_expr`, `__builtin_types_compatible_p`, `__sync_fetch_and_add`, etc.

However, ESBMC does not handle builtin functions in its analysis.

As an example, the builtin function ``__builtin_unreachable()`` that is used in the following code:

[code]

Causes ESB

[2020-12-09 08:15] lucasccordeiro opened #314 "Conversion of unsupported clang cast operator: "ToUnion" to expression"
The ESBMC frontend does not like the conversion from a union type.

Consider this C code:

[code]

ESBMC command line which recreates the issue:
$ esbmc test_cast_to_union.c --function main

ESBMC version 6.4.0 64-bit x86_64 linux
file test_cast_to_union.c: Parsing
Converting
Conversion of unsupported clang cast operator: "ToUnion" to expression
CStyleCastExpr 0x445d0c0 'union_t':'union_t' <ToUnio

[2020-12-09 08:18] lucasccordeiro opened #315 "Conversion of unsupported clang type: "Vector""
The ESBMC frontend does not support the conversion of clang type "Vector".

[code]
ESBMC command that was used:
$ esbmc test_vector.c --function main

ESBMC version 6.4.0 64-bit x86_64 linux
file test_vector.c: Parsing
Converting
Conversion of unsupported clang type: "Vector
VectorType 0x445b030 '__attribute__((__vector_size__(4 * sizeof(int)))) int' 4
`-BuiltinType 0x4358b60 'int'
CONVERSION ERRO

[2020-12-09 15:24] mikhailramalho commented on #315
This should be easily implemented in the frontend, however, this will require changes to every other part of ESBMC. The problematic one would be to implement it on the SMT backend.

CBMC has a similar data type.

[2020-12-09 15:25] mikhailramalho commented on #314
Does it work as a bitcast or a typecast?

[2020-12-09 15:29] mikhailramalho commented on #313
We already have an issue for builtins: https://github.com/esbmc/esbmc/issues/42

Closing as duplicated.

[2020-12-09 15:29] #313 closed, assigned to mikhailramalho

[2020-12-10 10:45] lucasccordeiro commented on #314
Typecast.

[2020-12-12 12:09] rafaelsamenezes opened #318 "Mod operation generates wrong counter example"
Given the following program:

[code]

It will give the output:
[code]

The analysis is correct since the `mod` can be negative, the issue is that the value for `a` is wrong.

[2020-12-13 23:36] mikhailramalho commented on #318
Fixed by PR #319

[2020-12-13 23:36] #318 closed, assigned to nobody

[2020-12-14 17:24] mikhailramalho commented on #301
fixed by PR #320

[2020-12-14 17:24] #301 closed, assigned to nobody

[2020-12-14 17:29] mikhailramalho commented on #303
@lucasccordeiro, can we close this one?

[2020-12-14 17:31] mikhailramalho commented on #228
Working with the current master (d645fd464bef)

[2020-12-14 17:31] #228 closed, assigned to nobody

[2020-12-14 17:34] lucasccordeiro commented on #303
Yes. We have already fixed our witness. This PR https://github.com/esbmc/esbmc/pull/320 implements the improvements.

[2020-12-14 17:34] #303 closed, assigned to ericksonalves

[2020-12-14 18:27] mikhailramalho commented on #314
This is a gcc extension: https://gcc.gnu.org/onlinedocs/gcc/Cast-to-Union.html

The implementation requires changing `clang_c_adjust_*.cpp` to find the correct member to create the assingment.

[2020-12-17 13:25] rafaelsamenezes commented on #296
This is already fixed at https://github.com/esbmc/esbmc/commit/d645fd464bef6c3028367c993bd289f9b579708f with option 2

[2020-12-17 13:25] #296 closed, assigned to nobody

[2020-12-19 00:24] #4 closed, assigned to nobody

[2020-12-19 00:24] #8 closed, assigned to nobody

[2020-12-20 11:20] lucasccordeiro opened #323 "boolector_eq: nodes must have equal sorts"
$esbmc main.c

[code]

[code]

[2020-12-21 12:02] lucasccordeiro commented on #292
@kaled-alshmrany and @rafaelsamenezes: Does this issue still exist? Can we close it?

[2020-12-21 12:03] lucasccordeiro commented on #323
Closed via https://github.com/esbmc/esbmc/pull/324.

[2020-12-21 12:03] #323 closed, assigned to mikhailramalho

[2020-12-21 12:05] lucasccordeiro commented on #247
@pmatos: May I ask you whether you would still have plans to add an example (source file)? :-)

[2020-12-21 12:09] lucasccordeiro commented on #169
The option `--no-pointer-check` causes the segmentation fault in ESBMC.

[2020-12-21 12:12] lucasccordeiro commented on #300
This issue https://github.com/esbmc/esbmc/issues/134 is also related to https://github.com/esbmc/esbmc/issues/300.

[2020-12-23 12:41] lucasccordeiro opened #325 "Option for the valid-memcleanup property"
our `--memory-leak-check is actually` to check `G valid-memcleanup`, not `G valid-memtrack`.

[2021-01-02 11:55] rafaelsamenezes opened #329 "Union Bitfields parsing error"
The program

[code]

Crashes with `esbmc: ../src/clang-c-frontend/clang_c_convert.cpp:3074: void clang_c_convertert::fix_constant_bitfields(exprt&): Assertion `expr.type().id() == "struct"' failed.`

[2021-01-02 17:37] lucasccordeiro opened #330 "[Juliet_Tests] dereference failure: invalid pointer freed"
I have tried to use creduce to reduce this test case but without success yet.

[code]

[code]

[main.txt](https://github.com/esbmc/esbmc/files/5760604/main.txt)

[2021-01-02 17:49] lucasccordeiro commented on #330
This is the most relevant code fragment.

If we add a comment to either `goodG2B();` or `goodB2G();`, ESBMC verifies this code correctly. However, if we keep both function calls, ESBMC reports `VERIFICATION FAILED`.

[code]

[2021-01-02 18:27] mikhailramalho opened #331 "[Juliet_Tests] dereference failure: array bounds violated"
Another juliet error:
[code]
cmd: `esbmc main1.c --force-malloc-success`

The problem here is that ESBMC calculates the size of an object and the alignment/padding, so `(dataBuffer + 1)` ends up with a 16 bytes offset.

The fix here is to rewrite the sizeof calculation, which might affect everything from handling bitfields to alignment checks.

[2021-01-03 12:07] lucasccordeiro opened #332 "Incorrect verification result for floating-point arithmetic (float-benchs/inv_Newton.c.p+cfa-reducer.c)"
./esbmc-wrapper.py -p ../../sv-benchmarks/c/properties/unreach-call.prp -s kinduction --arch 32 ../../sv-benchmarks/c/float-benchs/inv_Newton.c.p+cfa-reducer.c

[code]

[code]

[2021-01-03 12:30] lucasccordeiro commented on #330
Here is the reduced C program to debug the problem in ESBMC, which was produced by `creduce`:

[code]

[2021-01-06 12:11] #329 closed, assigned to rafaelsamenezes

[2021-01-06 13:39] rafaelsamenezes opened #334 "Assertion `sutype.components().size() == new_expr.operands().size()' failed"
The program fails with the program:

[code]

[2021-01-06 14:19] lucasccordeiro commented on #330
This commit 11843f32ddad8878dd8b84988e5411c2cad7997d breaks some of the Juliet cases.

[2021-01-11 16:49] lucasccordeiro commented on #330
This evaluation was done by Fedor.

I think the problem hides in the "__builtin_alloca()" function, or how it is implemented/encoded by ESBMC. I simplified the main example to this point:

[code]

This code does not seem to be doing anything bad. Also it doesn't seem that anything can go wrong here as all the values are hard-coded. However, ESBMC finds (--no-slice option is used in the output belo

[2021-01-11 17:11] lucasccordeiro opened #338 "ESBMC does not detect memory safety violation with __builtin_alloca"
@shmarovfedor has created this report.

This PR https://github.com/esbmc/esbmc/pull/337 should fix the problem.

[code]

If we run this program with Softbounds and purecap, we get:

https://github.com/santoshn/softboundcets-34/

[code]

https://github.com/CTSRD-CHERI/cheribuild

[code]

[2021-01-12 17:36] rafaelsamenezes commented on #147
Closed since master already supports LLVM11

[2021-01-12 17:36] #147 closed, assigned to nobody

[2021-01-12 17:43] lucasccordeiro opened #339 "Integrate Bitwuzla into ESBMC"
According to the developers, Boolector is currently in maintenance mode and won't be extended for new features. The replacement for Booletor is Bitwuzla (https://bitwuzla.github.io/), which already has an API.  So, I believe that migrating from Boolector to Bitwuzla should be okay.

[2021-01-12 19:54] Helderjfl opened #341 "How to use ESBMC-GPU Scanner and Parser?"
Hi,

I'm looking for a Scanner and Parser for CUDA, I saw that ESBMC-GPU have one, but I'm trying to use just that part of ESBMC and I can't get it to work.
I saw that both scanner and parser are at "ansi-c" folder, I used make command to build, used "flex++ scanner.lpp -lfl" to create "lex.yy.cc" and "g++ lex.yy.cc -I../util/ -I../ -I./" to compile, but I'm getting some errors:

scanner.lpp: In f

[2021-01-13 11:48] rafaelsamenezes commented on #292
This can be closed.

[2021-01-13 11:48] #292 closed, assigned to rafaelsamenezes

[2021-01-13 11:59] lucasccordeiro commented on #341
Hi Helder,

Many thanks for your interest in the ESBMC-GPU project.

Unfortunately, we didn't continue the development of ESBMC-GPU. The latest version of the sources used in our papers are available at:

https://github.com/ssvlab/esbmc-gpu-source

Did you try to use the version of the above repository?

Fortunately, we have recently been awarded a research grant (https://enncore.github.io/), wher

[2021-01-13 12:03] lucasccordeiro commented on #331
@ericksonalves: could you please investigate this issue in ESBMC?

[2021-01-13 12:04] lucasccordeiro commented on #330
This PR https://github.com/esbmc/esbmc/pull/337 fixes this issue.

[2021-01-13 12:25] ericksonalves commented on #331
Hi,

Sure, I will investigate it.

[2021-01-13 14:24] lucasccordeiro commented on #339
In order to integrate Bitwuzla into ESBMC, we would need to follow these steps:

1) Copy and paste this directory:

https://github.com/esbmc/esbmc/tree/master/src/solvers/z3

2) Replace everything with "z3" by "Bitwuzla".

3) Replace the calls to the Z3 SMT solver methods by those from Bitwuzla in https://github.com/esbmc/esbmc/tree/master/src/solvers/z3.

4) Update https://github.com/esbmc/esbmc/

[2021-01-13 14:39] mikhailramalho commented on #339
That should cover it.

But remember that Bitwuzla doesn't offer a C++ API yet (or at least I
couldn't find it).

Em qua., 13 de jan. de 2021 às 10:25, Lucas Cordeiro <
notifications@github.com> escreveu:

--

Mikhail Ramalho.

[2021-01-13 15:02] rafaelsamenezes commented on #339
@mikhailramalho we've sent an e-mail for the developers asking for it. Hopefully we will get a response soon.

@lucasccordeiro may we convert your comment into a wiki page?

[2021-01-13 15:05] lucasccordeiro commented on #339
Yes, please!

Could you please create it?

[2021-01-13 16:25] lucasccordeiro opened #342 "Verify the stack size using __builtin_alloca"

[2021-01-13 16:26] lucasccordeiro commented on #330
Closed via https://github.com/esbmc/esbmc/pull/337.

[2021-01-13 16:26] #330 closed, assigned to nobody

[2021-01-13 16:27] lucasccordeiro commented on #338
Closed via https://github.com/esbmc/esbmc/pull/337.

[2021-01-13 16:27] #338 closed, assigned to mikhailramalho

[2021-01-21 18:19] #314 closed, assigned to mikhailramalho

[2021-01-23 12:02] rafaelsamenezes commented on #173
@mikhailramalho the best place to change this is [here](https://github.com/esbmc/esbmc/blob/master/src/esbmc/esbmc_parseoptions.cpp#L178) right?

Would this be enough?

Some extra information:

- Description of the options: https://github.com/esbmc/esbmc/blob/master/src/esbmc/options.cpp

[2021-01-23 12:06] lucasccordeiro opened #345 "segmentation fault"
ESBMC crashes with segmentation fault for this program:

[code]

[2021-01-23 14:52] mikhailramalho commented on #173
This is where the options are set giving the cmd; it is one of the places it should be changed.

IMO, the easier way to cover everything is to get rid of the `util/cmdline` file/object and replace its features with the boost options.

[2021-01-24 13:03] rafaelsamenezes commented on #345
Reduced program

[code]

[2021-01-24 14:23] lucasccordeiro commented on #345
There might be some problem in our frontend...

Sent from my iPhone

[2021-01-25 13:40] rafaelsamenezes opened #349 "Travis is broken"
It looks like it is not free for OSS anymore, we should move the checks for the Actions (or another CI):

- [ ] Coverage
- [ ] Sanitizer

Also, we still need to find a good way to get builds for older macOS versions.

[2021-01-25 16:35] #345 closed, assigned to mikhailramalho, rafaelsamenezes

[2021-01-26 14:18] rafaelsamenezes opened #351 "Conversion of unsupported clang type: "MacroQualified"
## Summary
The program:
[code]

fails at the frontend.

## Issue

[Clang doc](https://clang.llvm.org/docs/LanguageExtensions.html#memory-references-to-specified-segments) says that the attribute `address_space` is used to move the contents of the address relative to the GS/FS register depending of the size of the space i.e  `GS<= 256 < FS`. For instance:

[code]

Becomes:

[code]

## Solution

I t

[2021-01-26 14:55] mikhailramalho commented on #351
Do you mean to ignore the attribute, right?

If we ignore the type, stuff will probably break later on.

[2021-01-26 15:07] rafaelsamenezes commented on #351
Yes, do the same as the attributedtype i.e

[code]

However this is breaking at the dereference level, e.g:

[code]

Fails with a dereference error

[2021-01-26 15:10] mikhailramalho commented on #351
Em ter., 26 de jan. de 2021 às 11:07, Rafael Sá Menezes <
notifications@github.com> escreveu:

It seems fine.

--

Mikhail Ramalho.

[2021-01-26 15:12] rafaelsamenezes commented on #351
Actually, this should break. :-)

[2021-01-26 20:36] #351 closed, assigned to nobody

[2021-01-27 14:47] lucasccordeiro opened #353 "Our slicer is cutting too many instructions when printing the counterexample"
ESBMC does not print any assignment in the counterexample when verifying this C program:

$esbmc main.c

[code]

If we call ESBMC with `--no-slice`, then ESBMC shows:

[code]

I believe our slicer should still print this assignment since they are relevant to show that we have a NULL pointer dereference.

[2021-01-27 14:49] lucasccordeiro commented on #353
This issue also happens if we use `--no-propagation`.

[2021-01-27 15:04] mikhailramalho commented on #353
The slicer doesn't know what is "relevant" or not in the program, it only
cares about removing assignments. If you look at the cex path, you only
have constants, so everything is propagated and sliced away.

When building the cex, however, all the SSA are still there, it is only a
matter of teaching esbmc what is relevant to include in a cex.

--

Mikhail Ramalho.

[2021-01-29 12:08] lucasccordeiro commented on #32
I could play a bit with the parallel version of the SMT solver Z3. I have just tried a few (random) benchmarks. Unfortunately, the performance of the parallel Z3 solver is worse than the sequential one. We could run over the entire SV-COMP suite to check whether we can get some speedup. However, as pointed out by Nikolaj `Without benchmarking it on applications and derive improvements from it, I d

[2021-02-01 23:59] dckc opened #355 "separate compilation? main symbol `main' not found"
I tried to check [xsJSON.c](https://github.com/Moddable-OpenSource/moddable/blob/public/xs/sources/xsJSON.c) but got:

[code]

Why is lack of `main` an error? Is separate compilation not (yet?) supported? Is it considered in-scope for the project? Perhaps I missed some documentation on how to do it?

[2021-02-02 10:48] lucasccordeiro opened #357 "function call: argument "c:test_type_mismatch.c@611@F@func2@param" type mismatch: got unsignedbv, expected array"
From the `ucode` branch, we get:

$esbmc test_type_mismatch.c

[code]

[code]

[2021-02-02 10:57] lucasccordeiro commented on #355
Since you don't have a `main` function as an entry point, you need to specify which function you want to verify. In this specific case, you could:

$esbmc xsJSON.c --function  fx_JSON_parse

If you want to automate the process of verifying each function individually, we also have a python script to do that job for you.

Do you have some test suite to check this piece of code? you could also extend

[2021-02-02 17:49] dckc commented on #355
Now I get a SEGV. I can't figure out how to get a core file to give you a back trace even with `ulimit -c unlimited`. I suppose that's a separate issue... (_p.s. #359_) how to do separate compilation is now clear enough.

[code]

[2021-02-02 17:49] #355 closed, assigned to nobody

[2021-02-02 18:25] lucasccordeiro commented on #355
If you could open another issue, then we could take a look at it and propose a fix.

[2021-02-02 22:06] dckc opened #359 "Segmentation fault Generating GOTO Program from xsJSON.c"
I haven't figured out how to get more specific diagnostics nor reduce the problem to a smaller example.

To reproduce:

1. `git clone https://github.com/Moddable-OpenSource/moddable` (currently: db4736b0fd55 )
2. `export MODDABLE=`... directory where moddable was cloned in step 1
4. `cd $MODDABLE/xs/makefiles/lin`
5. apply diff below to `xst.mk`
6. `make -f xsnap.mk CC="esbmc --function fx_JSON_pa

[2021-02-02 23:47] #197 closed, assigned to rafaelsamenezes

[2021-02-03 09:09] lucasccordeiro opened #360 "Fetching array elements inside tuples currently unimplemented, sorry"
`esbmc main.c`

[code]

[code]

[2021-02-03 09:39] rafaelsamenezes commented on #360
There is already an issue for this: https://github.com/esbmc/esbmc/issues/143

[2021-02-03 09:40] rafaelsamenezes opened #361 "List-solvers options is not working properly"
The command should return all available solvers but is only returning smtlib

[2021-02-03 10:05] rafaelsamenezes commented on #359
Hello @dckc,

When running step 3 I am having some trouble:

- At step 3 `fatal: repository 'https://github.com/agoric-labs/xsnap/' not found`
- If I try to open https://github.com/agoric-labs/xsnap it returns an error 404

Are you sure that this is a public repository?

[2021-02-03 10:36] lucasccordeiro commented on #360
Reduced program that exposes the problem:

[code]

[2021-02-03 11:15] ibnyusuf commented on #339
A couple of further steps can be added:

7) Update:
https://github.com/esbmc/esbmc/blob/7f41ac14baf26ca32521781a9404105413dc61a4/src/esbmc/options.cpp#L93-L97

8) Update
https://github.com/esbmc/esbmc/blob/7f41ac14baf26ca32521781a9404105413dc61a4/src/esbmc/esbmc_parseoptions.cpp#L1752

[2021-02-03 11:20] lucasccordeiro commented on #339
Thanks, @ibnyusuf.

[2021-02-03 11:22] lucasccordeiro commented on #339
I have just created a wiki page with all the steps to integrate a new SMT solver into the ESBMC backend:

https://github.com/esbmc/esbmc/wiki/Integrate-a-new-SMT-solver-into-the-ESBMC-backend

[2021-02-03 13:33] mikhailramalho commented on #360
Please close this as duplicate and copy the test case to the other issue.

On Wed, 3 Feb 2021, 06:36 Lucas Cordeiro, <notifications@github.com> wrote:

[2021-02-03 13:38] lucasccordeiro commented on #143
Reduced program that exposes the problem:

[code]

[2021-02-03 13:38] #360 closed, assigned to nobody

[2021-02-03 15:03] lucasccordeiro commented on #143
Here are some regression tests that are failing:

[code]

[2021-02-03 15:13] lucasccordeiro commented on #143
First attempt to solve this issue: https://github.com/esbmc/esbmc/pull/362

[2021-02-03 16:43] dckc commented on #359
oops! no, you're right; it's private... we were going to switch it to public but hit a snag... try this: https://github.com/agoric-labs/xsnap-pub

[2021-02-04 22:55] ibnyusuf commented on #339
One further step:

9. Update:
https://github.com/esbmc/esbmc/blob/7f41ac14baf26ca32521781a9404105413dc61a4/src/solvers/solver_config.h.in#L1

[2021-02-05 08:30] lucasccordeiro commented on #339
Many thanks, @ibnyusuf.

I have just updated our Wiki: https://github.com/esbmc/esbmc/wiki/Integrate-a-new-SMT-solver-into-the-ESBMC-backend

[2021-02-05 14:40] lucasccordeiro commented on #331
@ericksonalves: do you have news about this issue?

[2021-02-06 03:07] dckc commented on #359
never mind xsnap; I edited the steps to reproduce to do without it.

The main program, `xst`, is documented under "To build xst:" in https://github.com/Moddable-OpenSource/moddable/blob/public/documentation/xs/XS%20Conformance.md

But I'm happy to start with xsJSON.c or any other C file in https://github.com/Moddable-OpenSource/moddable/tree/public/xs/sources

[2021-02-09 12:54] rafaelsamenezes opened #363 "German at the source code"
[expr2c](https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/expr2c.cpp#L1821) contains lots of comments in German. Can someone translate it?

[2021-02-09 13:05] thefischsun commented on #363
Hi -

expr2c<https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/expr2c.cpp#L1821> contains lots of comments in German. Can someone translate it?

the only one I could see that's German is

// TODO: ggf. Klammern je nach p

which means something like "[add] brackets, if necessary, depending on p"

-- fisch
[https://cdn.sun.ac.za/100/ProductionFooter.jpg]<https://www.sun.ac.za/english/a

[2021-02-09 13:11] lucasccordeiro commented on #363
@Rafael Menezes <rafa.sa.xp@gmail.com>: could you please add the
translation to the code?

"[add] brackets, if necessary, depending on p"

Em ter., 9 de fev. de 2021 às 13:05, Bernd Fischer <notifications@github.com>
escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2021-02-09 13:31] rafaelsamenezes commented on #357
Reduced program:

[code]

[2021-02-10 09:53] ibnyusuf opened #365 "Adress Sanitizer flagging bugs"
On attempting to build master with address sanitizer and clang, I am receiving compiler errors:

My cmake command:

`CXX=clang++ CC=clang cmake .. -DCMAKE_BUILD_TYPE=Sanitizer -DSANITIZER_TYPE=ASAN -GNinja -DClang_DIR=$PWD/../../clang -DLLVM_DIR=$PWD/../../clang -DBUILD_STATIC=Off  -DCMAKE_INSTALL_PREFIX:PATH=$PWD/../../release`

The error received:

![WhatsApp Image 2021-02-10 at 09 37 47](https:

[2021-02-10 13:39] rafaelsamenezes opened #366 "Non-portable include path breaks esbmc"
If two libs include the same file using different cases esbmc will break. For instance:

- test.c, which contains `#include "test.h"`
- another.c, which contains `#include "TESt.h"`
- TESt.h which contains a type definition.

This program gives an error on Unix which is alright but in Windows it shouldn't since the platform is not case-sensitive.

[code]

[2021-02-11 11:17] lucasccordeiro commented on #300
The code in this PR https://github.com/esbmc/esbmc/pull/364 can correctly verify all programs added to this issue, including the reduced version of `ntdrivers/kbfiltr.i.cil-2.c`.

@kaled-alshmrany: May I ask you whether could perform some tests with FuSeBMC using the binary from https://github.com/esbmc/esbmc/pull/364?

[2021-02-11 11:36] shmarovfedor opened #367 "Implementation of "memset" function from the standard C library"
ESBMC does not find a bug in the following code:

[code]
Here `memset` is trying to write past the last member of the struct `cstats` which has a size of 80 bytes.

[2021-02-11 13:50] kaled-alshmrany commented on #300
I performed some tests with FuSeBMC using the binary from #364. I did not get the message before, "Unrecognized dest type during dereference". However, ESBMC still could not detect the bug in the tntdrivers/kbfiltr.i.cil-2.c

Here is the output:
[terminal_output.txt](https://github.com/esbmc/esbmc/files/5965851/terminal_output.txt)

[2021-02-11 14:51] mikhailramalho commented on #367
This is again our code that calculates the size of a struct but rounds it up to word size before checking for bounds violation.

I plan to have another go at it during the weekend and will update here when I get something working.

[2021-02-11 16:52] rafaelsamenezes opened #369 "Add a complementary option to remove all intrisic variables (compact-trace)"
We need an option to complement `--no-slice` to hide the intrinsic values and methods on the counterexample

[2021-02-11 16:53] rafaelsamenezes opened #370 "Show the instantiated value at counterexample"
[code]

The value of `i` will not be shown at the counterexample

[2021-02-11 16:53] #366 closed, assigned to rafaelsamenezes

[2021-02-11 16:59] lucasccordeiro opened #371 "Wrong intialisation of global array"
This program should fail, but ESBMC gives `VERIFICATION SUCCESSFUL`:

$esbmc global_nondet.c --incremental-bmc

[code]

[2021-02-11 17:03] shmarovfedor commented on #367
I see what you mean. I just checked, and ESBMC starts giving the correct answer only when `N>145` in `memset(point, 0, N);`. So it makes sense I guess cause the rounding up makes the struct `cstats` 144 bytes. Thanks for the explanation, @mikhailramalho !!

[2021-02-11 17:05] mikhailramalho commented on #371
Why should this fail?

[2021-02-11 17:09] lucasccordeiro commented on #371
We assign nondet values to each position of `global_arr`. In this case, the length of `global_arr` should not be `0` or am I missing something silly here? :-)

[2021-02-11 17:10] mikhailramalho commented on #370
That is expected since there `i` is not being initialized.

[2021-02-11 17:11] rafaelsamenezes commented on #371
At function `global_fun`, the first operation sets all values of the `globay_arr` to be nondetermistic. This could generate a `\0` value which would break the assertion.

Also, even if this is not a mistake, if by instead of this one replaces the function to:

[code]

This exists with an error, so at least it should be consistent.

[2021-02-11 17:12] lucasccordeiro commented on #371
ESBMC does not even unfold this program.

[2021-02-11 17:56] mikhailramalho commented on #371
Maybe it is the copy of the global array to the function? Maybe you are only initializing the copy and not the actually global array in nondet_init_arr?

[2021-02-12 13:52] lucasccordeiro commented on #371
If we compile this C program with GCC or Clang and then run it, the assertion does not hold:

[code]

[code]

ESBMC reports `VERIFICATION SUCCESSFUL'.

[code]

[2021-02-12 20:48] mikhailramalho commented on #371
Just had a quick look and looks like the goto conversion is removing the
function call. That's why there is no loop unwinding in the log.

Renaming nondet_init_arr to anything else fixes the issue. It needs further
investigation.

Em sex., 12 de fev. de 2021 às 09:52, Lucas Cordeiro <
notifications@github.com> escreveu:

--

Mikhail Ramalho.

[2021-02-13 11:35] rafaelsamenezes commented on #370
I know, but since this information is available at the smt-model we could show it at the counterexample.

[2021-02-13 15:56] lucasccordeiro commented on #369
@mikhailramalho and @rafaelsamenezes: I have created this PR https://github.com/esbmc/esbmc/pull/373 to all non-user defined variables assignments.

Could you please review it?

[2021-02-13 19:11] mikhailramalho commented on #370
This should be relatively easy to implement as a goto post-processing module, similar to k-induction: it should simply look for variable declaration without initialization and add a call to a nondet symbol.

This is a good beginner's issue to fix IMHO.

[2021-02-13 21:56] lucasccordeiro commented on #371
This PR https://github.com/esbmc/esbmc/pull/374 should fix this issue.

@mikhailramalho and @rafaelsamenezes: Could you please review it?

[2021-02-13 22:17] lucasccordeiro commented on #369
Closed via https://github.com/esbmc/esbmc/pull/373.

[2021-02-13 22:17] #369 closed, assigned to nobody

[2021-02-13 22:19] rafaelsamenezes commented on #359
Hi @dckc,

Sorry for the late response,

I am receiving

`make: xsnap.mk: No such file or directory`

And the file doesn't exist here: https://github.com/Moddable-OpenSource/moddable/tree/public/xs/makefiles/lin

Am I missing a step?

[2021-02-13 22:39] dckc commented on #359
oops! The relevant makefile is `xst.mk`.

I hope that's clear now, but I won't be surprised if it's not. I wish I hadn't introduced xsnap into the conversation until later.

[2021-02-14 16:03] lucasccordeiro opened #375 "Fails with the k-induction mode: boolector_add: sorts of 'e0' and 'e1' must match"
If we run ESBMC with the `k-induction` mode, it breaks with the following example (plain BMC and incremental BMC work just fine):

$esbmc main.c --k-induction

[code]

[code]

[2021-02-15 08:29] lucasccordeiro commented on #371
Closed via https://github.com/esbmc/esbmc/pull/374.

[2021-02-15 08:29] #371 closed, assigned to mikhailramalho

[2021-02-15 11:37] lucasccordeiro commented on #363
Closed via https://github.com/esbmc/esbmc/commit/1d029e431aa62da16f134882865d6fef9f047b06.

[2021-02-15 11:37] #363 closed, assigned to lucasccordeiro

[2021-02-15 11:59] shmarovfedor opened #379 "Data structure padding problems"
I found a problem with data structure alignment. ESBMC reports "verification failure" for the code below (which is technically correct because SIZE=5). However, when compiled, data.str.p1 will be automatically padded to the nearest 4 bytes. And so data.str.p1 will be allocated 8 bytes. Hence, this code should be bug-free.

[code]
 Although this problem has been already discussed in #378 , I opened

[2021-02-15 13:22] rafaelsamenezes opened #380 "Nonz3 regression"
We should identify and fix every testcase from the nonz3 regression since it should work on z3 as well

[2021-02-15 15:37] lucasccordeiro opened #381 "Print wrong line number in the counterexample due to pre-processing (frontend issue?)"
ESBMC prints the incorrect line number in the counterexample. In particular, it shows `arithmetic overflow` on line 2 (the define statement) instead of line 7 (uint16_t b = a << 16;).

[code]

[code]

[2021-02-15 15:38] lucasccordeiro commented on #381
@mikhailramalho: Is this issue related to the pre-processing step carried out by clang?

[2021-02-15 15:38] rafaelsamenezes opened #382 "ESBMC does not find dereference issue"
Program finishes with VERIFICATION SUCCESFULL when running esbmc:

[code]

The same program fails in CBMC with `--pointer-check`

[2021-02-15 16:29] mikhailramalho commented on #381
Probably. You can find the location we get from clang by using esbmc --parse-tree-only or --parse-tree-too.

[2021-02-16 11:27] lucasccordeiro opened #384 "[boolector] boolector_sll: bit-width of 'e1' must be equal to log2(bit-width of 'e0')"
esbmc file.c --overflow-check

[code]

If we use the clang pre-processor, then we get:

[code]

[2021-02-16 13:01] mikhailramalho commented on #384
Hi Lucas, this should fix the issue:

[0001-Cast-the-2nd-operand-of-bvshl-if-there-is-a-width-mi.patch.txt](https://github.com/esbmc/esbmc/files/5988696/0001-Cast-the-2nd-operand-of-bvshl-if-there-is-a-width-mi.patch.txt)

[2021-02-16 13:28] lucasccordeiro commented on #384
Thanks, @mikhailramalho.

This PR, which includes your patch, should fix the problem: https://github.com/esbmc/esbmc/pull/385.

As soon as CI passes, I'll merge it into the master.

[2021-02-16 22:32] rafaelsamenezes opened #387 "Z3 is having a stack overflow"
Running `esbmc --no-slice --memory-leak-check --z3`

[code]

Also, by adding `compact-trace` or removing `no-slice` the program will not crash anymore.

[2021-02-17 12:36] lucasccordeiro opened #388 "Tune the concurrency verification parameters for SV-COMP"
[code]

[code]

[code]

[2021-02-17 12:50] rafaelsamenezes commented on #90
Is this still relevant after the clang frontend?

@mikhailramalho

[2021-02-17 12:53] rafaelsamenezes commented on #84
@mikhailramalho Is this still relevant with the clang frontend?

[2021-02-17 12:59] rafaelsamenezes commented on #388
Can you show the full command?

[2021-02-17 13:17] lucasccordeiro commented on #388
`./esbmc --no-div-by-zero-check --force-malloc-success --state-hashing --no-align-check --k-step 2 --floatbv --unlimited-k-steps --no-por --context-bound 3 --no-slice /home/rafaelsa/sv-benchmarks/c/pthread/fib_bench-1.i --32 --witness-output fib_bench-1.i.graphml --no-pointer-check --no-bounds-check --interval-analysis --incremental-bmc`

[2021-02-17 13:28] lucasccordeiro opened #389 "Our esbmc-wrapper is broken"
python2 ./esbmc-wrapper.py.2 -s incr -c -p /home/rafaelsa/sv-benchmarks/c/properties/unreach-call.prp /home/rafaelsa
/sv-benchmarks/c/pthread/fib_bench-1.i

[code]

[2021-02-17 13:35] lucasccordeiro commented on #89
I have just enabled this test case with multi-dimensional array: https://github.com/esbmc/esbmc/commit/5d90c9137fa214f5d6a7c778c7b6841b1949b10d

[2021-02-17 13:47] lucasccordeiro commented on #89
In addition to enabling one existing regression test, I have created four additional test cases for multi-dimensional arrays via https://github.com/esbmc/esbmc/commit/f625a2558f937ab5e5d345284cffd88cfd29c29b.

[2021-02-17 13:47] #89 closed, assigned to nobody

[2021-02-17 13:48] lucasccordeiro commented on #81
@mikhailramalho: Given that you're re-implementing the memory alignment check, could you please take care of this issue?

[2021-02-17 13:50] lucasccordeiro commented on #80
@rafaelsamenezes: could you please take care of this issue?

[2021-02-17 13:51] lucasccordeiro commented on #91
@mikhailramalho: Is this issue relevant?

[2021-02-17 13:53] lucasccordeiro commented on #92
@mikhailramalho: What do you think about this issue?

[2021-02-17 13:54] mikhailramalho commented on #81
I'm not sure I'll reimplement the align check, right now it looks like it is easier to just get rid of it.

But we can fix this by getting tests from sv-comp.

[2021-02-17 13:54] lucasccordeiro commented on #88
@thefischsun: Bernd would love to see this issue implemented :-) Recently, Bernd complained about the use of the `WITH` operator to represent the `store` operator.

[2021-02-17 13:55] lucasccordeiro commented on #93
@mikhailramalho: do you have any idea what @jmorse wanted to say here?

[2021-02-17 15:13] rafaelsamenezes commented on #387
Another way to trigger this bug is with nondet initialization:

[code]

[2021-02-17 15:21] mikhailramalho commented on #387
Looks like an infinite recursion call when building the cex.

Em qua., 17 de fev. de 2021 às 11:14, Rafael Sá Menezes <
notifications@github.com> escreveu:

--

Mikhail Ramalho.

[2021-02-17 15:25] mikhailramalho commented on #93
Maybe related to c++ exception handling?

[2021-02-17 15:26] mikhailramalho commented on #92
probably related to #382.

[2021-02-17 16:00] lucasccordeiro commented on #388
[code]

[code]

[code]

[2021-02-17 16:16] mikhailramalho commented on #91
I think this is related deeply to test case generating and finding the right balance between propagating assignments but keeping enough one to make the cex understandable.

[2021-02-17 16:17] mikhailramalho commented on #80
We can get rid of the expr2, if you like, I have no strong option about this issue.

[2021-02-17 16:19] mikhailramalho commented on #84
Yes, you can see that we pull a bunch of unused stuff from the model when verifying programs.

The code in `generate_symbol_deps` needs to be reviewed.

[2021-02-17 16:19] mikhailramalho commented on #90
I'd guess this is related to #381

[2021-02-17 16:28] mikhailramalho commented on #381
Clang tree printed for this program:
[code]
In particular:
[code]
Looks like clang keeps both line numbers, after and before preprocessing (in that order), and we are getting the location after preprocessing.

This is a good first issue:
* Check the clang source code and find out how we get the location before preprocessing from the source manager (I think the files in clang are StmtPrinter and Ty

[2021-02-17 17:56] lucasccordeiro commented on #388
[code]

[code]

[code]

[2021-02-18 08:28] lucasccordeiro commented on #388
[code]

[code]

[code]

[2021-02-19 09:11] lucasccordeiro commented on #388
[code]

[code]

[code]

[2021-02-19 16:34] ibnyusuf opened #390 "Seg-faulting with integer encoding and z3"
I am trying to run esbmc on the following benchmark with settings:

--ir --smt-formula-only --z3

However, I am receiving a seg fault with stack trace:

[code]

[annIris_L0_R10.txt](https://github.com/esbmc/esbmc/files/6011438/annIris_L0_R10.txt)

[2021-02-19 20:45] lucasccordeiro commented on #388
[code]

[code]

[code]

[2021-02-20 08:08] lucasccordeiro commented on #390
@ibnyusuf: our FP layer is not converting from bitvector to real. For now, I would recommend using the option ``--fixedbv``.

@mikhailramalho: May I ask you whether you could extend our FP layer to support the conversion from FP to real?

[2021-02-20 08:17] lucasccordeiro commented on #388
[code]

[code]

[code]

[2021-02-20 08:39] lucasccordeiro commented on #388
Yices achieves `770` scores with `11` incorrect true and `0` incorrect false, while Boolector achieves `649` scores with `12` incorrect true and `7` incorrect false.

For the cases that Booletor provides `incorrect false`, Yices produces `unknown`. I have inspected the logs and notice that Yices also finds the incorrect result, but it crashes in the counterexample generation (see `https://github.c

[2021-02-20 08:40] lucasccordeiro opened #391 "Unimplemented type'd expression (7) in smt get"
`esbmc sv-benchmarks/c/pthread-ext/48_ticket_lock_low_contention_vs.c --incremental-bmc --context-bound 2 --yices --no-por --no-slice`

[code]

[2021-02-20 19:44] mikhailramalho commented on #390
This is likely not related to the fp layer but calling the wrong method in
smt_casts.cpp.

On Sat, 20 Feb 2021, 04:08 Lucas Cordeiro, <notifications@github.com> wrote:

[2021-02-20 21:21] lucasccordeiro commented on #391
Reduced C program that exposes the error:

[code]

[2021-02-21 15:41] lucasccordeiro opened #392 "Comparison between Boolector and Yices"
I have created this issue to keep tracking of the performance between Boolector and Yices over the SV-COMP benchmarks. I noticed that Yices crashes in various cases when we print the counterexample mainly because of two reasons:

- Yices crashes quite often due to this error: https://github.com/esbmc/esbmc/blob/master/src/solvers/yices/yices_conv.cpp#L787.
- This check exists only for Boolector an

[2021-02-22 21:34] lucasccordeiro commented on #392
Results from this PR: https://github.com/esbmc/esbmc/pull/393

[code]

[2021-02-22 22:43] mikhailramalho commented on #392
BTW, we can try to test yices without building the cex (using the option --result-only), so we can know for sure how many test yices can actually verify.

[2021-02-22 23:02] lucasccordeiro opened #397 "Are we correctly modelling the return statement?"
ESBMC gives incorrect result here.

$esbmc race-1_1-join.c --context-bound 2 --no-pointer-check

[code]

[2021-02-22 23:12] mikhailramalho commented on #397
I get two different results for the following program:
[code]

`$  esbmc foo.c` gives verification successful
`$ esbmc foo.c --context-bound 2` gives verification failed

[2021-02-22 23:14] lucasccordeiro commented on #397
CBMC GOTO functions

[code]

ESBMC GOTO functions:
[code]

[2021-02-22 23:16] lucasccordeiro commented on #397
I get the same results for this program:

[code]

[2021-02-27 06:55] lucasccordeiro opened #398 "Baseline (master) for SV-COMP 2021"
[code]

[code]

[code]

[2021-02-27 07:08] lucasccordeiro commented on #392
Thanks, @mikhailramalho.

I have just started one run over the SV-COMP benchmarks using the options: `--yices` and `result-only`.

[2021-02-28 17:41] lucasccordeiro commented on #392
@mikhailramalho: here are the results with `--result-only` using the current master branch:

[code]

[2021-02-28 21:44] lucasccordeiro commented on #397
This PR should fix this problem: https://github.com/esbmc/esbmc/pull/399.

[2021-03-01 14:43] rafaelsamenezes opened #401 "Add timeout into testing tool"
Add a timeout option and print the total time of the test.

https://github.com/esbmc/esbmc/blob/master/regression/testing_tool.py#L202

[2021-03-02 11:32] lucasccordeiro opened #402 "__VERIFIER_assume / __ESBMC_assume for multi-threaded programs"
ESBMC gives incorrect results when `__VERIFIER_assume` or `__ESBMC_assume` are used for multi-threaded programs. For example, ESBMC verifies this program correctly if we replace `__VERIFIER_assume(a == 0)` by ` if(a == 0) __VERIFIER_assume(0);`.

[code]

[2021-03-04 15:44] kunjsong01 opened #403 "ESBMC not finding the header file"
Hi ESBMC developers,

### Problem Background:
I'm trying to use a simple example (hello_world.cpp) to study the front end of esbmc, but I'm not able to run esbmc due to the error below:
[code]

The test file hello_world.cpp can be compiled and run without any problem. Its source code is shown below:
[code]

The 'PARSING ERROR' appears to come from src/langapi/language_ui.cpp:82. When debugging the

[2021-03-04 15:59] rafaelsamenezes commented on #403
Hi,

@mikhailramalho

For clang you can get the include paths for those libraries with `clang++ -H`, adding then. For instance, on Ubuntu I would add `-I /usr/include/c++/9` when running for CPP. The clang-cpp frontend is not able to automatically detect this. I remember having some issues when using it on macOS though.

[2021-03-04 16:27] kunjsong01 commented on #403
Hi Rafael,

Thanks a lot for your answer! It is really helpful.

I added `-I /Users/kunjian/ESBMC/ESBMC_Project/clang11/include/c++/v1/` to point it to the designated clang11 directory downloaded as part of the building procedure. However, a different error comes up:
[code]

I also tried to replace the `clang11` with the standard include path on macOS - `/Library/Developer/CommandLineTools/usr/bin

[2021-03-04 16:38] lucasccordeiro commented on #403
@kunjsong01: Could you try to use our header files at `src\cpp\library`?

As an example:

$cd esbmc/regression/esbmc-cpp/cpp/ch1_0
$esbmc main.cpp -I ~/esbmc/src/cpp/library

[code]

[2021-03-04 16:39] rafaelsamenezes commented on #403
I don't have a macOS machine to test it out. But I would try adding `I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include` maybe that solves your issue.

If that still doesn't work, you can try using clang to preprocess your file before running:
[code]

[2021-03-04 18:43] kunjsong01 commented on #403
Hi Lucas, Rafael,

Thanks very much for your answers! I have both good news and bad news ...

The good news is that I'm able to run the test case in `esbmc/regression/esbmc-cpp/cpp/ch1_0` using header files in `esbmc/src/cpp/library` as evidenced by the output in the section below. 😃  (This test case seems to be the simplest one among all test cases in `esbmc/regression/esbmc-cpp/cpp`.)

The bad n

[2021-03-04 18:59] rafaelsamenezes commented on #403
Probably this is the reason: https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/clang_c_language.cpp#L371-L386

For now you could wrap with an `ifndef __cplusplus` or remove the atomic definitions.

[2021-03-04 21:28] kunjsong01 commented on #403
it works!

But failed again in conversion phase:
[code]

[2021-03-04 21:34] rafaelsamenezes commented on #403
This means that you reached to something that  is not yet implemented at the clang-cpp-frontend. AFAIK the frontend don't support classes yet (which means that you cant use a `this` expr).

If you want, you can try to use the older frontend. When running `cmake` add `-DENABLE_OLD_FRONTEND=On`. After building you can run esbmc with `--old-frontend`

[2021-03-05 10:08] kunjsong01 commented on #403
I enabled the old front end but it failed linking.
[code]

Before re-building with the old front end, I did `ninja clean` and totally removed the `esbmc/build` and `release` directories.

[2021-03-05 12:52] kunjsong01 commented on #403
I feed two C programs into ESBMC with the `-I /Users/kunjian/ESBMC/ESBMC_Project/esbmc/src/cpp/library`and everything works perfectly. 😃

Verifying good_example.c:
[code]
Verifying bad_example.c:
[code]

For the time being I can rely on C programs to look into the structure of ESBMC. The key is to add `-I <include_path>` to tell ESBMC where to grab the header files to avoid the error of "XYZ.h fil

[2021-03-05 12:53] kunjsong01 commented on #403
This issue is not blocking my progress any more (see comment above), hence closing it ...

[2021-03-05 12:53] #403 closed, assigned to mikhailramalho, rafaelsamenezes

[2021-03-05 21:34] dckc commented on #359
Any further thoughts on this, @rafaelsamenezes ? Were you able to reproduce it?

[2021-03-05 22:51] rafaelsamenezes commented on #359
Sorry for the late response (again!). I'm able to reproduce the issue. I will try to reduce it.

[2021-03-05 22:53] dckc commented on #359
excellent. thanks!

[2021-03-05 23:39] rafaelsamenezes opened #405 "Nested struct pointer is causing segmentation fault"
ESBMC is generating an stack overflow at the function `goto_convert_functionst::wallop_type`
[code]

This may be the problem at the issue: #359

[2021-03-07 17:03] mikhailramalho opened #408 "Disabling libM in cmake doesn't work"
The `ENABLE_LIBM` flag doesn't do anything.

Working on the frontend is very slow if we do not disable this option, it needs to be fixed ASAP.

[2021-03-08 11:15] #408 closed, assigned to lucasccordeiro, rafaelsamenezes

[2021-03-08 16:33] lucasccordeiro commented on #146
@rafaelsamenezes: I was talking about this issue.

[2021-03-08 16:40] kunjsong01 opened #410 "ESBMC debug build?"
Is there a debug build of ESBMC that is able to show all frame variables without optimizing?

The build instructions ([here](https://github.com/esbmc/esbmc/blob/master/BUILDING.md)) appears to create an optimized build of ESBMC.  When examining the back trace, some key variables are not available:

[code]

[2021-03-08 18:58] mikhailramalho commented on #410
Hi @kunjsong01,

You have a few options to see the full counter-example:
1. `--no-slice`: do not remove unused, constant folded, and/or simplified away assignments in a counter-example path. Note that this does not show all the assignments in the program, only the ones in a path to a bug.
2. `--no-simplify`: disable internal simplifications. Keep stuff like `1+1` or `int a; (int*)(void*)&a` in the

[2021-03-08 19:01] kunjsong01 commented on #410
I'm not a CMAKE expert but the following steps work as expected on my laptop:
1. If you have a previous release build, run `ninja clean` in esbmc/build directory
2. rm directory esbmc/build
3. rm directory esbmc/../release
4. Add `-DCMAKE_BUILD_TYPE=Debug ` to the CMAKE build command and re-build everything.

Then esbmc binary should be the debug build showing all frame variables as evidenced by t

[2021-03-08 19:05] mikhailramalho commented on #410
Oh, I thought you were asking something else. Indeed, you need to build ESBMC in debug mode to keep this information.

Most of the internal types (`exprt`, `expr2tc`) can be accessed using the method dump (e.g., `a->dump()`).

[2021-03-08 19:11] kunjsong01 commented on #410
Hi @mikhailramalho ,

Thanks a lot for the nice explanations of the advanced usage of BMC related options. I reckon I will definitely use some of them in the future when delving into the backend.

Sorry for the confusion. I should have phrased my question in a more clear way.

Thanks again for this tip!

[2021-03-08 19:16] kunjsong01 commented on #410
This issue is now resolved.

[2021-03-08 19:16] #410 closed, assigned to nobody

[2021-03-08 21:55] #401 closed, assigned to nobody

[2021-03-11 19:06] rafaelsamenezes opened #412 "ESBMC with zero initialized malloc on Windows"
~~The following program works fine on Unix builds with `force-malloc-success`, shouldn't it fail since `a` can be a negative value?~~

The following program does not work at Windows

[code]

[2021-03-11 22:20] mikhailramalho commented on #412
Since `a` is a global variable, it is initialized to zero. The assume is meaningless in this program.

It still doesn't explain why this program fails on Windows. We need to analyze the generated SSA to know for sure.

[2021-03-11 22:21] #387 closed, assigned to nobody

[2021-03-12 16:06] rafaelsamenezes commented on #398
This issue is no longer valid

[2021-03-12 16:06] #398 closed, assigned to mikhailramalho, rafaelsamenezes

[2021-03-13 12:09] rafaelsamenezes opened #413 "Port CBMC unit tests to ESBMC"
CBMC contains lots of unit tests using the `catch` framework. Most of those tests could be reused at ESBMC with minor changes. https://github.com/diffblue/cbmc/tree/develop/unit

Not only that would create a good base suite, it would be helpful to create [property-based](https://github.com/emil-e/rapidcheck) tests and fuzzing targets.

Also, although we already use Boost.Test I wouldn't mind chang

[2021-03-13 12:15] lucasccordeiro commented on #413
Fine by me.

Sent from my iPhone

[2021-03-13 20:23] mikhailramalho commented on #397
@lucasccordeiro, can we close this?

[2021-03-13 20:24] mikhailramalho commented on #389
@rafaelsamenezes, was this fixed?

[2021-03-13 20:29] mikhailramalho commented on #359
Hi @dckc,

Your program triggered an old issue of ESBMC that I'm currently trying to fix: we only do byte precise encoding structs/unions and we either give the wrong result or crash (sometimes both).

I'm working on the fix now and the first part already landed with PR #396 which fixed some issues with bitfields. I'm working on the second part now, enabling bit-precise verification of structs, an

[2021-03-13 21:32] lucasccordeiro commented on #397
Yes!

Sent from my iPhone

[2021-03-13 21:33] lucasccordeiro commented on #397
Closed via https://github.com/esbmc/esbmc/pull/399

[2021-03-13 21:34] #397 closed, assigned to mikhailramalho

[2021-03-13 23:07] #389 closed, assigned to rafaelsamenezes

[2021-03-15 13:48] rafaelsamenezes opened #418 "00_prodcons is broken on newer builds"
[code]

With desc:
[code]

Is not working for macOS. We have to fix this and add again into the regression

[2021-03-15 13:51] lucasccordeiro commented on #418
you could just reduce the context-bound to 2.

Em seg., 15 de mar. de 2021 às 13:49, Rafael Sá Menezes <
***@***.***> escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2021-03-15 13:53] lucasccordeiro commented on #418
I think it is better to mark this test case as KNOWNBUG. The option
round-robin is not maintained for quite some time.

Em seg., 15 de mar. de 2021 às 13:51, Lucas Cordeiro <
***@***.***> escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2021-03-15 14:26] rafaelsamenezes commented on #418
It is working on Linux.

[2021-03-15 14:28] rafaelsamenezes commented on #418
We could:

1. Let the CI keep failing and every time check if it was because of this testcase
2. Create another regression suites for OS.
3. Solve this and add it again

[2021-03-15 16:46] mikhailramalho commented on #418
I'm OK with removing the round-robin option altogether. It never really
worked and no one is maintaining it.

Em seg., 15 de mar. de 2021 às 10:28, Rafael Sá Menezes <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2021-03-17 16:52] gojeffcho opened #420 "ESBMC fails to build: src/c2goto/c2goto failure"
Hello,

I am trying to rebuild ESBMC from source to try to recompile with the old frontend, as I am trying to verify C++ programs with custom classes that ESBMC currently doesn't appear to support (e.g. `this` pointer/`CXXThisExpr` conversion).  I was previously able to build ESBMC from source on this machine without too many issues, but seem to be running into a wall this time.

I am on Windows 1

[2021-03-17 19:05] rafaelsamenezes commented on #420
Hi @gojeffcho,

I've just made a pushed a commit that should solve this issue. Could you try again? If you are still having issues, could you show the full output of your cmake command?

The issue was that not all `.hs` were replaced with `.h` in the build.

For now I've readded support to flailing `.hs` files.

[2021-03-17 19:18] gojeffcho commented on #420
Hi @rafaelsamenezes,

Thank you for the fast response!  I just pulled and tried a fresh build (`rm -rf esbmc/build` and start the build process from scratch) and I appear to be getting an error still.  The output from my cmake command is:

[code]

And from the following command:

[code]

[2021-03-17 19:30] rafaelsamenezes commented on #420
I am having some trouble reproducing your error. I am running Ubuntu 20.04 on WSL 2.

Could you retry without the old frontend? Just to confirm that the old frontend is causing the issue.

If it is ok, try building with:

[code]

If  this don't solve the issue, it may be a problem with your compiler (gcc 7.3 is old), try running:

[code]

[2021-03-17 19:49] #413 closed, assigned to nobody

[2021-03-17 20:03] gojeffcho commented on #420
Hi @rafaelsamenezes,

I tried it without the old frontend flag and it is still failing on `src/c2goto/c2goto`.

I then cleaned the build artifacts again and tried the second command you recommended but was unsuccessful in building as well.  However, your comment made me realize that I was under the assumption that `gcc` and `g++` would update with my general updates when they are, as you said, way

[2021-03-17 20:11] rafaelsamenezes commented on #420
@gojeffcho You're welcome, nice to see that it is working. I will close this issue then.

[2021-03-17 20:11] #420 closed, assigned to rafaelsamenezes

[2021-03-17 20:11] lucasccordeiro commented on #420
@gojeffcho: Do you want to verify C++98 code with ESBMC?

I would recommend using this version: https://ssvlab.github.io/esbmc/benchmarks/strv_2020_experiments.zip

I'm unsure whether our old frontend in the master branch provides better results than the static binary provided in the link above.

We have expectations to extend our clang C++ frontend to verify C++11 and C++14 code. However, it will

[2021-03-17 20:33] gojeffcho commented on #420
Hi @lucasccordeiro,

I am hoping to verify C++11 code, but since it is not supported yet, I would love to start with some C++98 verification.  I will take a look at the version you linked, as trying to run the newly-built ESBMC with the `--old-frontend` flag appears to cause a segmentation fault.

Because it failed on the simple program I tried to verify, I created a barebones program and named it

[2021-03-18 14:13] gojeffcho opened #421 "Old frontend causes segfault; precompiled version doesn't recognize nondet_uint()"
Hello,

This is a follow-up related to #420 - I didn't know whether I should reopen that issue or create a new one as the basis of the fault has changed.

I re-built and ran ESBMC with the `--old-frontend` flag, but this appears to cause a segmentation fault.  It segfaults even on a simple program:
[code]

With the error:
[code]

Using the STRV 2020 version (https://ssvlab.github.io/esbmc/benchmar

[2021-03-22 14:41] rafaelsamenezes opened #422 "Mark address as valid"
The following code contains an address that the user know to be valid. ESBMC does pass because of the issue:

- https://github.com/esbmc/esbmc/issues/92

But we should have some way to define addresses know to be valid. Maybe `__builtin_alloca`?

[code]

[2021-03-23 12:01] rafaelsamenezes commented on #421
Hello @gojeffcho, sorry for the late response!

I will look into it.

I am not familiar with this version (maybe @lucasccordeiro can help out) , however at least in recent versions you can always make nondeterminism by not initializing a variable.

[code]

Also, you could try using the intrinsics from [SV-COMP](https://sv-comp.sosy-lab.org/2021/rules.php) (refer to Benchmark Verification Tasks, pr

[2021-03-26 17:31] lucasccordeiro commented on #384
Closed via https://github.com/esbmc/esbmc/pull/385.

[2021-03-26 17:31] #384 closed, assigned to mikhailramalho

[2021-04-02 13:39] kunjsong01 opened #423 "Some questions and build problems regarding the old frontend (ansi-c?)"
Hi ESBMC developers,

I'm trying to build ESBMC with the old frontend by adding the following argument in `cmake` command line:

[code]

Questions:
1). Is the "old frontend" referring to `src/ansi-c`?

2). Is the old frontend more self-contained than the new frontend aka. src/clang-c-frontend?
And by "self-contained" I mean that NO external dependencies on other compiler's frontend (unlike the `cl

[2021-04-02 15:37] rafaelsamenezes commented on #423
Hi @kunjsong01

To both `src/ansi-c` and `src/cpp`

Yes, AFAIK the only "external dependency" are flex and bison.

This looks like an issuein the flail script (probably at cmake level).

Are you sure that you are using the latest master commit? I've submitted a patch for this same issue a couple of weeks ago. @lucasccordeiro could you try to reproduce it on macOS?

[2021-04-02 17:11] kunjsong01 commented on #423
Hi @rafaelsamenezes ,

Thanks a lot for your answers.

I'm now able to build with the old frontend using latest master commit (c3e9fc47e9). The problem only happens with the old frontend.

### Problem:
However, it is still using `clang-c-frontend` although I used "--old-frontend" when running esbmc binary. **The program is actually calling clang_c_languaget::parse and clang_c_languaget::typecheck.

[2021-04-05 09:44] kunjsong01 commented on #423
The problem was caused by wrong index `mode` as in `mode_table[mode].new_language();`

When "old-frontend" is enabled, the `mode` is incremented by 1,  pointing to `LANGAPI_HAVE_MODE_CLANG_CPP`, rather than `LANGAPI_HAVE_MODE_C`. Then we get an object `clang_cpp_languaget` returned by languaget *new_clang_cpp_language().

In the mode_table[] array:
[code]

When using old-frontend, I believe what w

[2021-04-05 11:49] kunjsong01 commented on #423
**Cause and Fix:**
The problem in last comment is caused by unmatch symbol identifiers (`pthread_start_main_hook` vs. `c:@F@pthread_start_main_hook`). This is confirmed by the experiment below:
I compared the symbol names in the symbol_list generated by ansi-c and clang-c frontend.
[code]
The new clang-c frontend uses `c:@F@pthread_start_main_hook`. But the old ansi-c frontend still uses `pthread_

[2021-04-05 12:04] kunjsong01 commented on #423
closing this ticket as the questions have been answered and got a workaround for old frontend.

[2021-04-05 12:04] #423 closed, assigned to nobody

[2021-04-06 10:02] rafaelsamenezes commented on #382
Other example:

[code]

[2021-04-06 10:10] lucasccordeiro commented on #382
The GOTO program of this last C program seems okay:

[code]

However, I can obtain the SSA of this program only if I disable the slice:

$esbmc test_dereference_pointer.c --program-only --no-slice

[code]

[2021-04-06 12:02] lucasccordeiro commented on #382
We're actually creating an invalid pointer symbol at https://github.com/esbmc/esbmc/blob/master/src/pointer-analysis/dereference.cpp#L503:

[code]

However, we're not asserting this symbol anywhere in the dereference module.

[2021-04-06 12:25] lucasccordeiro commented on #382
When we try to produce the assertion to that symbol, we hit in this code line:

https://github.com/esbmc/esbmc/blob/master/src/pointer-analysis/dereference.cpp#L1847

It says: ```Hacks, but as dereferencet object isn't persistent, necessary. Fix by making dereferencet persistent.```

[2021-04-07 12:02] lucasccordeiro commented on #382
This PR fixes this issue: https://github.com/esbmc/esbmc/pull/426.

[2021-04-07 20:04] mikhailramalho commented on #382
I can't test it right now but some things look weird:
[code]
If the variables are marked as `extern`, they shouldn't be initialized to
zero.

When we try to produce the assertion to that symbol, we hit in this code

Yeah, that looks problematic.

We just have to make sure that we are actually adding the check in the
right place.

Em qua., 7 de abr. de 2021 às 08:03, Lucas Cordeiro <
***@***.***> e

[2021-04-14 14:14] lucasccordeiro commented on #339
[code]

[2021-04-14 14:15] lucasccordeiro commented on #339
@shmarovfedor: As we discussed, this is the issue that contains the info you need to integrate this solver into ESBMC.

[2021-04-14 20:29] mikhailramalho commented on #339
I suggest the flag --bitw or --bit. The full solver name may be too
confusing.

On Wed, 14 Apr 2021, 10:15 Lucas Cordeiro, ***@***.***> wrote:

[2021-04-19 12:01] rafaelsamenezes opened #428 "Esbmc crashes with tsl verification"
1. Clone aws's s2n-tls
2. Prepare the environment

Run:
[code]

I will try to reduce it later.

@fatimahkj

[2021-04-19 13:24] lucasccordeiro opened #429 "noreturn attribute"
Check whether we support the noreturn attribute in ESBMC.

[2021-04-19 15:50] lucasccordeiro opened #430 "ESBMC produces "dereference failure: array bounds violated""
$esbmc file.c

[code]

[code]

[2021-04-19 16:10] lucasccordeiro commented on #430
If we access from `field1` to `field53`, ESBMC reports `VERIFICATION SUCCESSFUL`. From `field54` on, ESBMC reports `VERIFICATION FAILED`.

ESBMC v6.6 does not find this array out of bounds violation. We need to go through this PR to check where the problems occurs: https://github.com/esbmc/esbmc/pull/396/files

[2021-04-20 11:12] lucasccordeiro commented on #430
@mikhailramalho: I suspect this is a bug introduced in this PR (https://github.com/esbmc/esbmc/pull/396/files). May I ask you whether you could take a look at it?

[2021-04-20 18:40] rafaelsamenezes opened #431 "ESBMC complaining with symbol not being found in a big file (wolfSSL)"
1. Clone wolfSSL (https://github.com/wolfSSL/wolfssl)
2. Checkout version 4.0.0
3. Run `esbmc src/tls13.c --function DoPreSharedKeys -I.`, esbmc will complain about the entry point not being found.

This issue happens even when removing the `--function` and adding a main function.

[2021-04-24 02:50] mikhailramalho commented on #430
I just had a quick look and the reason why ESBMC was not failing before was that the sizeof calculation was wrong and assuming that the union had size 16 bytes. Now that we correctly calculate the sizeof the union, we actual offset calculation seems to be off-by-one.

Here's the expression that checks the bounds in the form (offset > upper-bound) || (offset + access-size > upper-bound):
[code]
and

[2021-04-24 02:52] mikhailramalho commented on #430
The following patch seems to fix the issue:
[code]

No regression in our test suite but I suggest testing in sv-comp benchmarks first...

[2021-04-26 08:07] lucasccordeiro commented on #430
Closed via https://github.com/esbmc/esbmc/pull/432.

[2021-04-26 08:07] #430 closed, assigned to mikhailramalho

[2021-04-26 13:57] lucasccordeiro opened #434 "Is __ESBMC_assume working for variable address?"
ESBMC does seem to work when we want to assume the variable address.

Example:

[code]

If we replace the assumption statements with assignment, then ESBMC reports `VERIFICATION SUCCESSFUL', as expected:

[code]

[2021-04-27 09:55] lucasccordeiro commented on #434
Here is the difference in SSA when using the `assume` and `assignment`:

Assume:
[code]

Assignment:
[code]

We need to check whether this typecast makes some difference in the verification result.

[2021-04-27 10:10] lucasccordeiro commented on #434
@mikhailramalho: Should this typecast be added when translating the Clang AST to GOTO?

[2021-04-27 12:56] lucasccordeiro commented on #434
If we initialise the pointers, ESBMC provides `VERIFICATION SUCCESSFUL`.

[code]

[2021-04-27 13:04] mikhailramalho commented on #434
Yeah, the problem is that the variable is not being initialized only using assumes. ESBMC doesn't parse the assume in its point-set analysis and thus the pointers px and py are always invalid.

When you dynamically initialize the pointers, they are pointing "somewhere", then you constraint the "somewhere" to be the address of the local variables.

[2021-04-27 13:08] #434 closed, assigned to mikhailramalho

[2021-04-29 12:25] lucasccordeiro commented on #375
Closed via https://github.com/esbmc/esbmc/pull/377.

[2021-04-29 12:25] #375 closed, assigned to mikhailramalho

[2021-04-29 12:36] lucasccordeiro commented on #379
Closed via https://github.com/esbmc/esbmc/commit/6bfb3e7367788b3656c09d8ca47b9fe597c08978.

[2021-04-29 12:36] #379 closed, assigned to nobody

[2021-04-29 12:40] lucasccordeiro commented on #353
This issue is obsolete since we have a new option that shows the full counterexample while hiding the internal symbols (see https://github.com/esbmc/esbmc/pull/373).

[2021-04-29 12:40] #353 closed, assigned to mikhailramalho

[2021-04-29 12:45] lucasccordeiro commented on #367
@shmarovfedor: could you please check if this issue was solved?

[2021-04-29 12:48] lucasccordeiro commented on #341
This issue seems to be obsolete. In particular, there was not further follow-up here.

[2021-04-29 12:48] #341 closed, assigned to nobody

[2021-04-29 12:48] lucasccordeiro commented on #339
@shmarovfedor will soon submit a PR that integrates Bitwuzla to ESBMC.

[2021-04-29 12:49] lucasccordeiro commented on #334
@rafaelsamenezes: there is no main symbol here. What do you want to check?

[2021-04-29 12:55] rafaelsamenezes commented on #334
This issue is no longer valid with the newer memory model.

[2021-04-29 12:57] lucasccordeiro commented on #334
did you add a test case?

Em qui., 29 de abr. de 2021 às 13:56, Rafael Sá Menezes <
***@***.***> escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2021-04-29 12:58] lucasccordeiro commented on #334
@rafaelsamenezes: could you please add the test case?

[2021-04-29 13:19] lucasccordeiro commented on #276
@mikhailramalho: Was this patch integrated into the master? I can't reproduce this issue in the master branch (see https://github.com/esbmc/esbmc/commit/bde58ec409872ebf70c130b4a508576108b2dc69).

[2021-04-29 16:00] mikhailramalho commented on #276
Yes, it was part of PR #320

[2021-04-29 16:02] lucasccordeiro commented on #276
Closed via https://github.com/esbmc/esbmc/pull/320.

[2021-04-29 16:02] #276 closed, assigned to mikhailramalho

[2021-04-30 07:41] lucasccordeiro opened #437 "Comparison between Incremental SMT, k-Induction, BMC incremental, and Falsification over the SV-COMP benchmark suite"
k-induction:
[code]

Incremental BMC:
[code]

Falsification:
[code]

Incremental SMT (`smt-symex-assert` and `smt-symex-guard` with incremental BMC):
[code]

Incremental SMT (`smt-symex-assert` with incremental BMC):
[code]

[2021-05-10 15:10] lucasccordeiro opened #441 "max-k-step and k-step"
Bug reported by one of the ESBMC's users:

[code]

[2021-05-10 15:41] lucasccordeiro commented on #441
This PR should fix the problem: https://github.com/esbmc/esbmc/pull/442.

[2021-05-10 16:02] lucasccordeiro opened #443 "Improvement for verifying a particular function"
Suggestion of an ESBMC's user:

[code]

[2021-05-10 17:30] mikhailramalho commented on #443
`--only-assertions-in-function foo` is probably the best option here since internally the global scope is our top-level scope. The only problem here is c++ and instantiated templates, we currently don't support `--only-assertions-in-function foo<int>` as `<` and `>` will be interpreted I/O redirections.

I would also suggest a shorter name, esbmc has no auto-completion, and writing these long flag

[2021-05-11 12:25] lucasccordeiro commented on #441
Closed via https://github.com/esbmc/esbmc/pull/442.

[2021-05-11 12:26] #441 closed, assigned to lucasccordeiro

[2021-05-13 12:41] lucasccordeiro commented on #437
I have just checked the results for the falsification strategy. The bug is in our wrapper script and not in ESBMC.

Here is one example that shows the error: `memsafety-ext3/getNumbers1-2.yml`.

[2021-05-13 14:55] lucasccordeiro opened #444 "Bug in the stack-limit option"
Bug reported by an ESBMC user:

Below is a simple test case of a main function that allocates a local array 100 elements of int type, i.e. of size 100 x 4 = 400 bytes, However, when we run ESBMC with a stack limit of 3000 bytes it is still failing as shown below.

[code]

$ esbmc test_stack_limit.c --stack-limit 3000

[code]

[2021-05-13 14:58] mikhailramalho commented on #444
I think the stack limit is being calculated in bits, not in bytes.

On Thu, 13 May 2021, 10:55 Lucas Cordeiro, ***@***.***> wrote:

[2021-05-13 15:21] lucasccordeiro commented on #444
@mikhailramalho: you're correct. We compute in bits, but the command-line option says byes. So I created this PR just to update the command-line: https://github.com/esbmc/esbmc/pull/445.

[2021-05-13 15:21] #444 closed, assigned to nobody

[2021-05-22 23:11] ahmedHashwa commented on #173
I suppose #433 fixed that issue.

[2021-05-23 00:44] rafaelsamenezes commented on #173
@ahmedHashwa You are correct

[2021-05-23 00:44] #173 closed, assigned to nobody

[2021-05-24 12:58] rafaelsamenezes opened #447 "Inconsistent counterexample values with Z3"
The program with `--function loop_init --k-induction`:

[code]

Gives the following result with Z3:

[code]

`a` should have received the same value as `res`.

This bug doesn't happen when using boolector