[2021-05-27 13:26] lucasccordeiro opened #448 "ESBMC reports oversized field offset"
ESBMC reports that this C program contains a deference failure, in particular, oversized field offset, which seems to be wrong. This issue requires further investigation.

@mikhailramalho and @rafaelsamenezes: do you have any thoughts?

[code]

[2021-05-31 12:32] rafaelsamenezes opened #449 "CVC5"
There is a new version for CVC: https://github.com/cvc5/cvc5

We should integrate and test it.

[2021-05-31 12:34] mikhailramalho commented on #449
They just renamed it from cvc4.

On Mon, 31 May 2021, 08:32 Rafael Sá Menezes, ***@***.***>
wrote:

[2021-05-31 12:44] rafaelsamenezes commented on #448
~I was not able to replicate this issue. Which branch and options are you using?~

This issue doesn't happen on the latest version of ESBMC. It has the following problem:

[code]

[2021-05-31 12:45] rafaelsamenezes commented on #449
Ow, I will close this then

[2021-05-31 12:45] #449 closed, assigned to nobody

[2021-05-31 14:05] lucasccordeiro commented on #448
ucode branch

Just run ESBMC file.c

Sent from my iPhone

[2021-06-16 14:06] rafaelsamenezes opened #450 "Replace couts and cerr with messaget calls"
ESBMC has a lot of calls using `std::cout` and `std::cerr`, we should use the messaget interface which provides more control of the output level and destination

[2021-06-16 14:14] mikhailramalho commented on #450
Duplicate of https://github.com/esbmc/esbmc/issues/174?

[2021-06-16 14:26] rafaelsamenezes commented on #450
Somewhat, I think that this is the first step to solve that. This issue objective is to isolate cout and cerr calls into a messaget specialization, it shouldn't add fmt.

[2021-06-16 15:28] shmarovfedor opened #451 "Incorrect ESBMC verdict for the code with bit fields"
ESBMC (master branch; command: `esbmc --force-malloc-success bitfields.c`) finds an error in the code below (basically it wrongly identifies a double-free):
[code]
-------bitfields.c-------
[code]

[2021-06-16 16:01] shmarovfedor opened #452 "ESBMC does not implement atexit() from stdlib.h"
I noticed that ESBMC does not provide an implementation for the `stdlib.h` function `atexit()`. I've seen it in a couple of benchmarks, so it might be worth considering. Here is a simple example of an incorrect answer by ESBMC for the code featuring `atexit()` (it finds a memory leak while the memory actually gets freed on exit):
[code]
ESBMC output:
[code]
atexit.c
[code]

[2021-06-16 16:12] lucasccordeiro commented on #452
@mikhailramalho and @rafaelsamenezes: where do we get the implementation of the functions in the C libs? I remember that @mikhailramalho had posted this link somewhere.

[2021-06-16 16:13] lucasccordeiro commented on #451
@mikhailramalho: do you have any thoughts here?

[2021-06-16 16:15] rafaelsamenezes commented on #452
You mean the operational models?

Here: https://github.com/esbmc/esbmc/blob/master/src/c2goto/library/stdlib.c

[2021-06-16 16:16] lucasccordeiro commented on #452
No. The actual implementation of the C lib.

[2021-06-16 16:23] mikhailramalho commented on #452
https://sourceware.org/newlib/ ?

Em qua., 16 de jun. de 2021 às 12:16, Lucas Cordeiro <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2021-06-16 16:26] lucasccordeiro commented on #452
Thanks, @mikhailramalho.

@shmarovfedor: maybe you can find the implementation of the function atexit() in https://sourceware.org/newlib/; otherwise, we'll have to look at the documentation (https://man7.org/linux/man-pages/man3/atexit.3.html) and implement it.

[2021-06-16 16:28] rafaelsamenezes commented on #452
From the [docs](https://man7.org/linux/man-pages/man3/atexit.3.html)

[code]

To implement this we need:

1. A stack in the symex for every function registered.
2. Add the calls after the return statement of main. This can be done inside `__ESBMC_main`
3. Add the calls if exit is called with 3.

[2021-06-16 17:54] mikhailramalho commented on #451
Not really, but esbmc seems to ignore the pointer-offset of a and b:

// 367 file foo1.c line 21 function main
/* 10*/ goto_symex::guard?0!0&0#1 == !((unsigned char)((unsigned
_ExtInt(1))symex_dynamic::dynamic_1_value&0#1) == 0)

There is a missing .a and .b when accessing dynamic_1_value. ESBMC thinks
that .a is the whole object, just add the following and you can see in the
cex:

    printf("%d\

[2021-06-17 15:38] christinaburge opened #453 "Missing ctype.h"
I've run into an error building ESBMC, specifically:

'ctype.h' file not found

When I look in the folder where I would guess it should be (/esbmc/src/c2goto/library), it is indeed missing.

I am running MacOS 11.4 (Big Sur)

I followed the instructions at https://github.com/esbmc/esbmc/blob/master/BUILDING.md, and everything looks fine up to :

`cmake --build . && ninja install`

When I execute t

[2021-06-17 15:55] mikhailramalho commented on #453
You're probably missing setting `C2GOTO_INCLUDE_DIR`. We usually warning users about that in macOS at config time, could you check it?

@rafaelsamenezes, since we detect it during config time, can't we simply include the variable to compile on macOS? I would prevent such headaches for our users.

[2021-06-17 16:01] christinaburge commented on #453
Yes, echo $C2GOTO_INCLUDE_DIR draws a blank. What should I set this to?

[2021-06-17 16:06] mikhailramalho commented on #453
During config time (e.g., `cmake <path-to-esbmc>`), cmake should print the dir it found, something like: `Multi arch found in foobar, please set -DC2GOTO_INCLUDE_DIR=foobar`.

It should work by doing `cmake <path-to-esbmc> -DC2GOTO_INCLUDE_DIR=foobar`

[2021-06-17 16:26] christinaburge commented on #453
Wait, I made a mistake! I did not set up Bitwuzla (I don't know how I missed that requirement).  This now gets you as far as

`[484/509] Building CXX object unit/big...Files/biginttest.dir/bigint.test.cpp.o
ninja: build stopped: subcommand failed`

It fails for the same reason though, 'ctype.h' file not found.

The `-DC2GOTO_INCLUDE_DIR` flag is actually set as part of the instructions, and the co

[2021-06-17 16:37] rafaelsamenezes commented on #453
It shouldn't matter, you should be able to build ESBMC without any solvers.

The CMake output looks ok. Maybe you are missing the xcode?

Could you check if the folder `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/` contains the `ctype.h`?

[2021-06-17 19:02] lucasccordeiro commented on #453
I get the following with this command:

[code]

@christinaburge: maybe Xcode might be missing on your MacOS.

[2021-06-17 19:09] mikhailramalho commented on #453
From the log, she does seem to have the sdk installed:
[code]

Maybe it's missing 32 bits libs?

Also, if it's only testing that's failing, you can disable testing by `-DBUILD_TESTING=OFF`

[2021-06-17 20:48] rafaelsamenezes commented on #453
The CMake scritps does not check if the `ctype.h` is present and neither if the folder itself exists. I've opened an issue for this: https://github.com/esbmc/esbmc/issues/454

[2021-06-17 20:53] rafaelsamenezes opened #454 "Check if C2GOTO_INCLUDE_DIR have the headers"
We should use CMake to verify if the headers needed to compile c2goto are present.

The relevant part is here: https://github.com/esbmc/esbmc/blob/master/src/c2goto/CMakeLists.txt#L8-L12

One simple solution is to do something similar to what we do for Z3: https://github.com/esbmc/esbmc/blob/master/src/solvers/z3/CMakeLists.txt#L12-L17

Just check for `ctype.h`

[2021-06-17 20:56] mikhailramalho commented on #453
What do you mean by "if the folder itself exists"? Then why it prints this message "-- Multiarch include for c2goto: /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/. You may want to override C2GOTO_INCLUDE_DIR"?

And it shouldn't check if ctype.h exists, it should check if the 32 bits multi-arch headers/libs are present.

[2021-06-18 10:06] christinaburge commented on #453
Hi All,

 I have tried setting -DBUILD_TESTING=OFF, but that does not help. I also have xcode command line tools installed.

[2021-06-18 11:10] lucasccordeiro commented on #453
@christinaburge: It seems that our building system is struggling to find the ctype.h file on your MacOS.

May I ask you whether you could tell us in which directory is ctype.h installed?

Many thanks,
Lucas

[2021-06-18 11:15] lucasccordeiro commented on #453
BTW, in my MacOS, it is located at `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/`.

[2021-06-18 13:26] christinaburge commented on #453
Could the problem be that I only have the command line tools and not the full version of xcode? I keep trying to get xcode from the app store and the download keeps failing, but let me see if I can get it via the command line.

[2021-06-18 13:30] christinaburge commented on #453
Because I have the command line tools and not the full version of xcode, ctype.h is located for me at:

/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include

I guess I just need to change the file path somewhere and everything should work.

[2021-06-18 13:42] rafaelsamenezes commented on #453
Could you try replacing the flag c2goto flag with:

`-DC2GOTO_INCLUDE_DIR=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include`

[2021-06-18 13:56] christinaburge commented on #453
Aha, that worked, thanks!

[2021-06-18 14:49] lucasccordeiro commented on #453
Excellent, @christinaburge. Before I close this issue. Is there something that we could do to improve our documentation?

[2021-06-18 15:09] christinaburge commented on #453
I guess just include the solution for those (like me) who don't have the full version of xcode, but it's likely that someone else would have spotted the flag they needed to change!
________________________________
From: Lucas Cordeiro ***@***.***>
Sent: 18 June 2021 15:50
To: esbmc/esbmc ***@***.***>
Cc: Christina Burge ***@***.***>; Mention ***@***.***>
Subject: Re: [esbmc/esbmc] Missing ctype.h

[2021-06-18 15:39] lucasccordeiro commented on #453
Thanks, @christinaburge.

I have just pushed some small update to our BUILDING instructions. Closed via https://github.com/esbmc/esbmc/commit/d2877de01e2c0297dc6b03d0cfdb24de65c1ba40.

[2021-06-18 15:39] #453 closed, assigned to nobody

[2021-06-25 21:35] rafaelsamenezes opened #458 "Kind gives Invalid True for dereference function"
The following program should fail if the function `step_1` is executed 5 times followed by `step_2` being executed 3 times. Incremental is able to find the bug, however kind returns VERIFICATION SUCCESSFUL

[code]

Replacing `step_1` and `step_2` with their contents fixes the issue.

[2021-07-02 19:23] rafaelsamenezes opened #461 "Enable MathSAT in the CI"
Previously we've removed it because it their page was unstable. So:

1. [Download the latest release](https://mathsat.fbk.eu/download.html) and push it to somewhere stable. I don't see any problems on this as the license is GPL/LGPL. @mikhailramalho and @lucasccordeiro  could you confirm this?
2. Add the build steps into the CI.

Bonus: Since this version also contains Windows builds, we could giv

[2021-07-03 19:28] mikhailramalho commented on #461
My only concern is about redistribution: my understanding is that uploading it somewhere stable might constitute redistribution and I'm not sure it's allowed by the developer/license.

Maybe we can avoid it by using github action's cache? Or can we add a CI rule that's is optional (in the case we can't download the lib).

[2021-07-06 12:17] lucasccordeiro opened #462 "New release of the SMT solver Z3 (z3-4.8.11)"
Shall we update to this new version https://github.com/Z3Prover/z3/releases?

[2021-07-06 12:58] rafaelsamenezes commented on #462
4.8.11 is a pre-release and we are still at 4.8.9 in the CI. Just updating the version should work fine.

- Linux: https://github.com/esbmc/esbmc/blob/master/.github/workflows/build.yml#L26
- macOS uses the brew build which should be the latest already.
- Windows: https://github.com/esbmc/esbmc/blob/master/scripts/configure_environment.ps1#L10

[2021-07-06 15:00] mikhailramalho commented on #462
Btw, there is also a new version of boolector, we should test it.

Em ter., 6 de jul. de 2021 às 08:59, Rafael Sá Menezes <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2021-07-08 12:07] lucasccordeiro commented on #174
Closed via https://github.com/esbmc/esbmc/pull/456.

[2021-07-08 12:07] #174 closed, assigned to Mohannad-Aldughaim

[2021-07-08 12:09] #450 closed, assigned to nobody

[2021-07-09 19:13] Grassgod opened #464 "CVC4 and Bitwuzla 's building error on red hat."
Hi team, I am trying to install esbmc on a Redhat system.

This is the machine Info:
### Linux version 3.10.0-1160.25.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC) ) #1 SMP Wed Apr 28 21:49:45 UTC 2021

I tried to follow https://github.com/esbmc/esbmc/blob/master/BUILDING.md to build esbmc, but building errors appeared when building CVC4 and

[2021-07-09 21:00] rafaelsamenezes commented on #464
Hello,

I am not used to RHEL so I can't help building on those systems. What may be happening is that your compiler is too old to compile those solvers. If you really need you can try asking at their GitHub pages for instructions for RHEL.

However, if you only wish to build ESBMC, you can do it with only one solver. We recomend boolector for stability but Z3 is the easiest to setup.

Also, I am

[2021-07-12 06:34] Rikayan commented on #452
Hi! I am working on this project for the first time and decided to tackle this issue.
I'm having some trouble with understanding _where_ exactly I need to make the changes to include the implementation of this function. Do I need to "register" my atexit function so that in goto_symext::symex_function_call_code it is recognized. If so, is it sufficient to manually update function_map in esbmcparseo

[2021-07-13 11:02] lucasccordeiro opened #465 "k-induction assumptions"
In this fragment of C code, we would expect that our k-induction proof rule to be able to check that this assertion holds. In particular, if we overapproximate the loop, there is no other path in the CFG that the pointer `r1` points to a different memory location (i.e., it should point to either `&x` or `&y`).

@mikhailramalho: do you have any thoughts on what is happening in the inductive step?

[2021-07-13 13:47] rafaelsamenezes commented on #452
Nice, this is a somewhat intermediate issue. Let us known if you have any trouble.

That's the idea, I mentioned a Stack because the function doc says: `Functions so registered are called in the reverse order of their registration`, registering in this context means saving which functions were called.

I think looking at the pthread implementations will be very helpful, especially methods that als

[2021-07-13 14:16] mikhailramalho commented on #465
Probably because of the pointer r1 and r2.

Since we assume non-deterministic values before the loop, esbmc is probably assigning an invalid-pointer object to r1 and r2 before the loop and the formula cannot be proved after that.

Maybe if you give some invariants inside the loop? That `r1` and `r2` always point to either `x` and `y`. I still think it won't work because we are very conservative wh

[2021-07-14 13:51] #464 closed, assigned to nobody

[2021-07-15 07:09] Rikayan commented on #452
Thanks for the tips, @rafaelsamenezes

I copied the approach taken in pthread_lib.c by creating my own file for atexit with a function in it analogous to pthread_create. I also added a function in run_intrinsic corresponding to this. The problem I'm having now is - how do I link my custom function for atexit so that it is called when the compiler encounters an **"atexit"** call in code. Currently,

[2021-07-21 13:19] rafaelsamenezes commented on #452
Sorry, I haven't seen this message. In ESBMC, the following happens:

1. The frontend will parse and generate the AST of a C program. If some function is not defined (at this point), `clang` will throw the "no body found" warning. Did you add `#include <stdlib.h>` in your test program? If you mean the error is for your intrinsic e.g `__ESBMC_atexit` then you should also add the definition for it i

[2021-07-21 14:20] rafaelsamenezes commented on #461
We could also try adding into CMake through `FetchContent`.

[2021-07-21 19:54] lucasccordeiro commented on #465
Last week, I wrote some code to support incremental SMT solving for assertions in ESBMC (https://github.com/esbmc/esbmc/pull/466/files). Today, I managed to start converting our value set analysis results into an assumption (https://github.com/esbmc/esbmc/pull/468/files).

This PR already handles the example provided above (you can run `esbmc file.c --k-induction --add-symex-value-sets`):
[code]

[2021-07-22 15:59] lucasccordeiro commented on #458
@mikhailramalho: do you have any idea here?

[2021-07-23 16:01] lucasccordeiro commented on #334
Closed via https://github.com/esbmc/esbmc/commit/8c7a8e8d5f55361aa5d7e27951409aa7b72967d9.

[2021-07-23 16:01] #334 closed, assigned to rafaelsamenezes

[2021-07-23 16:02] lucasccordeiro commented on #339
Closed via PR https://github.com/esbmc/esbmc/pull/438.

[2021-07-23 16:02] #339 closed, assigned to shmarovfedor

[2021-07-23 16:09] lucasccordeiro commented on #306
ESBMC produces incorrect TRUE here because of the option `--interval-analysis`. If we remove this option from our SV-COMP script, then the k-induction proof rule corrects checks this program.

[2021-07-23 16:15] lucasccordeiro commented on #51
This issue is obsolete. We already handle custom size bitvectors:

https://github.com/esbmc/esbmc/tree/master/regression/esbmc/bitvector_01
https://github.com/esbmc/esbmc/tree/master/regression/esbmc/bitvector_02
https://github.com/esbmc/esbmc/tree/master/regression/esbmc/bitvector_03
https://github.com/esbmc/esbmc/tree/master/regression/esbmc/bitvector_04

[2021-07-23 16:15] #51 closed, assigned to nobody

[2021-07-26 13:36] rafaelsamenezes opened #472 "Add witness validation into the CI (false)"
Extend the testing tool to send the witness through CPA Checker

[2021-07-26 14:50] lucasccordeiro commented on #472
Excellent initiative!

Em seg., 26 de jul. de 2021 às 14:37, Rafael Sá Menezes <
***@***.***> escreveu:

--
Lucas C. Cordeiro​

https://ssvlab.github.io/lucasccordeiro/

[2021-07-28 21:01] lucasccordeiro opened #474 "Introduce loop invariants during the inductive step"
We're now producing invariants from the value-set analysis (cf. https://github.com/esbmc/esbmc/pull/468).

As the next step, we should introduce and check these invariants during the inductive step only. In particular, we should extend our `goto_kinduction.cpp` to call a particular function (`__ESBMC_something`), which can be intercepted during the symbolic execution to introduce such invariants.

[2021-07-29 18:47] lucasccordeiro commented on #437
Results of the `slice-assumes` option:

[code]

[2021-07-30 05:33] kaled-alshmrany opened #475 "error label & assertion"
CASE STUDY for Error Label and assertion in ESBMC (why ESBMC gives VERIFICATION FAILED for others reasons while I only set for error label)!!
===================================
 case study (1):

./esbmc_6.4/esbmc --no-div-by-zero-check --force-malloc-success --state-hashing --no-align-check --k-step 5 --floatbv --context-bound 2 --show-cex instrumented_pals_STARTPALS_ActiveStandby.1.ufo.BOUNDED-1

[2021-07-30 08:22] lucasccordeiro commented on #475
@kaled-alshmrany: you can add the option `--no-assertions` if you want to check for the reachability of the error label only.

Could you please try to run FuSeBMC with this option and let us know about the result?

[2021-07-30 08:36] kaled-alshmrany commented on #475
I did ... and here is the output for the first case study  "instrumented_pals_STARTPALS_ActiveStandby.1.ufo.BOUNDED-10.pals.c"

[2021-07-30 09:04] lucasccordeiro commented on #291
@mikhailramalho: @kaled-alshmrany told me that this issue still happens. So, I'm reopening it.

@kaled-alshmrany: could you please provide us with further information about the problem?

[2021-08-02 13:30] rafaelsamenezes opened #477 "Configuration File"
ESBMC options have grown a lot. We could have an input configuration file (such as config.json) which sets all the options and architectures for users.

[2021-08-04 22:09] #365 closed, assigned to nobody

[2021-08-05 18:52] yiqunlan commented on #180
Hi, I have created a VSCode extension for download, extract and execute ESBMC offline. The link of the repo is [ESBMC VSCode Extension](https://github.com/yiqunlan/esbmc_vscode_extension), this extension is not ready for publishing yet and I will keep working on it, please tell me any requirements and feedback you have.

[2021-08-05 18:54] lucasccordeiro commented on #180
@rafaelsamenezes: Since you have created this issue, can I ask you to review it and give your feedback?

[2021-08-05 20:31] rafaelsamenezes commented on #180
@yiqunlan

I think you are at a great start. My requests are only for a better integration with VS Code:

- You have some missing dependencies, try setting up a Github Action to build the plugin so you can ensure a stable environment
- Add the errors found by esbmc into the error list of vscode
- Create a configuration menu for esbmc. This way we can have a configuration based on the workspace. Yo

[2021-08-05 21:30] rafaelsamenezes opened #481 "ESBMC can't handle extern arrays"
If we define a zero-sized array in a header and then implement it in a library, ESBMC won't detect the correct bounds.

[code]

The program returns:
[code]

[2021-08-05 21:34] mikhailramalho commented on #481
did you call "esbmc extern.c extern_main.c"?

If so, the bug is probably when merging different contexts from different
TUs.

Em qui., 5 de ago. de 2021 às 17:31, Rafael Sá Menezes <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2021-08-05 21:40] rafaelsamenezes commented on #481
Do you have any tips on how to debug/fix this?

Not sure if it is related but if I replace with a basic data type, the program works fine:

[code]

[2021-08-05 21:42] yiqunlan commented on #180
@rafaelsamenezes
Thanks for your feedback! I have looked into the document of CodeLens and I agree it offers a better solution. I'm going to refactor my code to adapt this function.

[2021-08-05 21:46] mikhailramalho commented on #481
The first step is to dump the symbol table and to check if we generate
different symbols for the same constructs, i. e., the extern array and the
one with size 10.

Then, we have two ways to fix:
1. Use clang to merge the asts from different TUs, so we don't have to do
it ourselves: this should be best solution, but if there is a bug in the
ast merge, we'll probably have to fix it ourselves and su

[2021-08-06 06:57] lucasccordeiro commented on #437
Results of the current master with `--k-inducton` and  `--add-symex-value-set` using `15 minutes` and `15 GB`:

[code]

[2021-08-07 07:45] lucasccordeiro opened #484 "Refine the introduction of pointer invariants during the symbolic execution"
This PR https://github.com/esbmc/esbmc/pull/479 enables the value set analysis during the inductive step only. However, we can improve it even further if we:

- Add custom built-in call when applying k-induction transformations.
- During the symbolic execution, we should add the pointer invariants.

[2021-08-10 10:24] lucasccordeiro opened #486 "Investigate dereference failure: Over-sized read of struct field"
We should investigate this program to check whether ESBMC is providing the correct verification result.

[code]

Steps to recreate:
$ esbmc test_oversized_field_offset.c

[code]

[2021-08-10 15:07] shmarovfedor commented on #486
I don't think that there are any security issues here (`uint_p[0]` is still within the bounds of the object `tmp`), but I guess it could result into a potential bug within a larger program. Essentially in the line `uint_p[0] = 5; // ESBMC fails on this line` we overwrite the first 8 bytes of `str1_t tmp` which results in both `tmp.field11` and `tmp.field12` being completely overwritten (as well as

[2021-08-10 18:24] rafaelsamenezes commented on #486
I think that overwriting a member is only a bug if we are using it directly. Also, it throws the same error if we only do reading:

[code]
[code]

[2021-08-11 09:35] shmarovfedor commented on #486
Yeah I made a mistake in my comment: the padding byte doesn't get affected, but rather the first 5 elements of `field13` and not first 4 elements as I stated earlier. I also slightly extended this code with a few assertions and some concrete values (I thought it might be useful). This one compiles and runs without violating any assertions:

[code]

[2021-08-24 12:59] mikhailramalho commented on #484
@lucasccordeiro, any update on this issue?

[2021-08-24 13:08] lucasccordeiro commented on #484
@mikhailramalho: I won't have the bandwidth to work on this soon. If someone in our team has some spare time to further refine this solution, it would be great to have such an implementation. Note that our current implementation adds the `pointer invariants` just in the inductive step, which already improves our baseline (k-induction without pointer invariants). If we add these invariants only whe

[2021-08-26 19:53] ParthGaneriwala opened #489 "C++ Compatibility?"
I have been looking into the verifier and I am getting continuous errors while running C++ code but it works for C code. I wanted to ask if it is sure that C++ code is verified because it says it does. Yes when I mean C++ code, its the object oriented part which is not working.

[2021-08-26 20:28] lucasccordeiro commented on #489
@ParthGaneriwala: You could try out this version https://ssvlab.github.io/esbmc/benchmarks/stvr_2021_experiments.zip.

Our paper that describes this version is available at https://ssvlab.github.io/lucasccordeiro/papers/stvr2021.pdf.

[2021-08-27 14:20] ParthGaneriwala commented on #489
Most of the files for ESBMC model checker are coming out to be 'Not Supported'. Is that an expected result for ESBMC?

[2021-08-27 14:21] ParthGaneriwala commented on #489
====== SUBSUITE: inheritance ======

 ---- ch13_25 [NOT SUPPORTED] Wall Time: 0.000000s, CPU Time: 0.000000s, Memory: 6848KB
 ---- ch22_1 [NOT SUPPORTED] Wall Time: 0.000000s, CPU Time: 0.000000s, Memory: 6848KB
 ---- ch22_2 [FALSE INCORRECT] Wall Time: 0.240000s, CPU Time: 0.230000s, Memory: 32436KB
 ---- ch22_4 [NOT SUPPORTED] Wall Time: 0.000000s, CPU Time: 0.000000s, Memory: 6848KB
 ---- dynam

[2021-08-27 22:04] feliperodri commented on #489
@ParthGaneriwala Is the ESBMC binary in your path? If you take a look at the scripts, you can see how we call each tool
[code]
So the ESBMC binary must be in your path. Take a look at the README file as well.
[code]

[2021-08-30 12:20] ParthGaneriwala commented on #489
Yes I have all the necessary binaries for all of the model checkers install in my $HOME directory which is why the confusion.
I have reinstalled it and still the same issue. Although I am getting results for few of the C++ files.

[code]

[2021-09-04 18:16] DestyNova opened #490 "Support for integers bigger than 64 bits"
I'm trying to use ESBMC to verify a Linux kernel module, or more accurately to track down some memory allocation bugs I know are there.

First, I made a dummy kernel module that does nothing except print that it's been loaded or unloaded. Then I spent some time figuring out which includes and macro definitions are needed to compile it with ESBMC. However, when I got past that part, the tool immedi

[2021-09-04 19:19] lucasccordeiro commented on #490
@DestyNova: Can I ask you to try this version?

https://drive.google.com/file/d/1y79T4YOpgp6X2jPjyjp0ol6PMusBOf-r/view?usp=sharing

@rafaelsamenezes has fixed this issue (not ideally yet), which is available in this specific branch https://github.com/esbmc/esbmc/tree/ucode.

[2021-09-04 19:19] lucasccordeiro commented on #489
@feliperodri: Could you please take a look at this output?

[2021-09-04 19:26] lucasccordeiro commented on #490
@DestyNova: This is the correct link: https://drive.google.com/file/d/1y79T4YOpgp6X2jPjyjp0ol6PMusBOf-r/view?usp=sharing

[2021-09-04 22:34] DestyNova commented on #490
Thanks! That version doesn't produce the same error, but fails with this output instead:

[code]

Might be a failed assertion?

[2021-09-05 14:38] rafaelsamenezes commented on #490
Hi @DestyNova ,

`CONVERSION ERROR` means that ESBMC wasn't able to parse the file correctly.

Please, that would be very helpful for me. Will I need anything else e.g. Kernel Headers?

Also, If you want to keep some code private, you can try [reducing it](https://github.com/esbmc/esbmc/wiki/Reducing-C-Programs)

[2021-09-05 16:53] DestyNova commented on #490
Hi @rafaelsamenezes no problem -- the module I'm using is almost empty so no need to reduce it. You'll need the kernel headers; in my case they're in `/usr/src/linux-headers-5.11.0-31-generic` and `/usr/src/linux-headers-5.11.0-31`.

`rickroll.c`
[code]

`Makefile`
[code]

Then you can build the module with `make` and run esbmc with `make verify_esbmc`. Note that the Makefile tries to guess the co

[2021-09-06 08:10] YuJing63 commented on #489
I also try it strictly according to the tutorial, but it is close to the above results, and many do not support it

[2021-09-06 08:18] YuJing63 commented on #489
/stvr_2021_experiments/stvr_2021_experiments/data/benchmarks/stl/map/map_begin$ /usr/bin/time -v timeout 900s esbmc 2>&1 main.cpp --z3 --unwind 4 --no-unwinding-assertions -I ~/libraries/ --memlimit 14000000
ESBMC version 2.1.0 64-bit x86_64 linux
file main.cpp: Parsing
main.cpp:2: error: cannot find 'iostream'

[2021-09-06 08:41] lucasccordeiro commented on #489
@xinyuguo1998: I can see from this output that ESBMC is unable to find the operational model of the C++ libraries. Can you double-check whether these OMs are available at ~/libraries/?

[2021-09-06 14:25] rafaelsamenezes commented on #490
I've looked into it. It seems that the kernel headers uses some compiler builtin functions that we still don't support. They are:

- __builtin_types_compatible_p
- __builtin_choose_expr
- __builtin_offsetof

I will try to implement them throughout this week.

[2021-09-07 04:44] YuJing63 commented on #489
Yes, when I added esbmc to the global variable, I did not modify the path of the library, so it failed. Thank you very much

[2021-09-07 05:43] lucasccordeiro commented on #489
Is ESBMC working now?

[2021-09-07 05:56] YuJing63 commented on #489
yes，I tested that the data set you gave can be used normally, and my own C++ code can also be verified. Thank you very much.

[2021-09-07 07:38] lucasccordeiro commented on #489
Excellent! I'll close this issue.  If you have further questions, please let us know.

[2021-09-07 07:38] #489 closed, assigned to mikhailramalho, feliperodri

[2021-09-07 12:38] rafaelsamenezes opened #491 "Split irep2.cpp in multiple files"
Irep2.cpp is a huge file, which causes issues with mingw and MSVC. By splitting it in multiple .cpp we could make a build with mingw and boolector for Windows.

[2021-09-14 10:52] rafaelsamenezes opened #494 "Handling solver dependencies with CMake"
Continuing the discussion from PR #494

We could, but some refactoring will be needed for the solvers. CMake contains two libraries to download and build: FetchContent and ExternalDependency. The difference between those is that FetchContent will download and build  during build time while External will do it in configure time. For me, we should use FetchContent to optimize the total build time

I

[2021-09-17 14:47] rafaelsamenezes opened #496 "Use CMake to get the clang headers for the current distribution"
Currently, we are shipping all the `libclang`  headers [inside our repository](https://github.com/esbmc/esbmc/tree/master/src/clang-c-frontend/headers).

This makes that for each clang release (official or custom), we must manually replace the headers with the newest.

 Instead of this, we could use CMake to detect all the files directly from the LLVM configuration. The steps needed to achieve thi

[2021-09-23 08:28] lucasccordeiro opened #499 "Compile ESBMC on the most recent version of the macOS."

[2021-09-28 15:55] ssvlab opened #500 "Update the ESBMC documentation (Solidity verification)"
@kunjsong01: could you please update our ESBMC website (https://ssvlab.github.io/esbmc/documentation.html) to describe how ESBMC can be used to verify solidity programs?

[2021-09-28 17:06] mikhailramalho commented on #484
@lucasccordeiro I will appreciate it if we can plan ahead when merging PR that is incomplete: I explicitly requested this change in PR #479 and the PR was merged as is. I suggest we find someone to implement the feature properly or the PR should be reverted.

[2021-09-28 17:33] lucasccordeiro commented on #484
This feature is completed and tested. You have suggested improvements to make the verification faster. My recommendation is to keep this feature in the codebase. We can always find a colleague to further extend the existing feature in ESBMC.

[2021-09-28 17:44] mikhailramalho commented on #484
The feature is not complete because it was not implemented properly.

Adding code that is not up to esbmc standard is harmful as it only
increases our maintainability effort.

Em ter., 28 de set. de 2021 às 13:33, Lucas Cordeiro <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2021-09-28 17:55] lucasccordeiro commented on #484
Well, it was not implemented as you wanted. The new feature solves more verification tasks without introducing incorrect results. It also keeps our current code standard.

What is the maintainability issue here?

[2021-09-28 18:11] mikhailramalho commented on #484
I'm more about keeping esbmc modular and easy to maintain, than to "how I
want".

The patch introduces a new feature while in the middle of another
functionality. This is similar to how the previous k-induction was done,
during goto-convert, which caused several issues. The move to modularize
changes is an important step to prevent unforeseen bugs.

Rafael's last goto-unwind is a good example of a

[2021-09-28 18:27] lucasccordeiro commented on #484
I see.

What about the bidirectional search?

The implementation is modular, but it produces many incorrect results, which were never fixed.

I believe it is built on top of a modular k-induction.

[2021-09-28 18:36] mikhailramalho commented on #484
bkind is a separate module that changes ssa and it's located in a method in
bmc.cpp. It's enclosed in a method that explicitly says what it does so
that are no surprises when you look at the code there, unlike the code from
PR #479.

It is broken and yet killing it is easy and painless, unlike features like
the atomicity check.

Em ter., 28 de set. de 2021 às 14:27, Lucas Cordeiro <
***@***.***> e

[2021-09-28 19:57] rafaelsamenezes opened #502 "Contribution Guidelines"
To solve the discussion at #484

I think that it is time for us to define what is a maintainable code and what is an acceptable PR. This should avoid similar discussions in the future.

# Current Issues in the code

IMO, the codebase itself has some major problems:

- It is way too hard to test anything. Because of that, we only rely on acceptance tests, which worsens the issue;
- For some reason,

[2021-09-29 11:57] lucasccordeiro commented on #502
@rafaelsamenezes: I strongly support this initiative. I believe it would be good to check this procedure in other open-source projects, including the development of verification / automated reasoning tools.

Once we agree on a standard set of guidelines, we could add it to our wiki, README, etc and also build a template where we need to tick the box to meet the requirements when submitting a PR.

[2021-09-29 14:45] mikhailramalho commented on #502
Thank you for the initiative, Rafael.

Unfortunately, the discussion on that issue really got out of control, and
I contributed to the problem. I also understand that my comments might be
sometimes difficult/cumbersome to implement, however, I still stand by my
reviews, as they aim to improve the PRs' quality.

If I may add one suggestion is to request more involvement from the
reviewer: unfortuna

[2021-10-03 14:06] rafaelsamenezes commented on #499
See https://github.com/actions/virtual-environments/issues/4060 for macOS-11

[2021-10-03 21:49] DestyNova opened #508 "Missing stdio definitions (scanf, gets, ...)"
Hello, I'm quite new to ESBMC and find it exciting. I noticed that some common stdio functions don't have a reference model, so output like this is produced on many C programs:

[code]
These functions seem to be exceptionally prone to accidental buffer overflows, so it would be nice if we could validate their usage with ESBMC. What would be the easiest way to add support for these functions (or am

[2021-10-04 13:32] rafaelsamenezes opened #510 "Run Memchecks while executing the regression"
We may have some memleaks inside esbmc. We should try to detect them.
- Valgrind
- ASAN/MSAN
- Cppcheck

[2021-10-04 21:07] DestyNova opened #511 "strlen on unknown string loops apparently forever (until it crashes)"
Apologies if I'm just using this wrong, but I'm having trouble with code that calls the `strlen` function:

[code]
This produces output like:
[code]

[2021-10-05 13:39] lucasccordeiro commented on #511
@DestyNova: If you run ESBMC as:

$esbmc main.c --incremental-bmc

You will get the following output:

[code]

You could also enable the compact trace to see the counterexample:

$esbmc main.c --incremental-bmc --compact-trace

[code]

You could read the documentation section at esbmc.org to obtain the full explanation of these options.

[2021-10-05 16:38] DestyNova commented on #511
Thanks @lucasccordeiro -- I'll take a closer look at the documentation to understand this; that incremental option seems like what I need.

Could you help me understand the counterexample in this case? I think it's referring to [this code in the reference string.c](https://github.com/esbmc/esbmc/blob/master/src/c2goto/library/string.c#L233-L237), which seems to say "if the input string is null, th

[2021-10-06 14:00] lucasccordeiro commented on #499
Thanks, @rafaelsamenezes. It will take some time to start compiling ESBMC for MacOS-11.

[2021-10-12 13:53] emanino opened #513 "Invalid floating-point counterexample"
Hi all,
I have an issue running ESBMC on the following minimal example [bug_example.txt](https://github.com/esbmc/esbmc/files/7330463/bug_example.txt):

`int main()`
`{`
`	float x0 = nondet_float();`
`	float x1 = nondet_float();`
`	float x2 = nondet_float();`
`	float x3 = nondet_float();`
`	float x4 = nondet_float();`
`	float x5 = nondet_float();`
`	float x6 = nondet_float();`
`	float x7 = nondet_

[2021-10-13 15:14] mikhailramalho commented on #513
It looks like querying from the model is broken on boolector, here's the model:
[code]

Maybe we are building the cex incorrectly only for negative numbers?

While I investigate, may I suggest you use z3? You will get some performance hit but the cex seems to be correct.

[2021-10-13 17:11] emanino commented on #513
Thanks for looking into this. I will use z3 as you suggest.

[2021-10-14 22:04] rafaelsamenezes commented on #508
Hi @DestyNova, sorry for the delay. I haven't seen your message (if nobody has answered an issue, you can always ping me or @lucasccordeiro). Right now we do not have models for those functions.

This is a tricky model to implement, definitely not a good first issue.

If you want to try, I will be happy to help you. There are a couple of ways of doing it:

First thing, learn the synopsis of the fu

[2021-10-14 22:54] DestyNova commented on #508
Thanks @rafaelsamenezes for that detailed explanation. I'm not sure if I'm ready to take on something like this, but I'll take a look at the `c2goto/library` examples. That would seem like the most practical approach in most cases.

While (re-)reading about those functions, it seems clear that `gets` can't be proven safe under any circumstances, because its behaviour entirely depends on what's rec

[2021-10-15 11:32] rafaelsamenezes opened #517 "Create a temporary unique folder for clang-headers extraction"
Using a static name is causing data-race and permission issues when running esbmc with multiple users

[2021-10-15 16:13] rafaelsamenezes commented on #508
Don't worry, if you wish to start contributing you can look into the good-first-issue tag.

Yes, you are correct. This will probably need an overaproximation by using an extra flag to set the maximum size for stdin.

[2021-10-17 11:18] #517 closed, assigned to rafaelsamenezes

[2021-10-20 11:52] rafaelsamenezes opened #520 "Refactor mode selection"
Right now, selecting the language mode is based on a number which can change based on which frontends are shipped with the current release. Also, it doesn't help that in some parts we are doing math operations e.g ``mode += 2` to select the mode.

I suggest creating an enum class for the modes and create a HashMap<mode,bool> to represent if the language is built.

[2021-10-21 11:54] farif opened #521 "Memory safety violation not detected"
ESBMC failed to detect an out of bound access for a pointer that yeild an unsafe memory access. Please find the code example copied here:
[code]

[2021-10-21 12:03] farif opened #524 "Loop unrolling"
ESBMC fails to prove a trivial assertion. Here is an example code:
[code]

[2021-10-22 14:04] Misasasa opened #525 "Copyright and license of ESBMC benchmarks"
Hello, we made experiments on some ESBMC benchmarks (https://ssvlab.github.io/esbmc/benchmarks/cs-benchmarks.zip) in our paper. And we are going to participate in the Software Verification Competition and commit some benchmarks to SVCOMP, including "arithmetic_prog_*", "circular_buffer_*", "din_pil*" and "reorder_*". I wonder if this is permitted to use your benchmarks. If this is OK, could you pl

[2021-10-23 13:50] rafaelsamenezes commented on #521
There are two limitations for esbmc there:

1. We do not support format check. https://github.com/esbmc/esbmc/issues/508
2. In your example you are casting an value to a pointer, we do not support that: https://github.com/esbmc/esbmc/issues/92

[2021-10-23 17:33] mikhailramalho commented on #475
@rafaelsamenezes, Kaled said the patch actually makes esbmc slower.

Could you help us investigate that?

[2021-10-23 17:42] kaled-alshmrany commented on #475
As I discussed with @mikhailramalho, the patch (let us call it "Label patch") is really good but slow. I tried on different programs, and I came up with this idea, and I believe it will not take time. The idea is to do the same hack, but on the version we participated in last year. However, I do not know how you can determent the version I have because what I have is binary.

We will end up with a

[2021-10-26 10:31] rafaelsamenezes opened #530 "ESBMC is unable to dereference function pointer cast for void parameters"
ESBMC is not able to detect the bug in the following program:

[code]

By replacing the signature of `foo` to `void *foo(void*)` ESBMC will find the bug. Executing this program with clang causes the program to fail.

[2021-11-01 09:26] fbrausse opened #535 "Non-static build against system clang"
A number of Linux distributions don't ship the individual clang components `libclangTooling.a`, `libclangAST.a` and `libclangIndex.a` anymore ([Fedora](https://bugzilla.redhat.com/show_bug.cgi?id=1787375), [openSUSE](https://bugreports.qt.io/browse/QTCREATORBUG-23172?focusedCommentId=524992&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-524992), [Arch](https://bugs.a

[2021-11-01 09:49] fbrausse opened #536 "Segfault when using `--smt-model`"
Due to drivers for Yices, Boolector and Bitwuzla `fopen`-ing a directory as described in https://github.com/fbrausse/esbmc/commit/cae1348400141926031ace3d102cd5b4433ba5ec,
[code]
segfaults:
[code]

[2021-11-01 09:52] rafaelsamenezes commented on #535
I will test this on Windows. I also things that this is related to issue #496

[2021-11-02 09:09] #361 closed, assigned to nobody

[2021-11-02 11:34] rafaelsamenezes opened #538 "Interval Analysis is always generating inductive instructions"
This is causing conflicts when running esbmc with incremental approach.

[2021-11-02 16:32] lucasccordeiro opened #541 "How does ESBMC handle sizeof() function?"
Suppose that we have a loop like this.

[code]

ESBMC thinks this is an unbounded loop, although `sizeof(int)` is known at compile time. Should our clang frontend provide this info?

Whereas for this loop, esmbc handles it perfectly.

[code]

[2021-11-02 16:43] rafaelsamenezes commented on #541
I don't think the issue is with `sizeof`, it is with the cast for operations. Since `sizeof` returns an `unsigned long` for some reason, esbmc does the comparation adding a `unsigned long` cast into `i`
[code]

Changing sizeof to 4 results in:

[code]

[2021-11-02 17:39] mikhailramalho commented on #541
I can't reproduce the unbound loop:
[code]

[2021-11-02 20:26] mikhailramalho opened #542 "How to check for memory leak after calling exit()"
Consider the following program:
[code]

When calling `exit(1)` from `f()`, functions `free_g1` and `free_g2` will be called (in that order) to free the memory, but because of `g = NULL` in `free_g1`, the guard `if (g != NULL)` is false and `*g` will not be freed.

The problem with esbmc is because our model of `exit(int)` is:
[code]

which generates the following ssa (with `--memory-leak-check`):

[2021-11-02 22:30] rafaelsamenezes commented on #541
This seems to be a problem only for ucode

[2021-11-03 11:16] rafaelsamenezes commented on #525
Hi @Misasasa ,

The license is the same as ESBMC (4-clause BSD). You are free to use them.

[2021-11-03 23:30] fbrausse commented on #542
Except for the `__atexit_handler()`, the models for `exit` and `abort` seem to be the same (if you don't take into account the difference in the unused
https://github.com/esbmc/esbmc/blob/43d8c5d94a9aac4e981cc9baf68ac20184cba31a/src/cpp/library/cstdlib#L118-L125).
Would it be possible to define the concepts of "normal" and "abnormal" program termination symbolically in esbmc? From my perspective,

[2021-11-04 12:32] rafaelsamenezes commented on #542
I think that this is the best approach. However, I would prefer if the intrinsic was just a check:

[code]

I think that this would be easier to maintain.

[2021-11-04 19:29] rafaelsamenezes opened #545 "__VERIFIER_atomic_* is not being set as atomic"
ESBMC is not handling atomic calls properly

[code]

Instructions inside __VERIFIER_atomic_* should be atomic.

[2021-11-05 12:41] #536 closed, assigned to nobody

[2021-11-05 15:13] rafaelsamenezes opened #547 "ESBMC is not compiling in GCC 11.3"
It looks like an easy fix though

[code]

[2021-11-05 15:39] mikhailramalho commented on #547
Yeah, I've found that a few days ago: https://github.com/esbmc/esbmc/commit/8862b024aa61d681d072b92498e4d997022d516c

I think this kind of fix we can push to master directly, no need to create PRs.

[2021-11-05 17:05] #545 closed, assigned to rafaelsamenezes

[2021-11-05 21:08] rafaelsamenezes opened #548 "[Concurrency] Pthread mutex is not working for main thread"
See the following example:

[code]

In this example, there is a race condition over the `glob1` var when:

1. Thread `id` starts and locks `mutex2` (at function t_fun)
2. Main thread starts `foo` and should wait for `mutex2`
3. Thread `id` changes the value of `glob1`  to 5 and unlocks `mutex2`
4. Main thread checks for the assertion `glob1 == 0`. Which should fail.

ESBMC can't find this violatio

[2021-11-05 21:25] rafaelsamenezes commented on #548
Apparently, forcing the main call to be inside a thread... fixes the issue. Something like:

[code]

[2021-11-07 15:46] #447 closed, assigned to nobody

[2021-11-08 11:27] shmarovfedor opened #552 "ESBMC does not allow multiple unnamed bit-fields"
Here is a simple example where a struct has multiple unnamed bitfields
[code]
and ESBMC returns
[code]

This is because of the naming convention ESBMC uses for unnamed members. Each of such members will be given the same name at parsing which results in failing at a further stage due to having multiple identifiers with the same name. This shouldn't be hard to fix as we will only need to make sure

[2021-11-08 11:27] rafaelsamenezes commented on #535
@fbrausse are you working on this?

Do you know if this will also work for Windows?

[2021-11-08 11:32] rafaelsamenezes commented on #525
I will close this for now. @Misasasa feel free to reopen it if you need.

[2021-11-08 11:32] #525 closed, assigned to nobody

[2021-11-08 18:36] fbrausse commented on #535
Yes, I am working on this; for Linux it's working fine as it is. No idea about Windows (or Mac), don't have those accessible here.

[2021-11-08 18:44] fbrausse commented on #535
For static builds nothing should change. However, an extension of this is about #496: either
a) use bundled headers from the ESBMC source (current only option)
b) use bundled headers from system (this is #496)
c) use bundled headers from user-specified location (for #516)
d) do not use bundled headers, and instead rely on system (or user-specified path)
This development is in https://github.com/fb

[2021-11-08 18:48] mikhailramalho commented on #552
Ouch, they are probably all named "anon", right? I always thought that clang's USR algorithm would solve that for us without manual intervention.

[2021-11-08 19:09] fbrausse commented on #535
About the clib{32,64}{,_fp} GOTO libs: they should be bundled the same way as the headers, right?

[2021-11-08 19:13] shmarovfedor commented on #552
Yeah all unnamed bit-fields get the same name "anon". I guess we could just append it with some corresponding unique information from clang or introduce a counter.

[2021-11-08 19:15] mikhailramalho commented on #552
Or we can use its position inside the struct to define the numbering, like it's done in the padding algorithm.

[2021-11-08 23:10] rafaelsamenezes commented on #535
Yes

[2021-11-09 21:45] #381 closed, assigned to mikhailramalho

[2021-11-11 12:23] shmarovfedor opened #554 "Improving readability of counter-examples"
Some counter-examples produced by ESBMC are quite hard to follow. For example, the testcase in `esbmc/regression/esbmc/struct_bitfields_15` outputs the following counter-example:

[code]

It can be seen that the first few assignments are hard to follow. ESBMC just dumps the corresponding expressions that can be further simplified, and not only trivial things like `0 | 0 & -2` but also `byte_extrac

[2021-11-11 12:28] lucasccordeiro commented on #554
@rafaelsamenezes has spent quite some time improving the counterexample generation in ESBMC, particularly for Test-Comp via a Python script since ESBMC needs to output readable test cases.

I believe we could have multiple PRs that can handle different aspects of the counterexample generation/visualisation.

[2021-11-11 14:59] mikhailramalho commented on #554
When constructing the cex, the SMT backend ends up calling simplify, which
should simplify these expressions. If the simplification happens at symex
time, we might be able to propagate the values so the slicer can remove
unnecessary SSAs.

However, I think the biggest issue is that we end up generating more than 1
SSA per C/C++ line of code, especially our memory model code. Most of them
could be

[2021-11-11 18:43] rafaelsamenezes commented on #554
@mikhailramalho Woudn't be simpler to force the simplification at the counter example generation? By relying on simplifications that happened before will cause issues if we use --no-simplify.

[2021-11-11 19:33] rafaelsamenezes opened #555 "Fix old-frontend"
The new message system broke the old-frontend. We need to make it compile again

[2021-11-11 19:35] rafaelsamenezes opened #556 "Goto convert is missing the throw clause"
Goto Convert is missing the case for THROW, this breaks-up the convertion at symex level.

[2021-11-12 12:52] mikhailramalho commented on #554
Good point.

The problem is that once we are building the cex, we might already have
multiple SSAs representing a single C/C++ line of code, so we still would
have multiple cex assignments representing the same C/C++ line.

The better solution is to improve symex so we generate an SSA per line of
code, but in the meanwhile, if we improve the simplifications:
1. We improve performance overall.
2. W

[2021-11-14 11:10] rafaelsamenezes opened #557 "Support for GOTO input"
How is ESBMC behaving when dealing with GOTO input, from:

1. Our own c2goto, can we use ESBMC to export a GOTO program to be used later?
2. From CBMC, can we use the GOTO generated by/for it?

[2021-11-14 16:15] mikhailramalho commented on #552
This fixes it for me:
[code]

[2021-11-14 18:10] lucasccordeiro commented on #552
@shmarovfedor: could you please create a PR to fix this issue?

Do we have benchmarks in sv-comp 2022 that requires this fix?

[2021-11-15 15:08] lucasccordeiro commented on #500
Closed via https://github.com/ssvlab/ssvlab.github.io/commit/3c5134e9545510da4add6a3ac831519c03aa60b2.

[2021-11-15 15:08] #500 closed, assigned to nobody

[2021-11-15 15:36] lucasccordeiro commented on #443
@shmarovfedor: could you please take a look at this issue?

[2021-11-15 15:41] lucasccordeiro commented on #443
I believe we could check whether the location of the claim expression matches the one provided by `--function` in https://github.com/esbmc/esbmc/blob/master/src/goto-symex/symex_main.cpp#L63.

Any better thoughts?

[2021-11-15 18:52] mikhailramalho commented on #443
How are planning to deal with inlining? Does `--only-assertions-in-function` implies `--no-inlining`?

[2021-11-16 11:47] rafaelsamenezes commented on #443
If this can be modularized somehow (maybe in utils). In future, I think it would be great to be able to specify the module, class, regexes, specializations.

[2021-11-16 16:30] lucasccordeiro opened #558 "User's question concerning FP computation"
[code]

This should be checking that sin(x) is the correct value, right? But for some reason, my assertion fails:
Counterexample:

State 1 file in_sinf.c line 21 function main thread 0
----------------------------------------------------
Violated property:
  file in_sinf.c line 21 function main
  assertion (sin(x)*sin(x)+sin(0.5*pi-x)*sin(0.5*pi-x))==1
  IEEE_ADD(IEEE_MUL(return_value$_sin$2, retu

[2021-11-16 17:06] rafaelsamenezes commented on #558
In math yes, in C no, `sin` returns a double.

For instance, if you break the program in the following form:

[code]

ESBMC will return VERIFICATION SUCCESSFUL. However, if you do not force it to be float, the default behaviour will be to cast into double:

[code]

Then esbmc will return the following:

[code]

Which is a violation. If you also run this program with `clang -lm` and execute. It wil

[2021-11-17 12:45] rafaelsamenezes opened #561 "Clang-Tidy reported issues"
After running clang-tidy in ESBMC, it was able to find some bugs. We should confirm and fix those issues:

- [ ] (confirmed) [Dead_Store_0.txt](https://github.com/esbmc/esbmc/files/7554666/Dead_Store_0.txt)
- [ ] (confirmed) [Dead_Store_1.txt](https://github.com/esbmc/esbmc/files/7554670/Dead_Store_1.txt)
- [ ] (confirmed, and maybe a bug) [Dead_Store_2.txt](https://github.com/esbmc/esbmc/files/75

[2021-11-18 17:22] mikhailramalho commented on #542
There was a lengthy discussion about abornal and normal termination, IIRC abnormal termination was decided to be when the program exits without explicit calls from the program (i.e., null pointer deref), while a normal termination is whenever a program reaches the end of main or exits by calling exit(), abort() or _Exit().

The problem here is that we still need to honour an assume(0), even if mem

[2021-11-18 17:30] mikhailramalho commented on #542
What if we model an assume(0) as a jump to `__atexit_handler()`?

Or better still, we could create a new function `__ESBMC_end_main()` (or a better name) which would call `pthread_end_main_hook` and `__atexit_handler` (or others that we might need in the future).

Then we could have a model for _Exit:
[code]

We could  change the smt_conv to always guard the ssa in `__ESBMC_end_main()` with `__ESB

[2021-11-19 11:26] #491 closed, assigned to Daniel-yrm

[2021-11-22 22:46] #538 closed, assigned to rafaelsamenezes

[2021-11-30 15:12] fbrausse opened #562 "Inconsistent results with `--fixedbv`"
The following test case produces inconsistent results:
[code]

`esbmc --z3 main.c` (v4.8.11) and `esbmc --yices main.c` (v2.6.1) both say `VERIFICATION SUCCESSFUL`
while
`esbmc --fixedbv` with either Z3, Yices and CVC (v1.8) finds:
[code]

I could not test CVC without `--fixedbv`, because it then fails with
[code]
Not sure whether that is a separate bug.

[2021-12-01 12:59] fbrausse commented on #542
To be honest, that sounds strange to me, in particular in light of C++ destructors of static variables (and C functions marked with `__attribute__((destructor))`), which are run neither on _Exit() nor abort(), but they are run on exit() and return from main().

[2021-12-01 15:50] fbrausse commented on #92
That's what PR #426 partially does, however it does not handle typecasts in any special way. Instead integer arithmetic takes value-sets into account. It only partially tracks them, because if both operands of binary expressions happen to maybe-point to something, those sets are still lost. https://github.com/esbmc/esbmc/blob/29438a4cacae96dc59d26c08d38711e6a97b433e/regression/esbmc/github_426_3/m

[2021-12-09 00:01] iphydf opened #565 "Segmentation fault on VLA"
Reproducing test-case:

[code]

ESBMC version 6.8.0 64-bit x86_64 linux

This also breaks on the web interface.

[2021-12-09 10:37] lucasccordeiro commented on #565
@rafaelsamenezes: I remember that you did some work on this VLA support. Could you please take a look at this issue?

[2021-12-09 17:41] fbrausse commented on #548
On the first example (adding `#include <pthread.h>`) I get

[code]

Assuming you meant to call `foo(0)` without dereferencing its missing return value,

I can't reproduce this neither with current master (10351abc5ce24d23be7a4dddc8f96e5e4d2bb713), the version from Nov 4th (9316a01d50c8b9461d210a446322bb1cfdaaa8f1) nor [v6.8](https://github.com/esbmc/esbmc/tree/v6.8): both examples give `VERIFICATI

[2021-12-11 15:17] fbrausse commented on #535
Option c) above is now handled in #566. The GOTO libs are still missing: are their headers currently used to translating user input sources?

[2021-12-11 19:38] lucasccordeiro commented on #558
This issue was raised by an ESBMC user; there is no further questions about this topic.

[2021-12-11 19:38] #558 closed, assigned to nobody

[2021-12-11 19:40] lucasccordeiro commented on #513
@emanino: could you please open the issues you have found about our support for FP arithmetic?

[2021-12-11 19:57] lucasccordeiro commented on #31
Closed via https://github.com/esbmc/esbmc/commit/fc353268800ea2875e27d12ebb6bb4f2c41d2ea8.

[2021-12-11 19:57] #31 closed, assigned to mikhailramalho

[2021-12-13 12:05] emanino commented on #513
I am trying to reproduce the bug. So far I stand by my previous report: correct verification outcome, but incorrect counterexamples

[2021-12-19 10:44] #496 closed, assigned to nobody

[2021-12-19 10:44] #535 closed, assigned to nobody

[2021-12-19 23:31] igibek opened #568 "[Security] Workflow linter.yml is using vulnerable action actions/checkout"
The workflow linter.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2)

[2021-12-20 08:23] lucasccordeiro opened #569 "Implement the __builtin_memcpy function"
This is a request sent via e-mail from an ESBMC user:

[code]

@shmarovfedor: could you please take a look at this issue?

[2021-12-20 10:08] rafaelsamenezes commented on #569
I think you can just add a define in the frontend:

[code]

A similar example is [here](https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/clang_c_language.cpp#L138)

[2021-12-20 12:11] lucasccordeiro commented on #300
@shmarovfedor: could you please take a look at this issue?

[2021-12-20 12:15] shmarovfedor commented on #300
@lucasccordeiro, yes sure!

[2021-12-20 13:18] mikhailramalho commented on #569
There is a method in the frontend that already transforms built-in
functions (I think it's called do_special_functions in clang_c_adjust.cpp),
we can simply add this name changing there.

Em seg., 20 de dez. de 2021 às 06:09, Rafael Sá Menezes <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2021-12-20 13:40] #568 closed, assigned to nobody

[2021-12-20 17:13] fbrausse opened #571 "Bitfield endianness"
Consider `endian3.c`:
[code]
For `--little-endian` ESBMC can prove this program valid. For `--big-endian` it cannot:
[code]
(This is using a `mips64-unknown-linux-gnu` sysroot, if it matters.)

[2021-12-20 17:20] fbrausse commented on #571
Other examples failing with `--big-endian` are `endian1.c`:
[code]
->
[code]
and `endian2.c`:
[code]
->
[code]

[2021-12-20 17:22] lucasccordeiro commented on #571
@shmarovfedor: Can you take a look at this issue?

[2021-12-20 17:27] shmarovfedor commented on #571
@lucasccordeiro, yes sure.

[2021-12-21 16:19] #569 closed, assigned to shmarovfedor

[2021-12-21 20:12] rafaelsamenezes opened #574 "SV-Comp issues"
SV-Comp results showed a couple of issues that we are having in ESBMC. This issue will just serve as a tracker (specific issues should be opened).

- Can't construct rvalue reference to array type during dereference.
- missing builtin model (segjmp, __builtin_object_size, builtin_va_list, sscanf)
- warning: non-void function does not return a value in all control paths [-Wreturn-type]
- incompatib

[2021-12-22 08:55] lucasccordeiro commented on #574
@rafaelsamenezes: how could we find examples for each type of error?

For example, the spreadsheet says:

`Can't construct rvalue reference to array type during dereference` and then it says under `Other issues` on the same line `busybox-1.22.0/mkfifo-incomplete-1.i (plain crash)` .

Does it mean that `busybox-1.22.0/mkfifo-incomplete-1.i` is an example of a benchmark that crashes due to `Can't co

[2021-12-22 11:48] fbrausse opened #575 "Dereference error"
This code
[code]
 is wrongly attributed a
[code]
Replacing `[i].` with either `[0].` or `->` fixes the issue, as does making the bitfield width a multiple of 8.

[2021-12-22 12:18] lucasccordeiro commented on #575
@shmarovfedor: Can you please take a look at this issue? It seems to be related to the bitfield support.

[2021-12-22 13:04] shmarovfedor commented on #575
Yea it looks like the case of bitfields dereferenced using a dynamic offset (introduced by `[i]`) is not handled correctly in the `dereference` module. I will be working on it.

[2021-12-22 13:14] mikhailramalho commented on #574
They also should be pretty straightforward to reduce.

Also, I expect that stuff like:
* incompatible redeclaration of library function 'alloca'
* PARSING ERROR

to be benchmarks that are wrong, since these are frontend errors.

[2021-12-23 09:33] rafaelsamenezes commented on #574
Those that I didn't specify have too many cases to file individually.

At the "Unknown" column of the table I added comments about which problem was found

[2022-01-01 17:17] fbrausse commented on #557
c2goto patched (in order to also export the `__ESBMC_main` symbol) with
[code]
generates .goto files which can be read by `esmbc --binary`. However, due to c2goto serializing an empty goto-functions table (see below), esbmc fails on such inputs with
[code]

Regarding CBMC, there are a few differences:

ESBMC's serialization format consists of 4 parts:
1. header `GBF`
2. GOTO-serialization version

[2022-01-02 12:43] rafaelsamenezes commented on #557
Thanks for the report @fbrausse!

I don't think that the __ESBMC_main symbol is needed, as it can change based on the analysis type.

This will probably be the trick part.

[2022-01-02 13:02] fbrausse commented on #557
I agree. Is the CBMC commit known where ESBMC forked? That would make tracking these changes easier.

[2022-01-02 16:11] mikhailramalho commented on #557
On Sun, 2 Jan 2022, 10:02 Franz Brauße, ***@***.***> wrote:

I tried to track that once but when esbmc was forked, cbmc was using CVS
and Lucas only received a dump of the tree, with no history.

Also, the first four years of esbmc development was done by using the
zip-the-source-code-daily technique, so we have no history about that
either :/

—

[2022-01-03 14:57] fbrausse opened #578 "Integer types < 64 bit not truncated"
This test case
[code]
results in
[code]
while this one is correctly identified as `VERIFICATION FAILED`:
[code]

[2022-01-03 15:28] lucasccordeiro commented on #578
@fbrausse: did you try with `--no-simplify`?

[2022-01-03 15:33] fbrausse commented on #578
I did not, thanks for the hint! With `--no-simplify` there is no issue on these tests.

[2022-01-03 15:40] lucasccordeiro commented on #578
There seems to be a bug in our simplifier to simplify the bit-shift operation.

[2022-01-04 02:37] fbrausse commented on #183
The goals set out in [LLVM-libc](https://llvm.org/docs/Proposals/LLVMLibC.html) might make it another option, though I've never worked with it.

[2022-01-04 13:49] mikhailramalho commented on #183
That would be nice but we need to improve our c++ support first...

[2022-01-05 15:02] lucasccordeiro opened #580 "Develop a check for undefined behaviour"
This issue is to remind us to develop a new option in ESBMC (e.g., `--undef-behaviour-check`) to check for undefined behaviour. In particular, this check would add an `assert(const >= 0)` or `assert(const <= type-bit-width)` statement for shift operations. It should be something similar to the `--overflow-check` (available in the `goto_check.cpp` file).

[2022-01-05 15:59] mikhailramalho commented on #580
Also, `--undef-behaviour-check` would imply `--overflow-check` for signed integers.

[2022-01-05 16:13] mikhailramalho commented on #580
CBMC already have a check shifts greater than the bit-width: https://github.com/diffblue/cbmc/blob/7b40362f8bca68bbe1c0c03ca502fd9925df898a/src/analyses/goto_check_c.cpp#L405

[2022-01-05 16:19] fbrausse commented on #580
In #579 the test case https://github.com/esbmc/esbmc/blob/7a3c12f8354c5c7d853531334b65664282b1adc4/regression/cbmc/01_cbmc_BV_Arithmetic4/main.c was identified as exhibiting UB. The new check should confirm that.

[2022-01-05 19:35] #578 closed, assigned to nobody

[2022-01-08 22:29] lucasccordeiro commented on #530
This PR https://github.com/esbmc/esbmc/pull/582 should close this issue.

[2022-01-09 07:06] lucasccordeiro opened #583 "[Concurrency] Spurious counterexample"
This is a simplified example of the cases where ESBMC provides incorrect results when verifying multi-threaded programs.

For this type of example, CBMC fails with the message `pointer handling for concurrency is unsound`.

So, we should investigate this issue further once we merge the PR https://github.com/esbmc/esbmc/pull/582/.

[code]

[2022-01-09 19:55] lucasccordeiro opened #584 "Support for variadic functions"
ESBMC does not seem to support variadic functions. It crashes to verify a simple variadic function to sum `n` numbers:

[code]

[2022-01-10 07:41] fbrausse commented on #584
Try `--32`. For `--64` the va_list structure changed incompatibly.

[2022-01-10 11:09] lucasccordeiro opened #585 "[Symex] Dereference function call"
ESBMC does not find the assertion violation in this example:

[code]

See ` regression/esbmc/function_deref_2/main.c`.

[2022-01-10 11:20] lucasccordeiro opened #586 "[Concurrency] Segmentation fault"
ESBMC crashes in this example:

[code]

[2022-01-10 16:23] lucasccordeiro commented on #586
This is the original C program:

[code]

[2022-01-10 20:00] fbrausse commented on #586
Both seem to be fixed in #581. Any particular flags you've been using?

[2022-01-10 20:07] lucasccordeiro commented on #586
This is excellent news!

[2022-01-10 20:07] lucasccordeiro commented on #586
I have just called ESBMC as `esbmc main.c`.

[2022-01-11 09:57] fbrausse opened #588 "Segmentation fault for sizeof() on a non-deterministically sized array"
[code]
segfaults during typecheck because `migrate_namespace_lookup` is null in https://github.com/esbmc/esbmc/blob/420e8b08cab652f5cf1cfe33077d615b878a7c5d/src/util/migrate.cpp#L449

[2022-01-11 14:14] mikhailramalho commented on #588
Yeah, this is causing trouble for a while now.

The only way to kill it is to port the frontend to irep2.

Em ter., 11 de jan. de 2022 às 06:57, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-01-11 14:41] shmarovfedor opened #589 "Dereference errors in arrays of structs with bit-fields"
I came across this issue recently:
[code]
ESBMC returns `VERIFICATION FAILED` which should not be the case. However, when the size of each struct member is a multiple of 8 bits, the problem goes away.

[2022-01-11 15:49] #451 closed, assigned to mikhailramalho

[2022-01-11 17:21] fbrausse commented on #530
It did.

[2022-01-11 17:21] #530 closed, assigned to rafaelsamenezes

[2022-01-11 17:28] lucasccordeiro commented on #530
Thanks, @fbrausse  ;-)

[2022-01-11 17:35] fbrausse commented on #574
I've started looking into a few of these in fbrausse/esbmc#2. Some of the driver crashes are fixed by https://github.com/fbrausse/esbmc/commit/37931bdc810f8f615fac50ae7884313633ed0bdc: mix between data and code dereferences leading to wrongly typed `ite`.

[2022-01-11 20:57] fbrausse commented on #589
I believe this is related to item 2. in https://github.com/esbmc/esbmc/pull/590#issuecomment-1010309733: pointers to structs seem to be interpreted as pointers to the struct's first member.

[2022-01-12 10:33] fbrausse opened #591 "Error on writes to compound literals"
ESBMC does not fully support compound literals, e.g. it crashes on these constructs:
- `(int){0} = 42` leads to `assignment to constant_int not handled` and abort()
- `int z; memcpy(&(int){0}, &z, sizeof(z));` leads to
[code]

[2022-01-13 15:20] fbrausse commented on #513
The Z3 frontend has a special implementation `get_fpbv` while the other solvers seem to rely on the default `fp_convt`. The latter constructs a floating-point number by obtaining an integer from the bitstring by treating it as "signed" (that is, two's complement). I believe it should not, i.e., replace `true` by `false` in https://github.com/esbmc/esbmc/blob/493f459f1089317da78d81b81b95b01541f4aa5

[2022-01-13 15:28] emanino commented on #513
Hi Franz, thanks for looking into this.

In the meantime, I have run ESBMC on more complex floating-point problems (neural networks). While I cannot be 100% sure (testing is on the way), it seems that the reported counterexample contains a mixture of meaningful and meaningless values. FYI, I am mainly using Yices as it is the fastest solver for neural networks that we found.

[2022-01-13 15:41] lucasccordeiro commented on #513
Many thanks, @fbrausse.

[2022-01-13 19:38] fbrausse commented on #513
Is it the case that the non-negative floats in counter-examples are meaningful?

[2022-01-13 22:26] emanino commented on #513
At the moment I cannot 100% confirm this (I have to improve my debugging infrastructure). For the subset of floating point variables that I can check, this is true. That is, values that should be negatives are reported incorrectly as number close to zero (in the order of 1e-38 or 1e-39). However, I might be able to give a more complete answer in the next few days.

[2022-01-14 01:00] fbrausse commented on #513
Good, that is consistent with the patch, those wrong output representations of negative floats in counter-examples should be fixed (unless I missed a spot, ~still looking~). Many thanks @emanino and @mikhailramalho for your detailed reports, it did help in tracking this down!

Edit: done looking, I think that's all.

[2022-01-14 09:33] #513 closed, assigned to mikhailramalho, fbrausse

[2022-01-16 12:25] fbrausse opened #595 "Errors combining Z3/Yices with --(array|tuple-*)-flattener"
The following combinations of flags lead to crashes (e.g. on `regression/esbmc-unix/03_boundedBuffer/`):
[code]
I've not tested other solvers, yet.

- Reason: unlike other backends, the ones for Z3 and Yices both implement the `tuple_iface` and rely on it not being overridden by the flags in the title.

- Previous attempt: The patch [0001-smt-fix-some-combinations-of-array-tuple-flatteners-.txt](h

[2022-01-16 14:31] fbrausse commented on #586
Not anymore. :(

[2022-01-16 14:36] lucasccordeiro commented on #586
why not? :-) Is there some particular commit that you removed?

[2022-01-16 14:38] fbrausse commented on #586
I get `VERIFICATION SUCCESSFUL` with this patch (which is basically the state when I made my comment, before merging #582):
[code]
and on the current (unpatched) master there is an assertion-failure (not a segfault anymore, though):
[code]

[2022-01-16 14:51] lucasccordeiro commented on #486
Closed via https://github.com/esbmc/esbmc/pull/590/.

[2022-01-16 14:51] #486 closed, assigned to shmarovfedor

[2022-01-16 14:55] lucasccordeiro commented on #458
Our k-induction proof rule does not handle yet this program correctly.

[2022-01-16 14:57] lucasccordeiro commented on #448
@shmarovfedor: Should this issue be fixed by https://github.com/esbmc/esbmc/pull/590?

[2022-01-16 15:03] lucasccordeiro commented on #357
The current master version (https://github.com/esbmc/esbmc/commit/abcfdf89dddd4ed2ba40c2dee4a410f4fdce0e8d) produces another error:

[code]

[2022-01-16 15:12] lucasccordeiro commented on #134
The implementation of our function `__memset_impl` seems to lead to error messages like this one:

[code]

[2022-01-16 15:13] lucasccordeiro commented on #28
@rafaelsamenezes: What is the current status of the flexible array implementation?

[2022-01-16 15:24] lucasccordeiro commented on #54
Closed via https://github.com/esbmc/esbmc/commit/65764c38a99744dd71994f409fea426cd1b56204.

[2022-01-16 15:24] #54 closed, assigned to mikhailramalho, jmorse

[2022-01-16 15:26] lucasccordeiro commented on #24
This issue might be of interest to ScorCH (@fbrausse and @shmarovfedor).

[2022-01-16 15:36] lucasccordeiro commented on #57
This is an old issue. I have implemented this approach in our symex engine as follows:

https://github.com/esbmc/esbmc/blob/master/src/goto-symex/symex_main.cpp#L92
https://github.com/esbmc/esbmc/blob/master/src/goto-symex/symex_main.cpp#L28

[2022-01-16 15:36] #57 closed, assigned to jmorse

[2022-01-16 15:39] lucasccordeiro commented on #83
@fbrausse: You might get interested in this issue.

[2022-01-16 15:42] lucasccordeiro commented on #61
@kunjsong01: you might get interested in this issue:

Our C++ clang frontend fails with this error message:

[code]

[2022-01-16 15:43] lucasccordeiro commented on #87
@fbrausse: could you please check if one of your PRs already solves this issue?

[2022-01-16 15:50] lucasccordeiro commented on #204
@fbrausse: This issue might be interest to you :-)

[2022-01-16 23:35] kunjsong01 commented on #61
@lucasccordeiro  Thanks very much for the information.

The above error refers to AST node to symbol conversion failure. I managed to run a try-catch example ch13_1 from `regression/esbmc-cpp/try_catch` to check whether we still have the same failure.

The result is that ESBMC failed with a different error signature. The C++ clang frontend of latest ESBMC master (ea8da5e) failed in the parsing pha

[2022-01-17 10:01] shmarovfedor commented on #448
@lucasccordeiro, I don't think so. I'm still getting the same error message as @rafaelsamenezes :
[code]
I will look into this issue.

[2022-01-17 15:36] lucasccordeiro commented on #548
ESBMC does not understand this assignment:

[code]

If we initialize the mutex as

[code]

ESBMC can find the property violation. So, we have to teach ESBMC the meaning of this assignment:

[code]

[2022-01-17 15:52] lucasccordeiro opened #598 "[Concurrency] Fix partial-order reduction"
Our partial order reduction is buggy since it removes valid transitions. In the last two or three editions of SV-COMP, we started disabling it. We should investigate why valid transitions are removed. This PR https://github.com/esbmc/esbmc/pull/596/ gives an example of a regression test that the POR option removes valid transitions.

[2022-01-17 17:45] #152 closed, assigned to jmorse

[2022-01-17 17:46] lucasccordeiro commented on #152
Closed via https://github.com/esbmc/esbmc/pull/596.

[2022-01-17 22:11] iphydf commented on #565
This is the ubsan stack trace, maybe that helps:

[code]

[2022-01-18 14:44] lucasccordeiro opened #600 "[Concurrency] We should revise our internal pthreadtypes.hs"
We should discuss further how to deal with our internal pthreadtypes.hs since it does not match the current system definition.

[2022-01-18 21:14] lucasccordeiro commented on #548
Closed via https://github.com/esbmc/esbmc/pull/599.

[2022-01-18 21:14] #548 closed, assigned to rafaelsamenezes

[2022-01-20 09:54] lucasccordeiro commented on #583
Closed via https://github.com/esbmc/esbmc/pull/601.

[2022-01-20 09:54] #583 closed, assigned to nobody

[2022-01-20 10:00] lucasccordeiro commented on #35
This issue was fixed quite some time ago. I'll close it via

- https://github.com/esbmc/esbmc/blob/master/regression/esbmc-unix2/01_pthread48/main.c
- https://github.com/esbmc/esbmc/blob/master/regression/esbmc-unix2/01_pthread52/main.c
- https://github.com/esbmc/esbmc/blob/master/regression/esbmc-unix2/01_pthread53/main.c
- https://github.com/esbmc/esbmc/blob/master/regression/esbmc-unix2/01_pthr

[2022-01-20 10:00] #35 closed, assigned to feliperodri

[2022-01-20 10:37] fbrausse commented on #557
This is the differences in the GOTO instructions known to CBMC vs. ESBMC:
[code]
Obviously instruction 12 ~seems unchanged except for the name, needs confirmation~ _edit:_ has changed - can we assign it a new value? Other questions before we can resolve the differences between symbol- and goto-functions-tables:
- `CATCH` seems to do more in CBMC than in ESBMC.
- how exactly are the `THROW_DECL*` u

[2022-01-20 10:41] lucasccordeiro commented on #557
@fbrausse: This paper describes what we do with the `CATCH` and `THROW_DECL*` GOTO instructions:

https://onlinelibrary.wiley.com/doi/epdf/10.1002/stvr.1793

[2022-01-20 10:42] lucasccordeiro commented on #557
CBMC's concurrency support is an entirely symbolic encoding of a concurrent program in one SAT formulae, while ESBMC explores each interleaving individually.

[2022-01-20 10:43] lucasccordeiro commented on #557
As far as know, no.

[2022-01-20 10:48] fbrausse commented on #557
I meant in terms of representation in the GOTO language.

[2022-01-20 10:59] lucasccordeiro commented on #557
We use intrinsic functions that replace the `START_THREAD` and `END_THREAD` of CBMC. For example:

https://github.com/esbmc/esbmc/blob/master/src/goto-symex/symex_main.cpp#L416
https://github.com/esbmc/esbmc/blob/master/src/c2goto/library/pthread_lib.c#L201
https://github.com/esbmc/esbmc/blob/master/src/c2goto/library/pthread_lib.c#L211
https://github.com/esbmc/esbmc/blob/master/src/c2goto/library

[2022-01-20 13:07] fbrausse commented on #557
Many thanks @lucasccordeiro!

From Lucas' explanations it seems the languages have diverged quite substantially. It may be easier and less fragile to treat CBMC's as a new language and translate it to ESBMC rather than merging both of them.

[2022-01-20 17:27] mikhailramalho commented on #557
Btw, we can probably get rid of the throw_decl instructions and model exception declarations to the function frame!

I don't think so but that shouldn't be hard to implement. I also remember label declarations being disabled at some point.

[2022-01-20 18:02] fbrausse opened #604 "Semantics of no-body functions"
Consider this example:
[code]
ESBMC detects
[code]
while CBMC (even with the `--havoc-undefined-functions` flag) says `VERIFICATION SUCCESSFUL`.

It seems semantic interpretation differs. Why? Am I using the tools wrongly; are there flags to bring them into alignment?

[2022-01-20 20:08] lucasccordeiro opened #605 "[Concurrency] Experimental results"
I will run some experiments with different context-bounds and report the results here to keep the history.

* **Context-bound 2 and --no-por:** the current master (https://github.com/esbmc/esbmc/commit/0e707f7b6b53956ee3c95525d9c93ba69108cbe3) produced the following results with 6GB:

[code]
* **Context-bound 2:** the current master (https://github.com/esbmc/esbmc/commit/0e707f7b6b53956ee3c95525d9

[2022-01-24 21:37] fbrausse commented on #134
With #606 I'm getting
[code]
That's a step forward, I believe.

[2022-01-24 21:39] lucasccordeiro commented on #134
Excellent, @fbrausse ;-)

We're looking forward to integrating this patch into the master soon ;-)

[2022-01-24 21:40] lucasccordeiro commented on #134
@fbrausse: Have you added this C program as a regression test to your PR?

[2022-01-24 21:43] fbrausse commented on #134
@lucasccordeiro there are still fixes to be done for this issue, it should be VERIFICATION SUCCESSFUL, shouldn't it? At least the rvalue stuff is out of the way and now it seems to be the same as #300.

[2022-01-24 21:47] lucasccordeiro commented on #134
@fbrausse: You can add this test case as a `KNOWNBUG` :-)

[2022-01-24 23:45] lucasccordeiro commented on #605
* **Context-bound 2, --no-por, --timelimit 10s:** the current master (https://github.com/esbmc/esbmc/commit/251c80f570c9433242f74232a047b6a5bc24055b) produced the following results using 6GB:
[code]

* **Context-bound 5, --unwind 8, --no-unwinding-assertions:** the current master (https://github.com/esbmc/esbmc/commit/251c80f570c9433242f74232a047b6a5bc24055b) produced the following results using 1

[2022-01-25 00:04] lucasccordeiro opened #608 "[concurrency] sv-benchmarks-main/c/weaver/chl-simpl-str-symm.wvr.c"
In SV-COMP 2022, this benchmark is classified as correct, but ESBMC gives `Verification Failed`.

[code]

[2022-01-25 09:10] fbrausse commented on #562
`VERIFICATION SUCCESSFUL` with `--fixedbv`, fails with `--floatbv`:
[code]

[2022-01-25 09:14] lucasccordeiro commented on #562
That's an interesting test case.

We know that equality between FP numbers is forbidden :-) However, in this example, the guard `b==0` always evaluates to true; `f` and `g` get the integer variable. So, I would assume that in this case, the assertion should hold.

[2022-01-25 09:23] fbrausse commented on #562
Stolen from `regression/llvm/ternary` :)

I also think it should. The comparison is on floats, so the same kind of casting should happen to `g` as to `x` in both conditionals. Reduced test with the same behaviour:
[code]

[2022-01-25 09:31] fbrausse commented on #562
It gets more strange with comparison on `int`:
[code]
`--floatbv` ~somehow messes up the sign and~ (*edit:* sorry, counter-example is correct on x86, not on aarch64) says:
[code]
and `--fixedbv` finds the same verdict but with an obviously wrong counter-example:
[code]

[2022-01-25 14:26] mikhailramalho commented on #562
Do we also give the wrong result with solvers that support FP theory
natively, i.e., z3/cvc4?

Our model FP model might be wrong somehow.

Em ter., 25 de jan. de 2022 às 05:32, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-01-25 15:57] fbrausse commented on #562
`--floatbv --cvc` gives me:
[code]
Using `--fixedbv` (with either cvc or z3) results in
[code]
while the `--z3 --floatbv` counter-example is valid (also on aarch64):
[code]

[2022-01-25 17:14] mikhailramalho commented on #562
You didn't build cvc4 with symfpu; it is needed to enable FP theory in cvc4. I think there is a script to download it in `contrib/`.

Good, so that means that our FP model is outdated. It should be an easy fix, just look at z3's git history (`gitk src/ast/fpa*`) and check the diff from our models. I think the last fix I've backported was d1d49ef3a974ea9c; there are 59 new commits since then.

Also

[2022-01-26 09:33] lucasccordeiro commented on #357
@fbrausse: The current version of the master branch (https://github.com/esbmc/esbmc/commit/b90e2f2840dc516c964c1ad972f860a1428fbeaf) does not handle this example yet.

[2022-01-26 09:37] lucasccordeiro commented on #300
@fbrausse: the same here.

[2022-01-26 14:40] #520 closed, assigned to rafaelsamenezes

[2022-01-26 14:47] fbrausse commented on #204
Doesn't this approach assume that expressions are immutable? What are downsides to having them immutable?

[2022-01-26 15:10] mikhailramalho commented on #204
yeah, irep2 was designed to be immutable: for instance, stuff like simplification always generates new objects. We do have some things that are lazily instantiated tho, like the hash/crc.

I think the biggest disadvantage is the increased memory usage. We had some strategies in place to try to reduce that (like the type pools to return types that were already generated), but because of the migrate

[2022-01-26 15:41] lucasccordeiro opened #610 "Update building instructions for the old C++ frontend"

[2022-01-26 15:42] fbrausse commented on #204
Many thanks! I've tried to make `constant_struct2t` immutable. For efficiency reasons it would be good for its constructor to take a `std::vector<expr2tc> &&members` instead of the const reference it takes now. For that I needed to make the `something2tc(Args...)` constructor truly forwarding (by `(Args &&...)` and `std::forward`), but that breaks in lots of places all over. Maybe we should first

[2022-01-26 16:39] lucasccordeiro commented on #610
Closed via https://github.com/esbmc/esbmc/pull/611.

[2022-01-26 16:39] #610 closed, assigned to kunjsong01

[2022-01-27 12:27] rafaelsamenezes commented on #604
I am not sure I understood the question. In summary, we consider a function without a body as nondeterministic. In your example:

1. You declare a function that returns a function pointer.
2. You initialize a pointer calling it. Since the `fun` function is nondet, it will generate an invalid object.
3. Dereferencing an invalid-object as a function will cause another nondet behaviour.

[2022-01-27 15:19] fbrausse opened #613 "Wrong verdict for post-decrement for pointer to struct containing a union"
ESBMC wrongly says `VERIFICATION SUCCESSFUL` for this modification of `regression/esbmc/github_159_postdecrement_fail`:
[code]

[2022-01-27 15:40] fbrausse commented on #134
With fresh eyes: no, it shouldn't. The array-bounds are indeed overrun by
[code]
Everything is correct, sorry for the noise. Will add this test case in another PR.

[2022-01-27 15:40] #134 closed, assigned to nobody

[2022-01-28 20:46] lucasccordeiro commented on #608
Closed via https://github.com/esbmc/esbmc/pull/612.

[2022-01-28 20:46] #608 closed, assigned to nobody

[2022-01-29 20:26] lucasccordeiro commented on #605
* **--incremental-bmc --no-por --smt-during-symex --smt-symex-guard --smt-thread-guard --smt-symex-assert --z3 --timeout 30s:** the current master (https://github.com/esbmc/esbmc/commit/6d7ba105174dda1b792d79b1fb0fcb366b6720ea) produced the following results with 6GB:

[code]

* **--incremental-bmc --no-por --smt-during-symex --smt-symex-guard --smt-thread-guard --smt-symex-assert --z3 --timeout 3

[2022-01-30 00:38] fbrausse commented on #604
The question is about the different verdicts given by ESBMC and CBMC for the example and whether there are any flags to bring them to the same semantics - both ways: `cbmc --pointer-check` results in a negative verdict (same as ESBMC), but there does not seem to be a way to make ESBMC accept the code - which looks dubious, given that ESBMC has no way of proving an actual bug there: `INVALID2` cann

[2022-01-30 00:51] fbrausse commented on #604
In light of the UB checker missing, it may even be argued that by standard C there is no way to construct a function pointer pointing anything else than a function (symbol) defined in the final program: casting `void *` to an fptr or vice versa is UB. The only way to construct an fptr is by referencing an existing function. ESBMC here does not see the "final" program and thus cannot assume that `f

[2022-01-30 15:28] fbrausse commented on #580
#615 makes `regression/esbmc/github_159_postdecrement_fail` a KNOWNBUG: https://github.com/esbmc/esbmc/blob/6d7ba105174dda1b792d79b1fb0fcb366b6720ea/regression/esbmc/github_159_postdecrement_fail/main.c#L8-L12 ESBMC did produce a correct negative verdict before, but for the wrong reason: The expression `b--` moves `b` to point before the object `Q`, which is UB (in contrast to pointing to one elem

[2022-01-30 16:53] fbrausse commented on #87
What exactly is the issue here? I don't understand what `''` characters in an SMT formula have to do with negative values on printing BVs.

[2022-01-30 17:18] lucasccordeiro commented on #87
@jmorse created this issue, but I don't think he reads our messages on GitHub anymore :-)

I've his WhatsApp number. Let us wait a couple of days; if he doesn't reply, I can send a message to his WhatsApp :-)

[2022-01-31 14:09] fbrausse opened #618 "Transform bit-casts from clang faithfully"
@mikhailramalho [wrote](https://github.com/esbmc/esbmc/pull/615#pullrequestreview-867829020):

Indeed, #615 did introduce a bunch of bit-casts in the SMT layer in order to model unions as BVs. The byte-extraction/-stitching together in the dereference module also does.

[2022-01-31 14:12] mikhailramalho commented on #604
I think the point here is that `INVALID2` can be anything, so esbmc checks both branches of the ternary operator. Maybe a better name would be `UNKNOWN`?

I don't remember the details, but I thought invalid pointers were only constructed when there is (potentially) bad dereference.

[2022-02-01 00:25] fbrausse commented on #604
I agree that `INVALID2` is the main point of contention here. But not just the naming: Appearently ESBMC assumes `fun()` to return a pointer to something that actually can be called, but then assumes the return value can be anything. To me this looks  a bit arbitrary in the sense that the assumption that `INVALID2` can actually be executed is in contradiction with the assumption that whatever it r

[2022-02-02 13:50] lucasccordeiro opened #620 "[Concurrency] Is this benchmark safe?"
I think this benchmark is incorrectly labelled in SV-COMP.

SV-COMP says that this benchmark is safe, but I think it is unsafe given the description of `pthread_cond_wait`:

[code]
source: http://www.qnx.com/developers/docs/6.5.0/index.jsp?topic=%2Fcom.qnx.doc.neutrino_lib_ref%2Fp%2Fpthread_cond_wait.html

[code]

[2022-02-02 13:56] lucasccordeiro commented on #620
Counterexample produced by ESBMC:

[code]

[2022-02-02 14:28] fbrausse commented on #620
I agree, this is exactly what `pthread_cond_wait()` does: releasing the mutex. It is not safe and remains unsafe also when
- `f2` does not acquire the mutex at all (no lock required), and/or
- `f2` does not signal (spurious wakeups).

[2022-02-03 15:58] lucasccordeiro opened #621 "[Concurrency] goto merge in execution_state"
We need to revise the code in the `execution_state` module, which merges the goto statements.

According to this PR (https://github.com/esbmc/esbmc/pull/617), if we stop the verification process when we need to merge the goto statements via the option `--no-goto-merge`, we get rid of the incorrect cases in SV-COMP.

[2022-02-06 15:14] fbrausse commented on #67
Before #602 with the clang-cpp-frontend there was this error:
[code]
Now it is converted just fine since `/usr/include/pthread.h` is not included anymore - seems to run forever though (I stopped after 100k interleavings). The old c and cpp frontends will probably need a similar treatment.

[2022-02-06 15:18] fbrausse commented on #600
In #602 we decided to model our own pthread types and get rid of the unions originally from glibc. Our `bits/pthreadtypes.h` now is just a redirection to `<pthread.h>` for compatibility with other glibc headers we don't model, yet, and which do include it (same as `bits/thread-shared-types.h`).

[2022-02-06 15:24] lucasccordeiro commented on #605
The current version of the ESBMC master (https://github.com/esbmc/esbmc/commit/66dbfff29ca19a3948e5942c6a4a02f76a9b68f3) using the benchmarks from SV-COMP 2021:
[code]

The version of ESBMC that participated in SV-COMP 2021 using the SV-COMP 2021 benchmarks (https://sv-comp.sosy-lab.org/2021/results/results-verified/META_ConcurrencySafety.table.html#/):

[code]

[2022-02-06 15:26] fbrausse commented on #591
The clang-c-frontend only takes the initializer into account and does not care about the actual automatic storage attached to compound literals. Would the right approach be to allocate a new symbol for it?
https://github.com/esbmc/esbmc/blob/66dbfff29ca19a3948e5942c6a4a02f76a9b68f3/src/clang-c-frontend/clang_c_convert.cpp#L1444-L1449

[2022-02-06 15:33] fbrausse commented on #67
For reference, at the line in the above error message my system's `pthread.h` says:
[code]

[2022-02-07 23:12] fbrausse commented on #600
What else needs to be done here?

[2022-02-08 08:49] lucasccordeiro commented on #600
No. Thanks, @fbrausse.

Closed via https://github.com/esbmc/esbmc/pull/602.

[2022-02-08 08:49] #600 closed, assigned to nobody

[2022-02-08 10:43] fbrausse commented on #300
In `ntdrivers/kbfiltr.i.cil-2.c` the type of the RHS is changed during goto_symext::dereference()
[code]
from
[code]
to
[code]
Is dereference() supposed to do that?

[2022-02-08 10:53] mikhailramalho commented on #300
It looks like _CONNECT_DATA is being assigned through a void pointer, so I
guess ESBMC is dereferencing it to the wrong type (it should be
INTERNAL_I8042_HOOK_KEYBOARD?).

Em ter., 8 de fev. de 2022 às 06:43, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-02-08 12:02] mikhailramalho opened #626 "Improve simplification code"
Our simplification code has some design flaws that hurt performance:
1. It is performed top-down: we try to simplify the top expr, then the operands, then the top expr again (if the simplification of the operands succeded). To make things worse, we try to simplify the operands when first evaluating the top expr.
2. Reordering of arithmetic operations is done only for add2t, so we miss a lot of sim

[2022-02-08 17:10] fbrausse commented on #300
This thing
[code]
is where the (wrong?) dereference target for `connectData` comes from. Note that `event` is one of the function's parameters.

[2022-02-08 17:34] mikhailramalho commented on #300
BTW, you can use --symex-value-sets (maybe it's --show-symex-value-sets?)
to print the set of targets a pointer may point to, at each instruction.

On Tue, 8 Feb 2022, 13:10 Franz Brauße, ***@***.***> wrote:

[2022-02-08 19:05] Mohannad-Aldughaim opened #627 "Creating expressions in goto program"
Hi guys,

I am trying to insert assume statements into a goto program within ESBMC such as `assume( x >= 0 )`. I have been able to parse expressions and save variable names like (`c:test.c@35@F@main@x`) However, I am not sure how to create a symbol2t object or a number object other than one or zero. An example I have been working with:

[code]
May I ask you to guide me on how to create such object

[2022-02-09 00:29] fbrausse opened #629 "[Unions] Is this benchmark safe?"
The SV-COMP benchmark [c/float-benchs/inv_Newton-2](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/float-benchs/inv_Newton-2.c) got [the verdict](https://fbrausse.github.io/esbmc/svcomp/gh-615/diff-old-new/unreach-call/results.2022-02-01_21-15-40.diff.html#/table?filter=1(0*status*(category(in(wrong))))) `VERIFICATION SUCCESSFUL` in #615 (and "timeout" before that). In short, it concerns

[2022-02-09 08:42] lucasccordeiro commented on #629
@fbrausse: If the behavior is unspecified in C99 and up, we could take a look at GCC and LLVM to see how they handle this case. Does the output for GCC and LLVM match the verdict of SV-COMP (i.e., unsafe)?

[2022-02-09 08:53] fbrausse commented on #629
@lucasccordeiro For GCC/Clang's interpretation there are unsafe inputs (`0x17.ffffffffffffp+0` for instance, around 24).

[2022-02-09 09:32] lucasccordeiro commented on #629
My recommendation would be to follow GCC/Clang in this specific case.

what do you think?

[2022-02-09 10:00] fbrausse commented on #629
I guess for ESBMC to stick to GCC/Clang's behaviour is fine. Another option would be to make the remaining bits take non-deterministic value on each assignment (at least for C99 and later). This answers the first part - I'll add a patch to the unions PR to fix it.

What about the second: is SV-COMP's verdict correct? It's somehow hard to find concrete definitions how the benchmarks should be inter

[2022-02-09 10:27] rafaelsamenezes commented on #629
I think that the expected behaviour is C99 (although I had to use c89 to be able to compile those benchmarks). AFAIK, accessing any member of a union that wasn't the one initialized is UB (see example below). We should look into the standard to confirm though.

[code]

If it is UB, we should open a discussion at sv-benchmarks.

[2022-02-09 10:31] rafaelsamenezes commented on #627
I've a created a factory library to help me with test case generation on the caching pr: https://github.com/esbmc/esbmc/blob/caching/unit/cache/cache_test_utils.cpp

[2022-02-09 10:47] fbrausse commented on #629
Access to non-active union members is explicitely allowed in C (but not in C++), e.g. C99 6.5.2.3/3 footnote 82:

store a value in the object, the appropriate part of the object representation of the value is reinterpreted
as an object representation in the new type as described in 6.2.6 (a process sometimes called "type
punning"). This might be a trap representation.

The values of the remaining

[2022-02-09 13:42] mikhailramalho commented on #629
There was a discussion about it some years ago (in TACAS 2018 I think), we
should follow the standards in the following order: ISO, GNU, ANSI. If
something is undefined but is defined later on by some other standard, we
should follow it.

My suggestion is to make the upper bits nondet and don't follow any
expected behaviour defined by SV-COMP that might conflict with any
standard. More often than

[2022-02-09 14:12] fbrausse commented on #629
@rafaelsamenezes @mikhailramalho sorry, I'm confused: by "UB" do you mean undefined behaviour or unspecified behaviour? I'm used to the former abbreviation. Clearly the benchmarks should not have undefined one. Unspecified only means that the there is a set of possible behaviours and one of those will be invoked (could even be a different one each time), so the program has some meaning.

Interesti

[2022-02-09 14:15] mikhailramalho commented on #629
I meant nondet as in remaining bits are unspecified.

Em qua., 9 de fev. de 2022 às 10:13, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-02-11 20:28] fbrausse commented on #629
Please clarify:
- by "UB" do you refer to undefined behaviour or unspecified behaviour?
- does "GNU" mean "whatever gcc/clang are doing/have documented"?

[2022-02-11 21:09] mikhailramalho commented on #629
On Fri, 11 Feb 2022, 16:29 Franz Brauße, ***@***.***> wrote:

Only whatever gcc does/have documented.

For instance, these rules (iso, gnu, a si) don't allow stuff like _extInt
because is not defined anywhere in them, but clang supports it.

[2022-02-11 22:08] fbrausse commented on #629
Thanks for clarifying! So if we did want to leave the remaining bits on update nondet (in contrast to doing what gcc is for this unspecified behaviour), the current patch isn't the right fix. Am I right in assuming that we'd have to introduce a new symbol (at smt or an earlier level)? That might be tricky to do purely in smt_conv for each `with2t` update, as expressions are without sideeffects her

[2022-02-12 12:28] fbrausse opened #631 "[Concurrency] pthread types of operational model conflict with SV-COMP"
In https://github.com/esbmc/esbmc/pull/602#issuecomment-1030013156 the decision was made to move the operation model of pthreads to types provided by our own headers. It turns out that these types are in conflict with those in the preprocessed SV-COMP benchmarks, e.g.:
https://github.com/esbmc/esbmc/blob/630cdd67d5f4dce989db1d096bdb725b1a1c4a29/src/c2goto/headers/pthread.h#L40-L45 versus pre-proce

[2022-02-12 19:52] lucasccordeiro commented on #631
Unfortunately, not.

I believe this could be the way to go here. We could set our ESBMC wrapper the option `-D__ESBMC_SVCOMP_COMPAT`.

I believe this solution would lead to further issues later.

[2022-02-12 19:54] lucasccordeiro commented on #629
Yes, definitely.

[2022-02-12 20:39] fbrausse commented on #631
In that case, I would try to get the SV-COMP participation rules strengthened such that they explicitely specify the environment where the tools are being compiled and, more importantly, that it matches the preprocessing of all benchmarks in order for the c2goto libs being built against the system's <pthread.h>. We would then only have to make sure that `__ESBMC_SVCOMP_COMPAT` can use those defini

[2022-02-13 12:49] fbrausse opened #632 "Unitialized values in array_conv"
When building ESBMC with `-DESBMC_BUNDLE_LIBC=OFF` there are uninitialized values in array_conv when processing https://github.com/esbmc/esbmc/blob/7358c7cdf9e10a420149eb5e55dab2ebf85bba61/src/c2goto/library/pthread_lib.c#L41-L42 on (at least) regression/esbmc/fam_false_0:
[code]
There are no errors when bundling the c2goto-generated libs.

[2022-02-13 13:03] fbrausse commented on #632
All of them share:
[code]

[2022-02-13 14:16] lucasccordeiro commented on #632
@fbrausse: do we have a PR to fix this issue? :-)

[2022-02-13 16:33] fbrausse commented on #632
Not that I know of :) I am not familiar enough with the array-conv code at the moment and working around this issue by bundling CHERI-c2goto-libs.

[2022-02-14 13:59] mikhailramalho commented on #631
The only way is to send a PR to replace the pre-processed files with the
original ones. There were some discussions a few years ago to do exactly
that and some were already changed.

I'd prefer not to introduce another thing to maintain in ESBMC specifically
for SV-COMP, can we try to fix the benchmarks first?

--

Mikhail Ramalho.

[2022-02-14 14:04] mikhailramalho commented on #629
Em sex., 11 de fev. de 2022 às 18:08, Franz Brauße ***@***.***>
escreveu:

Yeah, it should be fairly simple to implement, have a look at
cvc_convt::mk_from_fp_to_bv for an example.

But before you implement it, do we all agree with my suggestion? TBH, I'm
not sure myself  :)

I'd prefer to follow ISO here, but since gcc/clang implement a different
behaviour, maybe we should follow them? I mean, if

[2022-02-15 11:01] fbrausse commented on #629
not sure myself  :)

For me, even the ISO perspective it is tricky. Consider
[code]
- setting `b.s = 0` ISO obviously allows affecting the upper bits (`l`, `i` and `str`)
- but is `b.str.s1 = 0` writing to "a member of an object of union type" according to ISO? I think yes. In ESBMC this would eventually be modelled as updating the entire `str` member and thus keeping the upper bits of `i` and `st

[2022-02-15 12:28] lucasccordeiro commented on #631
@fbrausse: Can I ask you whether you could submit a merge request for SV-COMP (https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks) to fix the benchamrk?

[2022-02-15 13:23] fbrausse commented on #631
@lucasccordeiro depends on which benchmark. I suspect all of the pthread-related ones would need to change - mostly there seems to already be a `.c` version (in addition to `.i`) in the repo. So is the suggestion to remove the `.i`?

[2022-02-15 13:48] fbrausse commented on #631
Appearently there have been discussions about this before; I found these:
- https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/issues/121 has been "resolved" by re-preprocessing 32-bit benchmarks on some Ubuntu 18.04
- https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/issues/122 has been closed with @dbeyer claiming

- https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/issues/12

[2022-02-15 14:32] mikhailramalho commented on #631
Yeah, this has been highly debated in the past.

We can open a PR fixing the benchmarks, i.e., changing the test definition
to use the original c files instead of the preprocessed one, and wait for
some feedback.

It will probably take a while tho, people only tend to work on the
benchmarks closer to the competition.

On Tue, 15 Feb 2022, 09:48 Franz Brauße, ***@***.***> wrote:

[2022-02-15 16:31] #552 closed, assigned to mikhailramalho

[2022-02-15 17:16] mikhailramalho commented on #629
@lucasccordeiro, @rafaelsamenezes, @shmarovfedor, @kunjsong01 any thoughts?

I'm leaning more in the direction of GNU and leaving the bits untouched. That's how it's implemented rn @fbrausse?

[2022-02-15 17:36] lucasccordeiro commented on #629
I agree with this approach.

[2022-02-15 17:43] lucasccordeiro commented on #631
I agree with @mikhailramalho.

@fbrausse: could you please submit a merge request to SV-COMP and fix our regression?

[2022-02-15 17:50] shmarovfedor commented on #629
Same here. I think we should take on a practical approach and follow the GNU standard.

[2022-02-15 17:56] fbrausse commented on #629
Yes, that's what is implemented in #615 now.

[2022-02-15 19:49] fbrausse commented on #632
Same happens with bundled libc:
[code]

[2022-02-16 09:15] fbrausse commented on #575
Fixed by #624.

[2022-02-16 09:15] #575 closed, assigned to shmarovfedor

[2022-02-16 09:16] fbrausse commented on #589
Fixed by #624.

[2022-02-16 09:16] #589 closed, assigned to shmarovfedor

[2022-02-16 10:12] fbrausse commented on #632
The uninitialized value is first used here: https://github.com/esbmc/esbmc/blob/f903275ee30350651772c15daefe3ea7c0636fe6/src/solvers/smt/array_conv.cpp#L417

[2022-02-16 11:05] shmarovfedor opened #634 "ESBMC intrinsic memset for structs with pointers"
ESBMC crashes with the following error:
[code]
 for this example:
[code]
This problem comes up when using `__ESBMC_memset` on structs with pointers (I tried both: typed and `void`), as it works fine with the regular `memset` implementation, or when I comment out line 8, or when I allocate memory for the struct pointer `big_struct` with `__builtin_alloca` instead of taking the address of the struct

[2022-02-16 12:28] shmarovfedor opened #635 "ESBMC intrinsic memset enhancement"
ESBMC uses intrinsic `memset` implementation (`__ESBMC_memset(ptr, val, size)`) to perform a much faster zero'ing of the memory by assigning a zero `expr2tc` directly to the memory addressed by the given pointer `ptr` instead of performing unrolling that is used in the default `memset` implementation. However, at the moment this only works when the allocation size and the size of the pointer type

[2022-02-16 12:52] mikhailramalho commented on #635
I wonder if we can simply the implementation by using concats + bitcasts.

On Wed, 16 Feb 2022, 08:29 Fedor Shmarov, ***@***.***> wrote:

[2022-02-16 14:08] fbrausse commented on #631
I've submitted the MR https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/merge_requests/1359 and fixed one of the two regression tests. For the other one I do not know how to find the un-preprocessed original source, see https://github.com/esbmc/esbmc/pull/619#issuecomment-1041369569.

[2022-02-16 14:16] mikhailramalho commented on #631
Can you replace the header definitions with includes and create a new .c
file?

Em qua., 16 de fev. de 2022 às 10:08, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-02-16 14:22] fbrausse commented on #631
file?

That would be plan B in case noone knows where the "esbmc-pt" benchmarks came from.

[2022-02-16 15:12] fbrausse commented on #204
I would add "unsigned array sizes" to the above list.

https://github.com/esbmc/esbmc/pull/619#issuecomment-1037063626 might be relevant:

[2022-02-17 10:13] fbrausse commented on #631
The file is now de-preprocessed and passes the regression test locally.

[2022-02-18 09:32] rafaelsamenezes opened #636 "Getting the size of a dynamic object"
Is there a way to reason about the size of a dynamic allocated object?

[code]

[2022-02-18 09:57] lucasccordeiro commented on #636
@rafaelsamenezes: Can I ask you to take a look at this commit https://github.com/esbmc/esbmc/commit/ef4b859a550948966b605e5581f64fccb4343c37?

In particular, the implementation of the method `goto_symext::intrinsic_assert_object_size`.

[2022-02-18 12:24] fbrausse opened #637 "recursive struct/union types"
[code]
aborts with
[code]
and
[code]
wrongly gives
[code]
Both are related to how recursive struct/union types are handled in the clang_c_frontend: By the time the `union U *u` field declaration is resolved already an empty `struct S` symbol is sitting in the context, which gets copied into the corresponding member of `union U`.

[2022-02-18 12:45] #357 closed, assigned to rafaelsamenezes

[2022-02-18 12:45] #613 closed, assigned to nobody

[2022-02-18 12:45] #629 closed, assigned to nobody

[2022-02-18 13:10] fbrausse commented on #632
Reminder: when this is fixed, restore regressions/disabled/cbmc/01_cbmc_Unbounded_Array4, cf. https://github.com/esbmc/esbmc/commit/c36bb7681fd91dc261e33b5063361cfd28946cc0.

[2022-02-18 13:23] fbrausse commented on #637
With #615 merged the second example now aborts at the same place as the first:
[code]

[2022-02-20 09:41] #636 closed, assigned to rafaelsamenezes

[2022-02-23 10:56] rafaelsamenezes commented on #429
We do not. I think the best approach is to instrument an assume(0) at its end. Right?

[2022-02-23 18:37] mikhailramalho commented on #429
Sounds reasonable.

I think we just need to check if noreturn implies calling the functions registered with atexit().

[2022-02-23 18:55] fbrausse commented on #429
abort() and exit() both can be annotated by noreturn.

[2022-02-24 08:44] rafaelsamenezes opened #639 "Memset over unions are not handled correctly"
The following program does not work properly when using esbmc while clang does not show any problem. Is this UB?

[code]

[2022-02-24 10:39] lucasccordeiro commented on #639
@fbrausse: Could you please help @rafaelsamenezes here?

[2022-02-24 12:25] rafaelsamenezes commented on #639
It seems that the issue is from the derefence, it always gets the first member (even if it is not the largest)

By changing dereference.cpp at line 993 to:

[code]

Solves the issue. I am not sure if its a good solution though

[2022-03-08 10:33] rafaelsamenezes opened #641 "Document intrinsic functions"
We need a list of every intrinsic function that we have and how to use it.

This would be useful for users and developers.

[2022-03-08 10:36] rafaelsamenezes opened #642 "Extract symbolic values from model"
In the following example

[code]

ESBMC would not give the value of "a" in the counterexample. We should be able to know that "a" affects the assertion by constructing back from the symbols at the assertion

[2022-03-08 10:44] lucasccordeiro commented on #641
I entirely support this issue.

[2022-03-08 12:22] mikhailramalho commented on #642
That's because the variable was never initialized, so the is no assignment
to reconstruct in the cex.

I think CBMC solves that by initializing all variables to zero, then to
nondet.

Also note that this program has undefined behaviour and, if we initialize
the variable with a nondet symbol, the undef check that we talked about
might not catch such cases,

Em ter., 8 de mar. de 2022 às 06:36, Rafa

[2022-03-14 16:48] rafaelsamenezes opened #645 "Assert with dynamic strings don't work"
Every assert that are using dynamic strings:

[code]
I think that we should:

1. Replace them with the default_msg.error
2. Make msg.error abort

Edit:

List of missing:

- [ ] https://github.com/esbmc/esbmc/blob/master/src/util/type_byte_size.cpp#L142
- [ ] https://github.com/esbmc/esbmc/blob/master/src/util/type_byte_size.cpp#L82
- [ ] https://github.com/esbmc/esbmc/blob/master/src/util/type_byt

[2022-03-15 14:24] will-leeson opened #646 "--smt-formula-only flag causes crash, --smt-formula-too doesn't print SMT"
When running with the --smt-formula-only flag, esbmc crashes. Using the ESBMC-Linux.sh install, it dumps the core. Building from master crashes silently (No core dump but $? returns 127).

Using the --smt-formula-too flag, esbmc finishes verification, but it doesn't print the SMT program.

I've replicated this on several C programs from sv-benchmarks with both the script install and building from

[2022-03-15 14:30] mikhailramalho commented on #646
The latter is an easy fix: there is an extra space in `options.cpp` when defining the flag:
[code]

[2022-03-15 14:45] will-leeson commented on #646
I'm not sure that fixes it. I removed the extra space and rebuilt. The SMT formula is still not printed

[2022-03-15 14:59] will-leeson commented on #646
It appears the issue is that I needed to specify the output file also. In the SV-Comp-22 version of ESBMC it prints to terminal if there isn't the output flag isn't specified. With the output flag `echo $?` still returns 127. Not sure if this is intended behavior, but it would be nice if --smt-formula-only and --smt-formula-too either dumped to stdout or required the output flag

[2022-03-15 17:20] rafaelsamenezes commented on #646
@will-leeson, just add `--verbosity 9`, it should solve it. The issue is that although we should be printing this as STATUS message, it is being printed as a DEBUG. The example below worked fine for me with `esbmc --smt-formula-only file.c --verbosity 9`

[code]

I wasn't able to replicate the crash though. Could you provide your input?

Edit: if your input is private, try reducing it: https://git

[2022-03-15 17:34] will-leeson commented on #646
Which smt solver is your install using by default? It seems to depend on the solver. It works for Z3 and mathsat, but boolector and bitwuzla seem to still fail. I was able to get it to print to file by editing dump_smt() in bitwuzla_conv.cpp (line 825). I changed line 827 from `FILE *f = msg.get_temp_file();` to  `FILE *f = fopen("myFile.smt2", "w");` I didn't look at boolector though.

`./esbmc -

[2022-03-16 10:51] rafaelsamenezes commented on #646
If available Boolector.

That's odd, It seems fine to me. Could you give me:

- The git hash you are running: `--git-hash` on ESBMC
- OS version and arch
- Boolector version/branch you are using
- cmake output

That may help me to replicate.

Edit: I had the same behaviour that you described if the flag `output` is used

[2022-03-16 13:31] will-leeson commented on #646
- Hash: b8b738f3f4cd0cd1fce1b437618d86429b78dab9
- OS and arch: Ubuntu 20.04 x86_64
- Boolector version/branch: 3.2.1 (I used the command in the BUILDING.md file)
- Cmake Output: Do you want the entire output or a specific portion? I don't see any errors besides a dev warning about target_make_policy

[2022-03-16 14:04] will-leeson commented on #646
I rebuilt the project from scratch. Cmake by default was using GCC-9 and I noticed there was some error being output. I rebuilt with the downloaded version of clang (Clang-11) using `export CC=$PWD/../../clang11/bin/clang` `export CXX=$PWD/../../clang11/bin/clang++` and now things appear to be working the same as you.

[2022-03-16 15:38] rafaelsamenezes opened #647 "New release"
So, we have lots of accumulated patches. Should we go for ESBMC v6.9?

Is there anything that we should wait for?

Changelist so far:
- https://github.com/esbmc/esbmc/pull/534
- https://github.com/esbmc/esbmc/pull/537
- https://github.com/esbmc/esbmc/pull/539
- https://github.com/esbmc/esbmc/pull/546
- https://github.com/esbmc/esbmc/pull/550
- https://github.com/esbmc/esbmc/pull/551
- https://gith

[2022-03-16 15:41] lucasccordeiro commented on #647
Definitely! We should release a new version soon.

[2022-03-16 15:47] mikhailramalho commented on #647
I agree, can you just fix the extra space in the --smt-formula-too flag
first?

Em qua., 16 de mar. de 2022 às 12:41, Lucas Cordeiro <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2022-03-16 18:19] fbrausse commented on #646
gcc-9 has had issues before, maybe we should error in the CMake phase? https://github.com/esbmc/esbmc/blob/82e95614d4ddd44de7f9d141d7a90d0461a27b56/scripts/cmake/Irep2Optimization.cmake#L5

[2022-03-16 18:26] will-leeson commented on #646
This was the message that triggered me to switch to clang. Unfortunately I didn't see it before. There still appears to be some bug with smt printing, so perhaps not all bad

[2022-03-17 11:02] #642 closed, assigned to nobody

[2022-03-18 09:44] #647 closed, assigned to nobody

[2022-03-18 12:09] rafaelsamenezes commented on #646
This happened during the old precompiled irep2. And if you see the message, the optimization will not run.

We still have to investigate what is the relation between gcc and the smt-formula flag.

[2022-03-21 12:03] rafaelsamenezes opened #656 "Create an option to not crash on models extraction"
When we don't support the model extraction for a specific type, we crash ESBMC.

[code]

Since this means that we found a bug, the violation itself can still be useful for the user. We should add an option `--non-supported-models-as-zero` which would replace this code with a `gen_zero`.

Let me know what you think

[2022-03-21 13:18] lucasccordeiro commented on #656
@rafaelsamenezes: I agree with this option:

[code]

Can you implement this option and check its impact over the SV-COMP benchmarks?

[2022-03-21 13:21] mikhailramalho commented on #656
Sounds good!

[2022-03-24 16:23] emanino opened #661 "ESBMC can't deal with assumes on three (or more) dimensional arrays"
Hi all,
I have the following issue (see code below). When I declare a three-dimensional non-deterministic array and put assumes on the values of its entries, ESBMC stops checking the validity of later asserts. As an example, the following code returns a successful verification result despite containing an `__ESBMC_assert(0, "");` instruction at the end.

[code]

Additional notes:
- the same code w

[2022-03-24 16:55] rafaelsamenezes commented on #661
Even with static values this seems to cause problems:

[code]

Also, can confirm that by removing one dimension, the issue does not happen anymore.

The verification coditions looks OK though:

[code]

This might be an issue in the smt convertion.

[2022-03-25 08:55] lucasccordeiro commented on #661
@emanino: Could you please check this issue with @rafaelsamenezes?

@fbrausse or @kunjsong01 could also help you solve this issue.

[2022-03-25 09:21] rafaelsamenezes commented on #661
Getting the size of the flattened array is being incorrectly computed.

In the example at hand, the array is of type:

[code]

The flattened size of it is being computed as:

[code]

Which is wrong, by manually replacing it with the correct number solved the issue.

[2022-03-28 16:17] #661 closed, assigned to rafaelsamenezes

[2022-03-29 14:24] rafaelsamenezes opened #664 "ESBMC does not use message system for verbose clang"
When esbmc on this branch is run with `--verbosity 7` (to enable debug output), we currently pass the flag `-v` to clang resulting in output to stderr, which should probably also go to the specified file. This could be achieved with `freopen()`.

_Originally posted by @fbrausse in https://github.com/esbmc/esbmc/issues/655#issuecomment-1080597384_

[2022-04-04 11:32] rafaelsamenezes opened #666 "Add an attribute to not cut a variable during slicing"
Tracing the counter example back is not always easy. Some users want to be able to use some intermediate variables to understand the flow better. One suggestion was to create an attribute to make our slicer ignore a variable. E.g.:

[code]

[2022-04-04 12:07] lucasccordeiro commented on #666
It seems a good idea!

[2022-04-04 13:41] mikhailramalho commented on #666
Indeed, it just might be a bit tricky to implement...

A couple of questions:
1. Are we disabling constant propagation for that variable? For instance,
do we expect to see stuff like in following in the cex?

a = 3
b = a + 4

or will it look like:

a = 3
b = 7

?

2. Does it taint other variables? Similar to before:

a = 3
b = a + 4
c = b + 7

or

a = 3
b = a + 4
c = 14

?

Em seg., 4 de abr. de 2

[2022-04-04 14:30] rafaelsamenezes commented on #666
Constant propagation should still work.

It is the best here.

I don't understand your example, but you mean that if another variable uses a "non-sliced" then it also shouldn't be sliced? If so, then I think it shouldn't taint, we could remove variables with indirect access (or we could make another attribute for tainting).

Btw, the intend output is for something as

[code]

To show the `foo` var

[2022-04-04 19:15] mikhailramalho commented on #666
Oh, I see, so we only care about assignments where the lhs is marked as
no_slice.

That should be simple to implement, I guess another attribute in symbolt
does the job with minimal effort.

Em seg., 4 de abr. de 2022 às 11:30, Rafael Sá Menezes <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2022-04-06 14:44] rafaelsamenezes opened #669 "ESBMC crashes during value set with union or struct dereference"
Runnig the program with: `esbmc main.i --function func1`

[code]
Results in:

[code]

[2022-04-07 10:35] fbrausse commented on #669
It also happens with `struct`s:
[code]
unless they are empty, because this special case is caught in https://github.com/esbmc/esbmc/blob/220ed5276c5e204d217551c98dda5d9d8e0173b5/src/goto-symex/symex_assign.cpp#L155-L162 which should probably be extended to unions.

[2022-04-07 12:31] fbrausse commented on #639
In the example I can see no UB. memset() usage is fine, only the casts `int` -> `unsigned char` -> `char` in `dst[i] = (unsigned char) byte;` are implementation-defined.
I believe your patch this is the best solution to this problem. It also works when artificially enlarging the union via `_Alignas`.
Since a union ultimately gets represented as a bit-vector of width of the largest member (`$pad` i

[2022-04-07 13:49] fbrausse commented on #477
I would recommend against (pure) JSON for a configuration file format since it does not support comments, which are important to document both, defaults and available alternative settings. Though there is no universal standard (as usual), INI-like files (sectioned list of `var = value` assignments with `#` comments extending to the end of the line) are pretty common.

[2022-04-08 08:37] rafaelsamenezes commented on #477
I agree with you, this is something that we should do with KISS in mind. The only downside is having to write a parser for it (I am not sure if there is a library for this).

How should it look like?

[code]

[2022-04-08 09:39] fbrausse commented on #477
Yeah, that looks great. I agree it shouldn't be too fancy, just intuitive. [inih](https://github.com/benhoyt/inih) for instance has a C++ wrapper that seems easy to use and claims the supported syntax to be largely compatible with Python's ConfigParser (including comments).

[2022-04-08 13:40] rafaelsamenezes commented on #477
Ow, didn't know that INI was a standard of sorts.

It seems that even Boost has a parser for it: https://www.boost.org/doc/libs/1_64_0/boost/property_tree/ini_parser.hpp

[2022-04-08 14:37] mikhailramalho commented on #477
I'm not a big fan of ini files, how about yaml?

[2022-04-11 08:49] fbrausse commented on #477
Of sorts, yeah. But a few different versions exist, which could be interpreted as ambiguity unless properly specified. Same as YAML. But INI is less complex.

Even better. However, I couldn't find a specification of the particular format they support. Is there one?

What's wrong with it for this purpose?

[2022-04-11 15:34] kunjsong01 opened #671 "ESBMC crashes when printing SSA for struct bitfield regression test"
### Test case:
`regression/esbmc/struct_bitfields_16`

### Error:
[code]

### Version:
ESBMC mainline commit https://github.com/esbmc/esbmc/commit/5cf849df6da6cb36e4353dc094390a28d506b316

[2022-04-11 15:40] lucasccordeiro commented on #671
@shmarovfedor: Can I ask you to take a look at this issue?

[2022-04-11 16:26] shmarovfedor commented on #671
@fbrausse , do you think it might be caused by the new way we represent unions now?

[2022-04-11 20:10] fbrausse commented on #671
@shmarovfedor most definitely. The `component_name` is empty, which names the union's field being initialized. This information was not available/required before with the arrays representation. Would still need to find out where this broken expression is being created.

[2022-04-11 20:12] fbrausse commented on #671
@kunjsong01 if it helps you to proceed with your other development, this patch would constitute a workaround to at least see the assigned values:
[code]

[2022-04-12 13:24] georgerennie opened #673 "Align _ExtInt correctly in structs"
Currently ESBMC does not seem to pad _ExtInt values within structs to align them. This means that fields can end up unaligned to byte boundaries, and thus cannot be correctly dereferenced. See the below example which results in a "Misaligned access to struct field" property violation:

[code]

From what I can find, _ExtInt seems to have limited specification of its ABI, but there are efforts to st

[2022-04-12 15:27] RekhaSigma opened #674 "Doubt on SAME-OBJECT violation during pointer comparison"
Hi,

  I am trying to understand the SAME-OBJECT violation flagged by ESBMC for the following code.
This is an abstract version of a real library function:
[code]

ESBMC gives the following result:
[code]

I am curious as to why the SAME-OBJECT violation is flagged on a pointer comparison.
When the comparison in line 6 is equality, the program goes through.

Any clarification is highly appreciated

[2022-04-12 16:01] fbrausse commented on #674
Hi Rekha,

I do currently not have the actual logic as implemented in ESBMC at hand, but according to the C standard, relational comparisons (`<`,`<=`,`>`,`>=`) between pointers to different objects are undefined. At the same time, equality/disequality (`==`,`!=`) of pointers to different objects is defined. See e.g. https://en.cppreference.com/w/c/language/operator_comparison for details. I can l

[2022-04-12 17:00] fbrausse commented on #674
What you can do however, is cast the pointers to an appropriate integer type, e.g.
[code]
Note though, that C declares existence of `intptr_t` "optional", i.e., some implementations may choose not to define it. At some point the MCS-51 port of [sdcc](http://sdcc.sourceforge.net/) used to not define it, but they added it later. In case it doesn't exist I guess you are out of luck, meaning there is

[2022-04-12 19:48] RekhaSigma commented on #674
Great Franz!
Yes. I checked the Standard.
Now it makes sense.

Thanks once again.

And yes, it works as 'expected' when the pointers are type casted.

[2022-04-12 19:48] #674 closed, assigned to nobody

[2022-04-13 13:08] mikhailramalho commented on #673
We have a file called padding.cpp that implements struct/union padding.

The rules there already implement the bitfields logic, as well as the logic
for attributes as packed and alignment, so it's probably a matter of
extending it for the new types.

Em ter., 12 de abr. de 2022 às 10:25, George Rennie <
***@***.***> escreveu:

--

Mikhail Ramalho.

[2022-04-14 08:35] lucasccordeiro commented on #673
[georgerennie](https://github.com/georgerennie): it would be super if you could give it a go. As pointed out by @mikhailramalho, you can extend our current implementation at https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/padding.cpp. Here, you can already find the method `pad_bit_field`, which handles the bit-field case reported in your issue. You can start with the `alignment` me

[2022-04-14 13:59] rafaelsamenezes opened #677 "Casting pointer through integer fails"
The following program:

[code]

Fails on the last assertion, even though ESBMC knows that they are pointing to the same place. There are also two strange behaviors:

1. If we remove the mask `& _4KB_MASK` then the assertion does not fail.
2. If we replace `TabPhy[i]` with `TabPhy[0],` then the assertion does not fail.

@fbrausse could you take a look into it?

[2022-04-14 17:01] fbrausse commented on #677
@rafaelsamenezes sure, I'll take a look.

When you remove the `& _4KB_MASK` expressions the only ones left are additions, right? Support for `+` and `-` in the value-set analysis I added some time ago, but not other expressions. I agree that support for bit-ops should be added around https://github.com/esbmc/esbmc/blob/ee09a075517a6643ec3867710b65ce3c45e2f190/src/pointer-analysis/value_set.cpp#L54

[2022-04-15 11:30] fbrausse commented on #664
Same goes for any diagnostics Clang issues when parsing the source code as well as the outputs of the `--parse-tree-*` options.

[2022-04-15 17:53] mikhailramalho commented on #677
Maybe duplicate of #92?

[2022-04-15 18:46] fbrausse commented on #677
Related indeed. The whole "is it a binary operation? Then just recurse on both operands" falls apart with pointers. I'll fix the patch in PR #679 and try to handle all those cases. I fear though, that we'll never get them all since I do not know what to do in case both operands are type-casted pointers. The canonical test case for that would be the doubly-linked list where each item just stores th

[2022-04-16 07:22] lucasccordeiro commented on #656
@rafaelsamenezes: did you have a chance to run this PR over the SV-COMP benchmarks?

[2022-04-16 08:21] fbrausse commented on #677
Maybe not. k-induction and incremental-bmc both can handle [xor-dlist.c](https://github.com/esbmc/esbmc/files/8499520/xor-dlist.c.txt) with #679 and the "recurse on both sides" approach for XOR, but fail when both pointers are connected by `+` in [plus-dlist.c](https://github.com/esbmc/esbmc/files/8499522/plus-dlist.c.txt). Not sure if it's this issue or an unrelated one.

[2022-04-24 22:26] kunjsong01 opened #687 "Missing case in smt_convt::convert_terminal to deal with expr2t::member_id"
When converting a terminal, there is no case in our SMT converter to deal with `expr2t::member_id`.

### Error message:
[code]

### Preliminary investigations:
[code]

### Info to Re-produce the Bug:
ESBMC mainline commit ee09a0755.

Test case:
[code]

Command lines used:
[code]

This bug was revealed by commit e4dca2c0d30d827, after we updated the SMT conversion flow to encode the original fp ter

[2022-04-25 07:16] lucasccordeiro commented on #687
@kunjsong01: I believe @fbrausse could help you with this issue.

[2022-04-25 10:29] kunjsong01 commented on #687
I've replaced the original test case with a much simpler one that is also capable of reproducing the bug.

### More investigations:
[code]
In the above SSA statement, ESBMC doesn't know how to encode struct member typecasting `(double)testObj.x` using real/int mode. Previously, our patch e4dca2c0d3 just fixeed the scalar variable typecasting encoding, e.g. `(double)x` where x is a float.

I reckon

[2022-04-25 10:30] fbrausse commented on #687
`convert_terminal` only handles leafs of the expression tree. I believe this fixes the issue:

[code]

With that patch, the given example will be fail when extracting the counter-example from the SMT model:
[code]
hinting at a problem in `smt_convt::get_by_ast()` for the `floatbv` case: it should take `int_encoding` into account (or maybe better yet, do the case distinction not based on the expr2t

[2022-04-26 08:10] kunjsong01 commented on #687
Closed via PR https://github.com/esbmc/esbmc/pull/689

[2022-04-26 08:10] #687 closed, assigned to fbrausse, kunjsong01

[2022-04-27 13:05] lucasccordeiro commented on #646
@will-leeson: @kunjsong01 has fixed some issues recently concerning the `--smt-formula-only`. Can I ask you to try using this flag with the master version?

[2022-04-27 15:37] #673 closed, assigned to mikhailramalho, fbrausse

[2022-04-29 19:46] Bo-Yuan-Huang opened #691 "ESBMC crashes with array of unions"
Example:

[code]

ESBMC output:

[code]

[2022-04-29 19:46] Bo-Yuan-Huang opened #692 "Value assignment fails when dereferencing struct with union"
Example:

[code]

ESBMC output:

[code]

[2022-04-29 19:53] lucasccordeiro commented on #691
@fbrausse: could you please take a look at this issue?

[2022-04-29 19:53] lucasccordeiro commented on #692
@fbrausse: could you please take a look at this issue?

[2022-05-05 08:19] rafaelsamenezes opened #695 "Pointer arithmetic without explicit casting fails"
ESBMC fails with the following program:

[code]

At the first `for` loop if we change `  *((UINT64*)(current_value + var)) = i;` to:
1.  ` *((UINT64*)(current_value + (char*)var)) = i;`. The program is verified correctly
1.  ` *((UINT64*)((char*)current_value + var)) = i;`. The program still fails

[2022-05-06 08:31] rafaelsamenezes commented on #87
@lucasccordeiro were you able to contact @jmorse?

[2022-05-06 08:44] rafaelsamenezes commented on #59
@mikhailramalho will https://github.com/esbmc/esbmc/pull/436 solve this?

[2022-05-06 08:54] fbrausse commented on #691
With current master I'm getting a segfault using CVC4, but not with Boolector, Z3 or Yices.

@Bo-Yuan-Huang Which version of ESBMC and what command line flags (if any) have you been using? *Edit*: never mind, I think I found the cause.

Sure, I'm on it. Looks like some bug in the cex extraction with CVC4.

[2022-05-06 09:21] fbrausse commented on #692
@Bo-Yuan-Huang I can't reproduce this output. Can you please provide which version of ESBMC you're using and the command-line flags (if any)?

I'm getting for this example (no matter which solver):
[code]

[2022-05-06 10:38] lucasccordeiro commented on #691
@fbrausse: can you please add the test case in this issue as a regression to your PR https://github.com/esbmc/esbmc/pull/697?

[2022-05-06 16:15] will-leeson commented on #646
I rebuilt the repo from scratch on master.
`esbmc --smt-formula-only --output=file.smt2 file.c` and `esbmc --smt-formula-only file.c` failed to produce SMT queries, either to STDOUT, STDERR or to a file.
`esbmc --verbosity 9 --smt-formula-only --output=file.smt2 file.c` produced an SMT query to STDOUT, but produced to file.smt2 file.

Is there something else I should be looking for?

[2022-05-06 17:03] kunjsong01 commented on #646
It appears that `--smt-formula-only/too` works for Z3, mathsat and CVC solvers, but still broken for boolector and bitwuzla.

[2022-05-06 17:18] will-leeson commented on #646
CVC seems to be at least partially broken on my build. By this I mean, it is not outputting full queries in SMTLib format. Also, I can only get Z3 to output to file

[2022-05-06 19:54] mikhailramalho commented on #59
When I created this issue I had the following transformation in mind (several sv-comp benchmarks used to initialize arrays):
[code]
it can be transformed into:
[code]
I guess we can use your new function, we just have to pattern match the for-loop.

[2022-05-07 11:41] fbrausse commented on #669
What is the expected verdict here? Technically, this is type-punning and thus undefined.

[2022-05-07 15:12] #691 closed, assigned to fbrausse

[2022-05-07 20:00] Bo-Yuan-Huang commented on #692
I was using the v6.8 release. Just tried with the latest master -- no problem with this example but another occurred. I will check the root cause and report if needed.

[2022-05-07 20:00] #692 closed, assigned to fbrausse

[2022-05-10 15:21] rafaelsamenezes opened #700 "Statistics option"
We should have the option to print some statistics during the run. Those statics could include:
- Number of simplifications
- Number of GOTO loops
- etc...

We could then use the [benchexec's custom column feature](https://github.com/sosy-lab/benchexec/blob/main/doc/table-generator.xml#L23) to be able to detect benchmarks with interesting characteristics.

[2022-05-12 08:31] rafaelsamenezes commented on #669
I would say:
- dereference error (if pointer checks are on)
- return a nondet value

[2022-05-12 09:46] fbrausse commented on #669
FYI the PR does not address the requested "return a nondet value".

[2022-05-14 03:25] Bo-Yuan-Huang opened #704 "Seg fault with union, array, struct, and loop"
Segmentation fault with the below example

[code]

Version: ESBMC version 6.9.0 64-bit x86_64 linux
(Current master `d206ccc8dfdb026d3ff115abb2f30fe11e156111` )

[2022-05-14 05:43] lucasccordeiro commented on #704
@fbrausse: could you please take a look at this issue?

[2022-05-14 12:17] fbrausse commented on #704
Thanks for stress-testing our dereference code! ;)

I've added a quick fix and will open a PR once the CI passes. To me it looks more and more like a kind of consolidation of the entire dereference code is required. There are duplications, with all their problems like fixes potentially only being applied to one instance and so on... At some point I may start reorganizing this.

[2022-05-16 13:49] rafaelsamenezes opened #706 "Print "alive" messages during Decision Procedure"
Some users are asking for ESBMC print a message during long decision procedures (e.g. 24h) so that they know that it is still working properly.

I think we can:

1. Create two options: one to enable this keep alive and another to set the interval
2. Add a thread that prints the message "Solver is still solving... Total Time: xxx". I think the best place is right [here](https://github.com/esbmc/esb

[2022-05-18 14:44] #704 closed, assigned to nobody

[2022-05-18 20:49] Bo-Yuan-Huang opened #709 "Crash due to unresolved dereference in cast to union"
Version: current master (`1f5b4ed3fbdb51a9280911f411b4766c4963a097`)

Command:
[code]
Input program:

[code]

Output:
[code]

Note: The `--compact-trace` is used specifically for this small example. There's another larger example that also causes this similar issue without using the compact trace option.

[2022-05-18 20:58] Bo-Yuan-Huang commented on #709
Sorry for keep throwing issues one after another, and thanks for the prompt responses on addressing the previous ones. We are adopting ESBMC to verify a massive codebase, and I won't know what comes next until I try with the fixes ...

[2022-05-19 09:07] fbrausse commented on #709
`--compact-trace` implies `--no-slice`, the latter of which alone already exhibits the same behaviour as described in this issue since the no-op `if` statement in that case is not sliced out. The error occurs in smt_convt::convert_ast() where there should not be any dereference expression anymore. This slightly modified example has the same issue without `--no-slice` or `--compact-trace`:

[code]

[2022-05-19 09:35] fbrausse commented on #709
It is actually unrelated to bitfields or unions and looks more like an issue with compound literals. Same behaviour:
[code]

[2022-05-19 10:06] lucasccordeiro commented on #709
@Bo-Yuan-Huang: you're more than welcome to open issues and interact with our team ;-) Are you verifying some open-source projects? We would appreciate hearing more about your experience using ESBMC.

[2022-05-19 10:09] lucasccordeiro commented on #591
@mikhailramalho: do you have any thoughts here?

[2022-05-19 10:10] lucasccordeiro commented on #709
Some time ago, @fbrausse created an issue about compound literals: https://github.com/esbmc/esbmc/issues/591

[2022-05-19 10:57] pmatos opened #710 "[Question] Analyzing zuo"
Zuo is a single-file C program that's a sort of make replacement for racket: https://github.com/racket/racket/blob/master/racket/src/zuo/zuo.c

I thought it would be an interest case study for esbmc for being pure C, short and single file. Still, I am finding some interesting behaviour on the ESBMC side so maybe you can help. I am running this on a Linux 64bit, 64Gb RAM, 16 cores.

I initially tri

[2022-05-19 12:30] shmarovfedor commented on #710
It seems like `argv` is not initialised properly by ESBMC which results in bounds violation. I tried creating and symbolising `argc` and `argv` manually, and the verification continued further. Here is an example how this can be done inside the `main` function:
[code]
Here I basically put assumptions that the number of cmd arguments is not greater than 1000 and each of them occupies up to 1000 byt

[2022-05-19 12:33] mikhailramalho commented on #591
Reduced testcase:
[code]

[2022-05-19 12:37] mikhailramalho commented on #591
I'm a bit confused about what's going on, CBMC doesn't seem to create an extra symbol here.

[2022-05-19 12:42] mikhailramalho commented on #591
The error is coming from the smt backend, as it doesn't understand dereferences.

I guess there are two possible solutions:
1. Teach the frontend to change the ast so the rest of esbmc understands it.
2. Look at why the pointer analysis/dereference code is not properly rewriting the expression.

[2022-05-19 14:06] fbrausse commented on #591
Because it is not parsed into a proper expression. A compound literal does have (automatic) storage within the surrounding block. As mentioned in https://github.com/esbmc/esbmc/issues/591#issuecomment-1030854767, it is converted to a `constant_(struct|union|int|double|...)2t`, which does not model storage, cannot be overwritten, etc.

That's why above I asked: Would the right approach be to alloca

[2022-05-19 14:09] #669 closed, assigned to nobody

[2022-05-19 14:29] maktheus commented on #706
@rafaelsamenezes  can u explain better what keep alive and another to set the interval means?

[2022-05-19 14:30] fbrausse commented on #591
CBMC wrongly reports a verification failure for
[code]
while ESBMC aborts with `assignment to constant_int not handled`.

[2022-05-19 14:34] pmatos commented on #710
Great, so I expect a patch to ESBMC is coming?

Thanks for the help here. I will keep exploring what I can do with  ESBMC here.

Do you understand why memory is literally gone with `--k-induction` ? (memory leak or expected usage?)

[2022-05-19 14:41] fbrausse commented on #710
There is a (seemingly) infinite loop allocating stuff in ... erh ... `goto_k_inductiont::convert_finite_loop`. This is the `dump()` output of its `loop` argument (warning: big): [loop.gz](https://github.com/esbmc/esbmc/files/8730310/loop.gz)

[2022-05-19 14:49] fbrausse commented on #709
@Bo-Yuan-Huang If you are in a position to modify the code, one option to work around this issue might be to replace all compound literals `(type){expression...}` as well as the compiler extension `(type)expression` for union types by first declaring and initializing a new variable `type new_name = {expression...}` and then using `new_name` in place of the compound literal.

[2022-05-19 20:59] Bo-Yuan-Huang commented on #709
Unfortunately, it's not an open-source project (yet) and I can only share the code patterns I distilled from the proprietary codebase. Would love to share my experiences and looking forward to any potential open-sourcing/collab in the future.

Due to the code size and the frequent usage of compound literals, manual code modification may not be a practical option. It'd be very helpful to know if th

[2022-05-20 08:38] lucasccordeiro commented on #710
I believe @mikhailramalho has tried to automate the initialization process of `argc` and `argv`. However, I'm unsure why this was not done yet.

@mikhailramalho: can you please tell us the main issues to fix the `argc` and `argv` initialization?

[2022-05-20 10:01] fbrausse commented on #709
After further investigation, this issue technically is about "[cast to union](https://gcc.gnu.org/onlinedocs/gcc/Cast-to-Union.html)" which is related to compound literals only in that atm. we handle both the [same](https://github.com/esbmc/esbmc/blob/1f5b4ed3fbdb51a9280911f411b4766c4963a097/src/clang-c-frontend/clang_c_convert.cpp#L1438) [way](https://github.com/esbmc/esbmc/blob/1f5b4ed3fbdb51a92

[2022-05-20 10:20] mikhailramalho commented on #710
Not sure why the argc and argv are not initialized there, they are supposed to always be initialized in https://github.com/esbmc/esbmc/blob/master/src/clang-c-frontend/clang_c_main.cpp#L125

[2022-05-20 12:44] pmatos commented on #710
Thanks for this.

Unfortunately after 10mins I get something like this:

[code]

That's with : `~/installs/ESBMC-6.9.0-Linux/bin/esbmc --memlimit 16g --little-endian --64 --incremental-bmc zuo.c`

I will run it again under gdb and then valgrind and try to pinpoint the problem. Using the esbmc release, might have to actually try and compile ESBMC with debug enabled to get useful results but will av

[2022-05-24 11:04] #656 closed, assigned to mikhailramalho, fbrausse, lucasccordeiro, shmarovfedor, kunjsong01

[2022-05-24 12:25] fbrausse commented on #709
I believe https://github.com/esbmc/esbmc/issues/591#issuecomment-1131638172 applies here:

Option 1. could be done by generating a new `lvalue = false` symbol for each "cast to union" in the frontend instead of building a constant_union expression. What is the expected impact on performance here? Do these non-`lvalue` symbols get encoded as variables for SMT?

I looked into option 2 and it appears

[2022-05-25 09:11] lucasccordeiro commented on #709
@fbrausse: I would suggest option 2 since you don't need to create a new expression, which would affect our CEX generation. @jmorse is our main contributor to the `dereference` module. I'll try to get @jmorse to answer your question.

@mikhailramalho: do you have any thoughts here?

[2022-05-25 09:58] mikhailramalho commented on #709
I agree with @lucasccordeiro, the dereference code should be extended to understand constant_union2t expressions.

[2022-05-25 15:51] #591 closed, assigned to mikhailramalho

[2022-05-25 19:10] jmorse commented on #709
Overall, everything is going to be simpler the earlier that dereferences get compiled out of the intermediate expressions. There are two awkward things happening here:
 * "constant" expressions really mean "literals", they don't necessarily have unchanging values,
 * In C++ at least, you can feed as complicated an expression into a literal as you like.
 *
I suspect the dereference code needs to en

[2022-05-27 12:22] lucasccordeiro commented on #709
@Bo-Yuan-Huang: can I ask you whether you run the branch of https://github.com/esbmc/esbmc/pull/713 over your codebase? @fbrausse has proposed a fix for the issue reported here.

[2022-05-30 11:59] #709 closed, assigned to nobody

[2022-05-30 14:38] Mohannad-Aldughaim opened #714 "__VERIFIER_assert() considered as FUNCTION_CALL in GOTO"
Hello everyone,

Today I found a problem with my implementation of goto-contractors. The problem is with `__VERFIER_assert `being considered as `FUNCTION_CALL `instead of an assert in the goto program. I plan to change this in my implementation to consider function calls and check if they match `__VERFIER_assert `for now. May I ask you if we should change it ESBMC wide?

[2022-05-30 15:42] rafaelsamenezes commented on #714
@mikhailramalho Is there a reason for not converting `__ESBMC_assert` or `__VERIFIER_assert` into an GOTO assertion?

[2022-05-30 15:55] rafaelsamenezes opened #716 "Assertion `uni_type.members.size() != 0' failed"
ESBMC fails in the following program:

[code]

Reduced version:

[code]

[2022-05-30 15:59] lucasccordeiro commented on #716
@fbrausse: could you please take a look at this issue?

[2022-05-30 19:34] fbrausse commented on #716
With neither of these examples I'm getting the error in the title with eff35eb1700838c5af8d619a70b6910ac84d4c0a.
The first version results in an error related to the empty union type `union1`. The "reduced" version gives me `VERIFICATION SUCCESSFUL`.

[2022-05-30 19:48] rafaelsamenezes commented on #716
I will confirm tomorrow if I did a mistake xD. As of now, the assertion itself is in `#ifndef NDEBUG` and the original issue had a `--no-pointer-check` (which shoudn't matter). So:

1. Could you confirm that you are running in a DEBUG build?
2. Could you try adding the `--no-pointer-check`?

[2022-05-30 21:29] fbrausse commented on #716
Yes to both :)

[2022-05-31 08:06] rafaelsamenezes commented on #716
Now I am using eff35eb1700838c5af8d619a70b6910ac84d4c0a

The reduced version does not have the problem anymore. But now the original program still has: ```Assertion `uni_type.members.size() != 0' failed```

[2022-05-31 16:49] lucasccordeiro commented on #637
Current master is failing with this error message for the first program:

[code]

[2022-05-31 16:51] lucasccordeiro commented on #490
@rafaelsamenezes: Is this issue still valid?

[2022-05-31 17:05] lucasccordeiro commented on #331
Closed via https://github.com/esbmc/esbmc/commit/d4c0cf85a3df448a66f0c1cf68d4429cc3864f8c.

[2022-05-31 17:05] #331 closed, assigned to mikhailramalho, ericksonalves

[2022-05-31 18:56] mikhailramalho commented on #714
__VERIFIER_assert is actually a function in SV-COMP that eventually calls
abort, e.g.,
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/verifythis/elimination_max.c#L10

__ESBMC_assert should generate an assertion at goto level, if it isn't,
that's probably a bug. The conversion is done in
goto-programs/builtin_functions.cpp:588

Calling just assert() without including assert.h will also ge

[2022-05-31 21:16] Bo-Yuan-Huang commented on #709
Thanks, I tried the fix and it solved the previous issue. However, it brought up a new issue that took me some time to distill a short example code. Since this issue was closed, I've created a new one (#719).

[2022-05-31 22:26] kunjsong01 opened #720 "[ESBMC++ Dev Tracking] Wrong irept to encode `CXXThisExpr`"
I'm using the tag `[ESBMC++ Development Tracking]` to track the C++ verification bugs to bring up benchmarks.
This type of issues is used to guide development for clang-cpp-frontend.

### Test case:
[code]

### Error message:
[code]

### Preliminary Analysis:
ESBMC failed with migrating the assignment statement inside the constructor from exprt to expr2tc. To generate a symbol2t, we need to name.

[2022-06-01 09:59] mikhailramalho commented on #720
Did you check if the symbol for "this" is added to the symbol table?

Em ter., 31 de mai. de 2022 às 23:26, KSong ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-06-01 10:52] kunjsong01 commented on #720
Yes. The clang-cpp-frontend added an Lvalue symbol with name `c:@S@t1@F@t1#&1$@S@t1#` representing the implicit "this" in `t1()` constructor.

Presumably, I reckon we have the symbols corresponding to the class, its constructor and implicit "this" as shown in the symbol table snippet below:

[code]

I suppose we can adopt it as a generalised methodology to represent implicit "this" in all class me

[2022-06-01 12:30] rafaelsamenezes commented on #714
abort, e.g.,

Since is only a wrapper for a `reach_error`, it may be better to convert it to an assertion then.

[2022-06-01 12:31] lucasccordeiro commented on #714
@rafaelsamenezes: could you please make a PR?

[2022-06-01 12:52] fbrausse commented on #714
Given the lack of concrete declarations concerning the SV-COMP rules (cf. https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/issues/1318) I would caution against hardcoding SV-COMP specific function names and identifying them with particular semantics.

@Mohannad-Aldughaim Could you be more concrete where exactly this problem occurs for you?

[2022-06-01 13:39] Mohannad-Aldughaim commented on #714
@fbrausse
The problem occurs when I parse asserts in the program to create the Constraints for CSP.

[code]
The condition for if statement above will not be true with `__VERIFIER_assert()`

I made a quick hack to fix it temporarily with the following code:
[code]

This change is not committed.

[2022-06-01 13:49] mikhailramalho commented on #714
Can you upload the goto program of the program you're using?

[2022-06-01 14:10] Mohannad-Aldughaim commented on #714
@mikhailramalho

This is one of the benchmarks in SV-COMP
At label 5: is the call to __VERIFIER_assert()

[code]

original code:
[code]

[2022-06-02 09:04] fbrausse opened #723 "Error constructing incompatible structure from one with array member"
While #716 and #719 are about empty or zero-width unions and are addressed by some PRs, these non-standard types supported as compiler extensions continue to make more problems, in particular related to dereferencing:
[code]
leads to
[code]
in one of the deferencet::construct_from_* methods.

[2022-06-02 09:42] fbrausse commented on #637
Both examples do. That's good: both problems are now caught a bit earlier. The reason is still the same though. For the first example:
[code]
and
[code]
They should be equal, but due to the buggy recursive handling in the clang_c_frontend the second is "the uninitialized `struct S` copied into `T`".

[2022-06-02 11:01] rafaelsamenezes opened #724 "ESBMC 6.10"
We should prepare for the next release of ESBMC. @fbrausse has solved lots of union problems recently.

So, which open PRs should we wait for the next release? Is there any other features that we should add before it?

[2022-06-02 11:15] #639 closed, assigned to nobody

[2022-06-02 11:15] #716 closed, assigned to fbrausse

[2022-06-02 11:20] lucasccordeiro commented on #724
@fbrausse still has one PR to be merged. Once that PR is merged, I’m okay to release a new version of ESBMC.

I want to thank @fbrausse for his huge effort to fix many issues concerning our memory model.

[2022-06-02 11:22] mikhailramalho commented on #724
I agree with making a new release, thanks @fbrausse for the effort.

I have one last issue that I wanted @fbrausse to look at before creating the release, should be an easy fix and it will improve our cex slightly.

[2022-06-02 11:35] mikhailramalho opened #725 "Crash in dereference code when using the attached patch."
[0001-patch.txt](https://github.com/esbmc/esbmc/files/8823292/0001-patch.txt)

(ignore the cmt_lvalue in the patch).

The code removed by the patch converts:
[code]
to:
[code]

when there is an array subscript in the C program.

While it's not technically wrong, fixing the dereference code would make the cex looks nicer. Also the witness validators won't complain about it.

[2022-06-02 11:35] mikhailramalho commented on #724
I created issue #725

[2022-06-02 11:46] fbrausse commented on #724
Many thanks! :)

I would like to see whether #723 could be addressed easily (guess it'll be important for C++'s `this` on empty classes).

@mikhailramalho I'll take a look.

[2022-06-02 11:48] mikhailramalho commented on #725
btw, this is from `00_memory_leak_05`, but it's fairly easy to see crashes in `regression/esbmc/` when using this patch.

[2022-06-02 13:13] fbrausse commented on #367
This issue has been solved with the same fix as #331.

[2022-06-02 13:13] #367 closed, assigned to mikhailramalho

[2022-06-03 11:25] fbrausse commented on #725
I've not checked all crashing regressions. At least some of the crashes caused by this patch happen since it generates index expressions on pointers (which is the intent for the display of counter-examples and I agree with it). However, index2t expressions at least seem to be supposed to work only on arrays and strings, see e.g. https://github.com/esbmc/esbmc/blob/74b1ce7cd6ecca91a2012f105f821a50f

[2022-06-03 11:30] fbrausse commented on #725
The dereference code I quoted above actually makes this assumption (index2t on pointer-type'd subexpressions), so maybe this case is just missing in the dereference code. However, the documentation of index2t suggests just arrays: https://github.com/esbmc/esbmc/blob/74b1ce7cd6ecca91a2012f105f821a50f3130303/src/irep2/irep2_expr.h#L2875-L2877

[2022-06-03 12:00] mikhailramalho commented on #725
Right, I see that later we check for index2t (
https://github.com/esbmc/esbmc/blob/74b1ce7cd6ecca91a2012f105f821a50f3130303/src/pointer-analysis/dereference.cpp#L437
).

I _think_ we should extend index2t to handle pointers, since that's a valid
way to access a pointer in C, right? I'm not sure about C++.

Em sex., 3 de jun. de 2022 às 12:30, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalh

[2022-06-03 12:05] fbrausse commented on #725
Locally, this patch https://github.com/fbrausse/esbmc/commit/13291b0cfe9b198754a40397ef438c8559b0e38d passed all tests from the regression suite, i.e. only array- and string-type'd index2t expressions are constructed.

[2022-06-03 12:26] fbrausse commented on #725
way to access a pointer in C, right? I'm not sure about C++.

In C++ it is the same.

I am actually reluctant to generalize the irep2.

I think it is good that
- dereference2t only works on pointers, not arrays
- index2t only works on arrays (to me the string type is weird, what's its purpose?)

I don't like for instance
- member2t working on structs and unions: their semantics wrt. the type algeb

[2022-06-03 12:41] mikhailramalho commented on #725
Em sex., 3 de jun. de 2022 às 13:27, Franz Brauße ***@***.***>
escreveu:

I think historically we had string abstraction in ESBMC, i.e., we
ignored the string's content and only care about some of its properties
like length, but it was removed a long time ago.

Yeah, that's because of SSA/SMT mostly, and record update syntax.

I would kill byte_extract2t/byte_update2t in a heartbeat if I had the
c

[2022-06-03 13:06] fbrausse commented on #725
Thanks for the explanations.

special case *(p + i) when building the cex.

May I ask why? Are there downsides of special-casing it besides transformation of *(p+i) constructs that weren't originally in the source?

dereference level?

Wouldn't that imply to generalize index2t to pointers up until dereferencing? I have no overview what might break elsewhere by changing the assumption that index2t

[2022-06-03 13:24] mikhailramalho commented on #725
Em sex., 3 de jun. de 2022 às 14:07, Franz Brauße ***@***.***>
escreveu:

I just think it's not the cex generation's job to special case the
expression it receives, it should only replace symbols with values when
necessary.

Also, doing that at dereference level would make the goto -> SSA conversion
easier to follow IMHO.

time working/reviewing code there, as the tiniest change can break a bunch

[2022-06-03 13:31] fbrausse commented on #724
I'd suggest not to treat #725 as a blocker for a release. It definitely has a worthy goal, but it is my understanding that it either requires more discussion ("massage" expressions in cex generation or cex presentation) or relaxing assumptions on the irep2 expression `index2t`, which could have lots of side effects.

[2022-06-03 13:34] mikhailramalho commented on #724
I'm fine with that.

I think we'll only see real benefits from #725 in SV-COMP and witness validation.

[2022-06-03 16:45] lucasccordeiro commented on #724
@rafaelsamenezes: Can I ask you to prepare the release 6.10 of ESBMC?

[2022-06-06 23:23] Bo-Yuan-Huang opened #732 "Packed struct"
Version: `75c79ad99d1adfcbedd57835b728ad9bc20c55c0`

Case 1:

Case 2:

Case 3:

Example 1:
[code]

Example 2:
[code]

[2022-06-07 12:53] fbrausse commented on #732
Confirmed all three bugs.
1. attempts to extract 0 bits from `v1` failing in smt_conv
2. is a stack overflow in smt_conv
3. is about a union literal without initializer (also in smt_conv)

[2022-06-07 14:21] kunjsong01 commented on #720
Fixed in commit 068ceb6fd613bc2f2.

[code]

[2022-06-07 14:31] #720 closed, assigned to kunjsong01

[2022-06-07 14:34] rafaelsamenezes opened #735 "Add a test case for goto-contractor bug fixes"
I will approve this request for now. The test case will be added in another PR.

_Originally posted by @rafaelsamenezes in https://github.com/esbmc/esbmc/pull/731#pullrequestreview-998260325_

[2022-06-07 16:07] fbrausse commented on #725
This is based on #734 and contains your patch: https://github.com/fbrausse/esbmc/compare/fb/clean-deref...fbrausse:fb/fix-725

I had to let index2t operate on pointers for it, which means we would have
1. two differently structured kinds of expressions making dereferences, and
2. index2t being removed conceptually from member2t in that it no longer necessarily operates on structured objects such a

[2022-06-08 08:17] mikhailramalho commented on #725
Yeah, I get it :/ But also we wouldn't know when to do the transformation, if a `*(p + i)` was an array access or if it was actually the sum + dereference.

Although it doesn't look pretty, I think we should keep it.

Any thoughts, @lucasccordeiro, @rafaelsamenezes, @shmarovfedor?

[2022-06-08 08:42] rafaelsamenezes commented on #725
I agree, it is better to have a simpler GOTO code and irep.

Can't we store this information as metadata or use the Clang API on the location?

I think that we also should do a revamp of the CE generation. It is long overdue as it is hard to track and test it.

[2022-06-08 08:49] #724 closed, assigned to mikhailramalho, fbrausse, lucasccordeiro, shmarovfedor, rafaelsamenezes

[2022-06-08 08:56] lucasccordeiro commented on #724
@rafaelsamenezes: this release does not show up at https://github.com/esbmc/esbmc/releases.

[2022-06-08 09:00] mikhailramalho commented on #725
Yeah, and also it's legal in C/C++ to have an array subscript using a pointer.

The problem is where to store it, since `*(p+i)` is not a single AST node, like `p[i]`: the former is a dereference of a sum of two symbols, while the latter is an index2t.

[2022-06-08 09:25] fbrausse commented on #725
Even with your proposed patch, the counter-example wouldn't be truly faithful to the user code, e.g.
[code]
would produce
[code]
I'd expect that readers of the counter-examples understand C (same as verifiers). From C's point of view, *(p+i) is semantically equivalent to p[i] and i[p] and cex readers understand that. IMO, p[i] in almost all cases is nicer to read, even if the original code had *(p

[2022-06-08 10:00] fbrausse commented on #723
Same error when the type of `x` is not empty:
[code]
It is caused by construct_struct_ref_from_const_offset() assuming that structure members are structures again. But here it is an array. When fixing this, it is likely a good idea to consider the non-const_offset method as well.

[2022-06-08 14:43] rafaelsamenezes opened #739 "Add a way to get the esbmc binary folder"
I'd like to be able to invoke another process through ESBMC. However, I will need a way to get the binary directory of esbmc path. I believe the best approach for this is:

1. Store `argc` and `argv` into `esbmc_parseoptions.h`
2. Create a function in `filesystem.h` to extract the canonical path (with boost).

[2022-06-08 15:08] fbrausse commented on #725
@mikhailramalho Would https://github.com/esbmc/esbmc/compare/master...fbrausse:fb/fix-725-cex be ok for you and take care of the problem?

[2022-06-09 15:29] #739 closed, assigned to nobody

[2022-06-10 13:28] mikhailramalho commented on #725
yeah, that seems like the easier way to fix it. I'm good with that.

Em qua., 8 de jun. de 2022 às 16:09, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-06-10 14:43] fbrausse commented on #725
Would be nice to also handle `*((p+1)+1)` properly (which my patch doesn't, yet: it produces `(p+1)[1]`). Coding it, however, has shown me that it could be nice to have a separate kind of expression for pointer-arithmetic: It is pointer-typed, has a single distinguished pointer-typed sub-expression and a single (only addition or subtraction of another) integer-typed generic sub-expression. Kind-a

[2022-06-13 08:33] rafaelsamenezes commented on #735
Closed by #737

[2022-06-13 08:33] #735 closed, assigned to Mohannad-Aldughaim

[2022-06-14 08:55] fbrausse commented on #732
1: Cause is not in smt_conv, but in struct layout:
[code]
gets the wrong layout (probably in the padding-code):
[code]
GCC and Clang put members `x` and `y` into the same `int` slot, directly adjacent: ```| x[11:0] | y[7:0] | pad[11:0] |```

I never worked in the padding code, maybe @mikhailramalho knows more?

[2022-06-14 09:00] fbrausse commented on #732
Reduced test-case for 1. aborting when extracting wrongly zero-sized member `y`
[code]

[2022-06-14 10:48] fbrausse commented on #732
2: the stack overflow in convert_ast() comes from the large constant in the size of
[code]
As far as I can see, this gets flattened for a bitcast2t wrapper (initiated by converting the union in `s6` into a very long sequence of concat2t of **edit** ~byte_extract2t~ index2t, linear in the width of the array `x`). ~Maybe we can work with extract2t during flattening instead of byte_extract2t to avoid

[2022-06-14 11:33] fbrausse commented on #732
2: reduced test case (you might need to increase the array-size depending on stack space)
[code]

[2022-06-14 11:44] kunjsong01 opened #747 "[ESBMC++ Dev Tracking] Semantics of CXXNewExpr and CXXDeleteExpr"
I'm trying to generalize the way to handle `CXXNewExpr` and `CXXDeleteExpr` from scratch, since the old code base has too many diffs in both converter, adjuster and goto_convert. (I didn't manage to follow the method in the old code base on my [private dev branch](https://github.com/kunjsong01/esbmc/tree/new-instantiation))

### Here's the test case:
[code]

### Proposal to flatten the `new` and `

[2022-06-14 11:53] fbrausse opened #748 "Remove unused `cmt_lvalue` exprt attribute"
It was probably for typechecking in the old frontend, but it seems we don't use it anymore

_Originally posted by @mikhailramalho in https://github.com/esbmc/esbmc/issues/745#issuecomment-1153949530_

[2022-06-14 13:42] kunjsong01 commented on #747
@fbrausse @rafaelsamenezes comments are appreciated.

[2022-06-14 15:24] fbrausse commented on #747
Hi @kunjsong01! Can you elaborate what you mean by this line?
[code]
My understanding is that you would allocate a new symbol in the local scope (as opposed to dynamic memory allocation), but surely `new t2` does dynamic allocation independent of the local scope.

[2022-06-14 15:50] kunjsong01 commented on #747
@fbrausse I agree.
The initially proposed flattening method just "wraps" the existing instantiation code in a block between the pointer initialization and address assignement line. It is missing dynamic memory allocation, which is obviously wrong.

[The cpp example](https://github.com/esbmc/esbmc/issues/747#issue-1270677884) in the first comment would be (approximately) semantically equivalent to

[2022-06-15 09:53] lucasccordeiro commented on #747
Can't you use `sizeof()` here?

[2022-06-15 10:08] rafaelsamenezes opened #751 "ESBMC is unable to reason indirect cast through variables"
Running `esbmc file.c --no-pointer-check --no-slice`  fails on the following C code.

[code]

[2022-06-15 15:23] rafaelsamenezes opened #752 "Performance degradation for Z3"
The above is for the large array https://github.com/esbmc/esbmc/blob/c7191cda390244cabca0285d0c41a7ad2ffa673e/regression/esbmc/github_732-2-2/main.c

Other solvers do the `--smt-formula-only` much quicker and with less memory:
- Boolector 7.2s 144M
- CVC4 0.77s 152M
- Yices 7.1s 238M
- Bitwuzla 8.9s 146M
- Mathsat 1.4s 175M
- well... and Z3 116.7s 640M

_Originally posted by @fbrausse in https://g

[2022-06-15 15:27] lucasccordeiro commented on #752
@fbrausse: can I ask you whether you could look at this issue? This is a low-priority issue.

[2022-06-16 08:31] fbrausse commented on #752
`perf report -g` output:
[code]

[2022-06-16 12:46] rafaelsamenezes opened #755 "Remove/centralize ESBMC global variables"
Currently, there is no proper way to add globals in ESBMC. And some of those could even be removed. I propose:

1. Creating a singleton to hold global objects;
2. Initialize it at the main function;
3. Remove/refactor the ones that aren't needed.

Edit:

So far I identified the following global variables:
- [X] `static bool is_mul = false;` - Solved by https://github.com/esbmc/esbmc/pull/2345
- [

[2022-06-16 13:07] mikhailramalho commented on #755
Do we really need more globals? :'(

[2022-06-16 13:14] rafaelsamenezes commented on #755
I can think of some that may be needed. Especially for logging and invoking processes.

However, I am proposing to actually put them in the same box, so we can at least deal with them in a sane manner. For instance, the frontends should use lazy initialization.

[2022-06-16 13:29] mikhailramalho commented on #755
Right, I think there are two cases that might benefit from singletons: configt and optionst (configt holds a reference to optionst?).

We can at least simplify a bunch of constructors in ESBMC.

[2022-06-16 14:22] rafaelsamenezes commented on #755
There is also the dependency injection pattern. Which is probably better for this, and we may be able to remove every global.

[2022-06-17 08:59] mikhailramalho commented on #747
Do you have the previous frontend running? How does it work there?

If you don't, I think Felipe uploaded the binary of our C++ paper somewhere.

Basically, new/delete should be handled like malloc/free, so there
shouldn't be any changes on how we build our IR until we reach symex.

Em ter., 14 de jun. de 2022 às 12:44, KSong ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-06-17 09:04] lucasccordeiro commented on #747
We have the implementation of cpp new at GOTO level:

https://github.com/esbmc/esbmc/blob/master/src/goto-programs/builtin_functions.cpp#L262

The ESBMC++ binary is available at https://ssvlab.github.io/esbmc/benchmarks/stvr_2021_experiments.zip.

[2022-06-18 01:13] ChenfengWei0 opened #757 "Segmentation fault in the serialization and de-serialization of goto program"
Hi everyone,

I am working on fixing the goto program I/O interface, including

- Serialization: writing goto program to binary file (new option `--output-goto`)
- De-serialization: read goto program from binary file  (existed option `--binary`)

Here are some bugs I have found and confirmed so far:

1. ~~During serialization, the `goto_program::instructiont` will be converted to `irept`. However,

[2022-06-18 01:17] ChenfengWei0 commented on #757
I have tried to fix some of them. For now it can successfully pass some very basic test cases.

## Successful case

- Command
[code]

- `test.c`
[code]

- Result
[code]

## Failed case

- Command
[code]

Basically all C files generated by Csmith will cause some errors, inluding:

- **segmentation fault**

[code]

- The fault occurs when executing the statement

[code]
  in `src/esbmc/bmc.cpp`

- *

[2022-06-19 00:55] ChenfengWei0 commented on #757
For **failed case 2**, the migration failure can be fixed by:
[code]

After fixing, it will now cause the segmentation fault just like **failed case 1**.

For **failed case 1**, here is a simple test case which can cause a segmentation fault
[code]

[2022-06-20 14:19] fbrausse commented on #755
In what sense is the way the current globals are declared not "proper"?

If I understand correctly, you propose putting all of these declarations together, even unrelated ones, possibly interspersed with #ifdef-s. If so, could you explain the benefit of having this central (global) declaration over the current way they are declared and used? Putting together unrelated ones just because a shared pr

[2022-06-20 16:28] fbrausse commented on #752
This is the formula as generated by --smt-formula-too for Z3: [gh-732-2-2.txt](https://github.com/esbmc/esbmc/files/8942240/gh-732-2-2.txt)

Interesting that the `perf` output for `z3 -v:15 gh-732-2-2.smt2` looks different: `ast_manager::~ast_manager` is not even part of it. <details>

[code]
</details>

[2022-06-20 16:43] rafaelsamenezes commented on #755
Currently, they are all across the project source. Sometimes they are not even needed. So by proper, I mean that we should know why they exist, and where they are used. Right now, they cause some problems: initialization order fiasco and make ESBMC almost impossible to unit test. For instance, is not clear how and when `migrate_namespace_lookup` should be used: https://github.com/esbmc/esbmc/pull/

[2022-06-20 16:51] fbrausse commented on #755
Yes.

[2022-06-20 16:54] fbrausse commented on #755
I understood @mikhailramalho's statement in https://github.com/esbmc/esbmc/issues/588#issuecomment-1010004569 as this variable being related to the split into irep and irep2.

[2022-06-20 17:02] fbrausse commented on #755
First time I hear ESBMC suffers from it. :)
Sure, if their initialization order is important, we should make those depending on it members of a class **edit** or TU.

[2022-06-20 17:59] fbrausse commented on #752
I think this solves the problem:
[code]
If so, of course it should be applied throughout z3_conv.

The core of it: `z3::to_expr()` increases the reference count on the `Z3_ast` expression. Therefore, after wrapping it into `z3::to_expr` we don't need the reference anymore and should release it. By not doing that at present, we cause a memory leak that gets cleaned up (in a probably improvable way

[2022-06-20 22:51] ChenfengWei0 commented on #757
The **segmentation fault** can be solved by:

[code]

in `esbmc_parseoptions.cpp`

Now I it will successfully do the bmc and generate the same result as C file
<img width="1111" alt="1655765444213" src="https://user-images.githubusercontent.com/105888669/174686323-7de60e20-e379-40e1-bb22-77002fb6df67.png">

- `test2.c`
[code]

[2022-06-21 01:12] ChenfengWei0 commented on #757
Overall, there are two bugs:
- Forget to set the `exprt.statement` property when converting `instructiont` to `exprt` , which will cause the **migrate expr failed**.
  - Fixed by adding `codeexpr.statement(irep_idt("goto")); `.
- Forget to initialize the `migrate_namespace_lookup` pointer after reading the symbol table, which will cause the **segmentation fault**.
  - Fixed by adding `migrate_name

[2022-06-21 08:25] fbrausse commented on #752
Actually not, sorry for the noise. Appearently they use a floating reference count initially on creation of ASTs, similar to GTK+'s [GObject](https://docs.gtk.org/gobject/concepts.html#object-memory-management).

Investigating further...

[2022-06-21 11:04] fbrausse commented on #752
It has something to do with memory management of AST nodes. ESBMC's or Z3's. In https://github.com/fbrausse/esbmc/compare/fb/fix-752 the smt_asts are deleted before destructing the z3::context, which circumvents this problem. The root cause is still unknown. I'll open a PR after #749 is merged since this change reverts marking the new test case THOROUGH.

[2022-06-21 11:06] lucasccordeiro commented on #752
Thanks, @fbrausse. I'll merge this PR https://github.com/esbmc/esbmc/pull/749 to progress further with the performance fix, which is crucial for our industrial collaborator.

[2022-06-21 11:15] lucasccordeiro commented on #752
@fbrausse: I have just merged https://github.com/esbmc/esbmc/pull/749. Could you please submit the PR to fix the performance degradation with Z3?

[2022-06-21 11:16] fbrausse commented on #752
Though the solving times get much more normal, [appearently](https://github.com/fbrausse/esbmc/runs/6982525300?check_suite_focus=true) the memory problem persists. :/

[2022-06-21 11:16] lucasccordeiro commented on #732
@Bo-Yuan-Huang: Just to let you know that @fbrausse fixed cases 2 and 3 reported in this issue via https://github.com/esbmc/esbmc/pull/749.

[2022-06-21 12:35] fbrausse commented on #752
Using the --smt-formula-too output, it is possible to reproduce the huge memory requirements (though not the timing ones):
[code]
Watching the process it seems that nearly all the time it uses ~100M and only at the very end jumps to 9G.

I'll file a bug with Z3.

[2022-06-21 17:53] Bo-Yuan-Huang commented on #732
Thanks @lucasccordeiro, @fbrausse , will apply the new fix.

[2022-06-22 05:07] rafaelsamenezes opened #761 "With the new https://github.com/Z3Prover/z3/commit/ab9aee189b7be07d6c0ad6eb218693c534b405d6 (probably going to be part of v4.8.18) both, mem and time performance of Z3 are much better:"
@rafaelsamenezes Is there a way to let the Windows CI run on Z3 master?

_Originally posted by @fbrausse in https://github.com/esbmc/esbmc/pull/760#issuecomment-1162400017_

Basically, lets update the actions to use this commit of Z3.

[2022-06-22 08:52] fbrausse commented on #761
Hi Rafael, thanks! Actually, there has been another fix ontop of that commit which affects running time (positively) and from the description looks like being about correctness: https://github.com/Z3Prover/z3/commit/41deed59a3201375c5c31513c06a4020f594e2a5

[2022-06-22 08:57] fbrausse commented on #752
With latest master of ESBMC and Z3 this issue does not exist anymore. What is the policy on updating dependencies like Z3?

Btw. there are also newer (minor) releases of Boolector: [3.2.1 and 3.2.2](https://github.com/Boolector/boolector/releases).

[2022-06-22 09:05] lucasccordeiro commented on #752
@rafaelsamenezes: could you check these newer versions of Boolector? We should keep our regression over the SV-COMP benchmarks. In the past, we had situations where the newer Boolector versions suffered significant performance degradation in SV-COMP.

[2022-06-22 09:13] rafaelsamenezes commented on #752
Ok, lots of requests here:

Since we do not build Z3 at the CI, it will not be trivial as cvc4 and boolector. I will be adding it though. https://github.com/esbmc/esbmc/issues/761

This is more straightforward to do, just change the branch here: https://github.com/esbmc/esbmc/blob/master/.github/workflows/build.yml#L65

We can then open a PR and run sv-comp directly.

[2022-06-22 10:26] fatimahkj opened #763 "ESBMC crash with --no-goto-merge flag"
ESBMC crash with the following program.

[code]

with the command line :

`./esbmc --no-div-by-zero-check --force-malloc-success --state-hashing --add-symex-value-sets --no-align-check --k-step 5 --floatbv --unlimited-k-steps 36-apron_22-traces-write-centered-vs-meet-mutex_true.i --32  --context-bound 2  --no-pointer-check --no-bounds-check --goto-unwind --unlimited-goto-unwind --incremental-bmc

[2022-06-22 10:41] lucasccordeiro commented on #763
Hello @fatimahkj,

The guard generation for multi-threaded programs is broken in ESBMC. Therefore, if you want to work on the MPOR module, I suggest fixing the guard generation issues in ESBMC, which can be a nightmare.

I would recommend the following:

1) Understand how guards are generated in ESBMC. You can check Mikhail's PhD thesis, which briefly describes how we produce guards in ESBMC.
2) G

[2022-06-22 10:50] lucasccordeiro commented on #763
@fatimahkj: For step 2 above, try reducing the benchmark with c-reduce. You can find further information under `When ESBMC fails but other tools find the result correctly` at https://github.com/esbmc/esbmc/wiki/Reducing-C-Programs.

[2022-06-22 20:58] #757 closed, assigned to nobody

[2022-06-23 13:12] fbrausse commented on #732
@Bo-Yuan-Huang When #764 has landed, we might try to get the packed struct fully functional (which is in the title of this issue). However, semantics of packed structs are not entirely well-defined in C nor in compilers (e.g. <https://gcc.gnu.org/bugzilla/show_bug.cgi?id=36566>). So let me ask you: are you planning on running ESBMC with `--no-align-check` (on at least the code handling packed stru

[2022-06-24 16:04] Bo-Yuan-Huang commented on #732
@fbrausse At this moment, we will first rely on the compiler unless we see significant issues there.

[2022-06-24 18:00] rafaelsamenezes commented on #761
I've updated to use the latest from today.

[2022-06-25 13:11] #761 closed, assigned to rafaelsamenezes

[2022-06-26 06:55] rafaelsamenezes commented on #490
Partially, the 128bit types were added. However, the intrinsics are still missing

[2022-06-27 07:50] rafaelsamenezes commented on #755
As discussed at https://github.com/esbmc/esbmc/pull/769. Config might be refactored into the DI pattern.

[2022-06-27 12:13] #732 closed, assigned to mikhailramalho, fbrausse

[2022-06-27 13:44] Anthonysdu commented on #763
Can you provide the link of Mikhail's thesis?

[2022-06-27 16:09] fbrausse commented on #755
With #770 merged, we can get rid of `esbmc_solvers` and `esbmc_num_solvers` on your list.

[2022-06-27 16:50] lucasccordeiro commented on #763
Take a look at Section 3.5: https://eprints.soton.ac.uk/433530/1/Final_Thesis.pdf

[2022-06-28 20:35] fbrausse commented on #732
@Bo-Yuan-Huang as a note: since #767 was merged, it should not be necessary to pass the extra (global) parameter `--no-align-check` for members of packed structs to work, as they are recognized automatically now. Please let us know if you experience any more problems.

[2022-06-28 21:21] Bo-Yuan-Huang commented on #732
@fbrausse thanks for the notice

[2022-06-29 10:01] fbrausse opened #774 "Duplicated information in `__ESBMC_alloc` and `__ESBMC_deallocated`?"
It seems that both arrays tracking whether objects have been de-/allocated store equivalent information, that is, `__ESBMC_alloc[i] == true` <-> `__ESBMC_deallocated[i] == false`.

They're updated at the same time as well: https://github.com/esbmc/esbmc/blob/e34eacf04f4103962d18d0cd37292072d9dbe489/src/goto-symex/builtin_functions.cpp#L243-L248 and https://github.com/esbmc/esbmc/blob/e34eacf04f410

[2022-06-29 10:12] fbrausse opened #775 "Memory safety: addresses of free'd objects are excluded from the address space"
This affects the memsafety benchmark [c/memsafety/cmp-freed-ptr](https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/blob/main/c/memsafety/cmp-freed-ptr.yml) ([C source](https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/blob/main/c/memsafety/cmp-freed-ptr.c)) which ESBMC wrongly recognizes as `VERIFICATION SUCCESSFUL`:

[code]

The formula generated contains
[code]
asserting that the (

[2022-06-29 10:13] lucasccordeiro commented on #774
I would say yes; both arrays seem to store identical information.

[2022-06-29 10:34] lucasccordeiro commented on #775
I agree.

[2022-06-29 10:40] correcthorsebatterystaple opened #776 "Support for overflow check with unsigned types and shift operations"
Currently ESBMC supports an option `--overflow-check`, this option prompts ESBMC to add assertions to check for overflows in number types. However, there is no support yet for unsigned types which can be confirmed by passing the following C code to ESBMC with the option `--overflow-check`.
[code]
Which yeilds a `Verification Successful`.

Adding overflow check for unsigned types is not difficult a

[2022-06-29 10:55] fbrausse commented on #776
The difference between signed and unsigned overflow is that according to the C standard unsigned overflow is defined as wrap-around while signed overflow is undefined behaviour (UB). And compilers make use of this UB in assuming it can never happen. This UB is what the `--overflow-check` checks.

Indeed, as you argue, unsigned overflow can happen, too, and maybe it should be possible for ESBMC to

[2022-06-29 13:07] mikhailramalho commented on #774
I don't really remember why we do that... maybe related to the memory leak check?

If we don't regress any test case, I'd say go for it.

[2022-06-29 13:11] correcthorsebatterystaple commented on #776
@fbrausse For other frontends, namely solidity, they are both classed as overflows and I would like to be able to detect both via esbmc. What do you suggest I do in this case, should I add some sort of flag to check if the frontend is solidity and then perform the overflow check?

[2022-06-29 13:15] mikhailramalho commented on #776
That's exactly the case, we only check for overflow when the standard states that it's UB, since unsigned integer overflow is not UB, we never check for it.

This could be easily changed in goto_check if we want, maybe the signed integer overflow should be covered by the (yet to come) `--ub-check`, and `--overflow-check` should cover both unsigned and signed cases?

IIRC, cbmc has separate checks

[2022-06-29 13:22] fbrausse commented on #776
Does ESBMC support input files from different languages at the same time? If not, I agree that for non-C-like inputs the `--overflow-check` should probably have a different meaning than for C-like input. But at the GOTO level I believe we don't have the source language information anymore, do we? Maybe this could be put into the config...

[2022-06-29 13:27] mikhailramalho commented on #776
Em qua., 29 de jun. de 2022 às 10:22, Franz Brauße ***@***.***>
escreveu:

Not really.

That sounds like a good strategy since we use the file extension to create
the frontend, but never store which one it was created anywhere. I think we
had different modes at some point but I removed that when it was clear we
only ever verified C/C++ code.

--

Mikhail Ramalho.

[2022-06-29 13:49] fbrausse commented on #776
@correcthorsebatterystaple Could you try to record in `configt` whether the input language was Solidity (or whatever other languages we support) and according to that information check in `goto_check` as suggested by @mikhailramalho for unsigned overflow as well?

[2022-06-29 16:41] correcthorsebatterystaple commented on #776
This seems like an appropriate compromise, I shall proceed with populating the language in configt and then checking for that language when comes time to generate the overflow assertions

[2022-06-29 16:54] lucasccordeiro commented on #776
Salim,

You could create small PRs to implement this feature.

Sent from my iPhone

[2022-06-29 22:30] fbrausse commented on #775
What would be the best way to get the **current** `__ESBMC_alloc` symbol into `smt_convt::finalize_pointer_chain()`? As I understand it, the symbol's name is stored in https://github.com/esbmc/esbmc/blob/e2113d2a54acc456ebc801ede3c9c05341ae33f1/src/goto-symex/goto_symex.h#L816 but `smt_convt` does not have access to it, nor to its current name in the symbolic execution at the point of allocation.

[2022-06-29 23:33] correcthorsebatterystaple opened #778 "ESBMC doesn't detect overflow for signed char"
Steps to reproduce: Run the following C source with esbmc with the `--overflow-check` option
[code]

Expected: Verification failed
Actual: Verification successful

After further investigation it is noted that if the assignment is changed to `i++` or `++i` then the overflow is detected and verification, rightfully, fails.

[2022-06-30 00:19] correcthorsebatterystaple commented on #778
Please ignore the issue ref from the PR above, it has been made by mistake and currently github doesn't let you amend mention histories.

[2022-06-30 03:44] lucasccordeiro commented on #778
It seems to be an instrumentation bug in goto_check.cpp. Did you check whether the assertion is correctly added?

[2022-06-30 06:23] fbrausse commented on #778
This is working as intended. It's the integer promotion rules of C. See how `+` is done on type `int` and therefore does not overflow. Output of `esbmc --parse-tree-only`:

![image](https://user-images.githubusercontent.com/3314468/176605503-cd307367-a2cc-47e8-a513-325d193f20b9.png)

The cast back to `char` according to C is "implementation defined" (not undefined), see [C11 6.3.1.3/3](http://port

[2022-06-30 07:21] rafaelsamenezes commented on #755
I started looking at how config can be revamped in order to remove it as a global. My idea so far, is to:

1. Apply the dependency inversion on it and on whoever uses config.
2. Initialize and inject it through the edbmc_parseoptions.
3. Options and messaget becomes a dependency of a instance of a configuration. This means that instead of passing options/messaget objects down, we would just pass t

[2022-06-30 09:00] lucasccordeiro commented on #775
Hi @fbrausse,

What do you think if we produce the equation at the symex level? I believe our SMT backend should only convert the equations in SSA to SMT. This `finalize_pointer_chain()` sounds a bit weird to me :-)

[2022-06-30 10:17] fbrausse commented on #775
`smt_convt::convert_typecast_to_ptr()` might be another related problem if we allow re-allocation of another object at overlapping addresses. This function should actually be part of smt_memspace.cpp and it assumes that all objects (as numbered by smt_memspace.cpp) except INVALID are uniquely identified by their address range in order to re-create the pointer target. It produces an if-then-else ch

[2022-06-30 10:28] lucasccordeiro commented on #755
It looks good to me.

[2022-06-30 11:29] rafaelsamenezes commented on #752
These are the current failing tests for Z3. We still have some performance issues.

These tests were executed at:
- Ubuntu 20.04
- Z3 4.8.9 (still has the memory bug)
- I've compiled ESBMC  only with Z3.

[code]

[2022-06-30 11:36] fbrausse commented on #752
A little more info, please. What build, what tests were run, what platform, how can I reproduce any of this? For instance (picking at random):
[code]

[2022-06-30 11:42] rafaelsamenezes commented on #752
I've added to the original comment

[2022-06-30 11:45] fbrausse commented on #752
@rafaelsamenezes Your list is not usable at the moment, for instance it contains
[code]
which has `--bitwuzla` explicitely https://github.com/esbmc/esbmc/blob/e2113d2a54acc456ebc801ede3c9c05341ae33f1/regression/incremental-smt/incremental-03/test.desc#L1-L4 and ESBMC neither likes a) specifying multiple solvers nor b) running with a non-built-in solver.

These are not related to this issue. This i

[2022-06-30 11:47] rafaelsamenezes commented on #752
Ow, I will remove those.

The issue is still happening. The issue is that we cannot pinpoint any test case.

[2022-06-30 12:03] fbrausse commented on #752
Where do you see this issue happening? For me it is fixed:
[code]

[2022-06-30 13:03] rafaelsamenezes commented on #752
That's the problem, I am still trying to get a test case that showcase this (this is reported by our stakeholders). The only thing I know is that reverting https://github.com/esbmc/esbmc/pull/615 fixes the performance for them.

Should I close this and reopen for this specific reason?

[2022-06-30 14:11] fbrausse commented on #752
Depends. Is there a connection to the issue about memory/performance with `regression/esbmc/github_732-2-2` that we dealt with initially? It could be, since #615 did lead to encoding unions as long BVs, which also (somehow) were involved in this issue. Though I doubt it is really the same problem: the bug here was caused by excessively long bit-vectors due to arrays in unions being flattened on th

[2022-06-30 17:18] fbrausse commented on #755
With #780 merged, I believe `esbmc_version_string` and the `extensions_*` on your list should be done.

[2022-06-30 17:23] fbrausse opened #782 "`languagest` objects (e.g., during witness gen) maybe shouldn't default to the C language"
I noticed that when creating languagest objects (e.g., during witness gen), we force always the language_idt::C, shouldn't we get that from the config file?

For instance, when generating C++ witnesses, references with be printed as pointer if we use the C expr dump (expr2c) instead of the cpp one (expr2cpp).

_Originally posted by @mikhailramalho in https://github.com/esbmc/esbmc/pull/780#pullreq

[2022-06-30 17:34] mikhailramalho commented on #755
I also want to get rid of messaget, there is a wip patch in a separate
branch but the changes are just to big to be finished quickly.

On Thu, 30 Jun 2022, 04:21 Rafael Sá Menezes, ***@***.***>
wrote:

[2022-06-30 17:35] fbrausse commented on #755
@mikhailramalho Which branch?

[2022-06-30 17:40] fbrausse commented on #776
@correcthorsebatterystaple anything left to do here?

[2022-06-30 18:00] kunjsong01 commented on #747
@lucasccordeiro @mikhailramalho

I found the release notes in stvr_2021_expreiments tools pointing to Version 2.1.0:
[code]

Was the binary built from [Release Version 2.1.0](https://github.com/esbmc/esbmc/releases/tag/v2.1.0)?

P.S.:
It appears that `clang-cpp-frontend` was developped based on the old frontend.
It would great if I can get the source code to built it from scratch and play it with

[2022-06-30 18:39] mikhailramalho commented on #755
It's called message_interface_simplify.

Em qui., 30 de jun. de 2022 às 14:35, Franz Brauße ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-06-30 18:44] mikhailramalho commented on #747
You can get the source via the tag on our repo, but why exactly do you need
it?

After the PR I submitted yesterday, the old cpp frontend is able to
generate the symbol table.

Em qui., 30 de jun. de 2022 às 15:00, KSong ***@***.***>
escreveu:

--

Mikhail Ramalho.

[2022-07-01 06:58] fbrausse opened #783 "return free();"
ESBMC does not accept this C program:
[code]
The error message is confusing to me:
[code]

[2022-07-01 07:24] fbrausse commented on #755
Indeed, it's huge. Having logging as non-member functions certainly simplifies most constructors and classes that now have to use a messaget object; I'd like to have this patch.

[2022-07-01 07:56] rafaelsamenezes commented on #755
It might be simpler if we explicitly make a distinction between logging and user messages. We could isolate the messages into the `esbmc_parseoptions`  and everything else can be a stateless logger.

[2022-07-01 07:59] fbrausse commented on #755
@rafaelsamenezes It seems to be a huge task, similar in size as the patch @mikhailramalho mentioned, and going somewhat into a different direction. I would like to fully understand whether the aim is to remove globals or just to init them. I mean, for `esbmc` and `c2goto` you will never get rid entirely of global state, just because they are executables, not libraries, interacting with "the world"

[2022-07-01 09:27] fbrausse commented on #752
@rafaelsamenezes On the [fb/tst-z3](https://github.com/esbmc/esbmc/tree/fb/tst-z3) branch I've allowed via the benchexec action to pass `--default-solver z3` as cmdline options, but I don't have a Ubuntu-20.04 build of Z3 master to compile ESBMC against in this workflow. If you had such a Z3 build, we could start checking SV-COMP for regressions with Z3.

[2022-07-01 10:15] rafaelsamenezes commented on #755
If it is explicitly and is the behavior that we want then yes.

Right now, we have a confusing initialization system for it. It consists in:

- using the `set` method with the command line.
- manually set the options field e.g. `config.options = options`.

I am not sure why we have a distinction between command line and options though. IMO, command-line should be used only to generate an initial s

[2022-07-01 10:18] rafaelsamenezes commented on #752
Selecting which solver to use looks like a good contribution for the benchexec action.

I also do not have one, I was waiting for the next Z3 official release. However, I can prepare one this afternoon.

[2022-07-01 10:21] fbrausse commented on #775
Another unwanted side effect of the current "steal address space" approach:
[code]
is `VERIFICATION SUCCESSFUL` (after about 12 minutes) when run with `--32 --force-malloc-success`.

[2022-07-01 10:35] fbrausse commented on #752
Thanks! It allows arbitrary cmdline options. I'll open a PR.

Same here :)

That would be great, many thanks! I don't have an Ubuntu 20.04 anywhere close by right now.

[2022-07-01 11:35] mikhailramalho commented on #783
Two problems here:

1. First there are still a bunch of checks that esbmc does that are just
not necessary, since clang already does it for us. If the frontend accepts
it, then we should too.

2. Some of these errors are thrown as exceptions but are poorly caught, so
we get these awful error messages.

On Fri, 1 Jul 2022, 03:58 Franz Brauße, ***@***.***> wrote:

[2022-07-01 13:29] fbrausse opened #785 "Large object sizes get truncated to zero in SMT formula"
Probably due to some missing `uint64_t` or `BigInt`, this functionally identical variation of https://github.com/esbmc/esbmc/issues/775#issuecomment-1172190902
[code]
gives `VERIFICATION FAILED`. This is the correct result, but the wrong reason: the smt-formula encodes the object sizes as zero:
[code]
Same for 8 * 512 MiB. Starting at 16 * 256 MiB the sizes get encoded correctly:
[code]

**Edit**

[2022-07-03 08:37] fbrausse commented on #752
It should now be possible to investigate this further via the benchmarks with `--z3`, as well as the regression suite with `ESBMC_OPTS` set to `--default-solver z3`. The latter will use Z3 when no solver is explicitely specified in the regression test. This won't test all of them, still a majority though, which I believe is intended.

[2022-07-03 11:56] fbrausse commented on #755
Another one for your list in `execution_statet`:
https://github.com/esbmc/esbmc/blob/3eb0a4f154d49f9f67b825d950aed55244ff7c19/src/goto-symex/execution_state.h#L540-L541
The "in this state" in comment above it seems wrong as it's a `static` member.

[2022-07-03 12:54] fbrausse commented on #752
Problematic ones from the regression suite locally for current master (3eb0a4f154d49f9f67b825d950aed55244ff7c19) with 15m timeout:
[code]
Edit:
- Linux (Gentoo)
- Z3-4.8.18.0, 41deed59a3201375c5c31513c06a4020f594e2a5
- usual other solvers are built in: `Available solvers: smtlib z3 boolector cvc4 mathsat yices bitwuzla`

[2022-07-03 13:07] fbrausse commented on #752
All of the failing ones except `regression/nonz3/overflow_12_adpcm` crash with some assertion error about widths in smt_conv. The one that doesn't wrongly gives
[code]

Is one of the timeouts maybe responsible for whereever you see this issue here happening?

[2022-07-04 13:23] fbrausse commented on #725
@mikhailramalho Is there anything left to do here?

[2022-07-04 13:42] mikhailramalho commented on #725
I don't think so.

[2022-07-04 13:42] #725 closed, assigned to fbrausse

[2022-07-05 08:12] #774 closed, assigned to mikhailramalho, shmarovfedor, rafaelsamenezes

[2022-07-05 08:56] rafaelsamenezes opened #790 "LLVM _ExtInt was replaced with _BitInt"
ESBMC will not compile with recent versions of Clang due to this change: https://reviews.llvm.org/D108643.
I suggest we:

1. Discover which version of LLVM introduced this change. @mikhailramalho or @kunjsong01 could you answer this?
1. Either do an `#ifdef` or create a `clang_compat.h` with it or push ESBMC to the next LLVM release.

Although not a priority, this will fix ESBMC build for Apple M1

[2022-07-05 14:09] mikhailramalho commented on #790
BigInt is part of clang version 14.0.x.

I'd say we bump the min clang required version to build esbmc to 14.0.x, since the last Ubuntu LTS ships with clang 14 by default.

[2022-07-05 20:21] fbrausse commented on #790
We already have an `#ifdef` for clang>=12 in AST/build_ast.cpp for some minor API change; don't see a problem with another exception for clang>=14. The current dependency clang-11 is from Oct 2020, while we still stick to old and unfriendly C++14. If dependency version bump, then also bump very old ones, please.

[2022-07-05 20:59] rafaelsamenezes commented on #790
I tend to avoid bumping the clang version as the official Windows release used to be very limited. I will give a look though.

I didn't understand the C++14 comment. You mean the C++ version used by esbmc or the version of the compiler?

[2022-07-05 21:49] fbrausse commented on #790
The one used for esbmc's source code. I'd really like to upgrade to C++17. The compilers on latest (and even prior) Ubuntu LTS understand it. Same as those on other distros. C++17 is more than twice as old as clang-11.

[2022-07-06 04:44] rafaelsamenezes commented on #790
I see. Right now, when I want to use C++17 features I just set it manually for a TU. I dont see any problem in upgrading our standard.

[2022-07-06 07:15] fbrausse commented on #790
Yay!

I've got a few CHERI VMs running OSes that were compiled with the [Morello clang](https://git.morello-project.org/morello/llvm-project) in version 11. The Morello Clang is now at version 13; they sporadically merge upstream. So for testing on those VMs I would still need to support <14 and for pure convenience like to keep the v11 support, if possible. It takes days and (last time) a bunch o